<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <cacheSize>200MB</cacheSize>

    <template desc="menu item">{998B965E-6AB8-4568-810F-8101D60D0CC3}</template>

    <template desc="workflow">{1C0ACC50-37BE-4742-B43C-96A07A7410A5}</template>
    <template desc="state">{4B7E2DA9-DE43-4C83-88C3-02F042031D04}</template>
    <template desc="command">{CB01F9FC-C187-46B3-AB0B-97A8468D8303}</template>
    <template desc="action">{66882E97-C8AA-4E37-8901-7A8AA35ED2ED}</template>

    <item desc="home">{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}</item>

    <!-- Rules -->
    <template desc="Action">{F90052A5-B4E6-4E6D-9812-1E1B88A6FCEA}</template>
    <template desc="Condition">{F0D16EEE-3A05-4E43-A082-795A32B873C0}</template>
    <template desc="Conditional Rendering Rule">{550B5CEF-242C-463F-8ED5-983922A39863}</template>
    <template desc="Content Editor Warning Rule">{71A2C881-FBB3-4A23-A187-7FD50A20F924}</template>
    <template desc="Insert Options Rule">{664E5035-EB8C-4BA1-9731-A098FCC9127A}</template>
    <template desc="Rule">{D9BDF22F-6E17-47F3-AB64-49C717BA92DA}</template>
    <template desc="Script">{AB6DD55D-75E3-4A02-9793-7054ED90FCB6}</template>
    <template desc="Element Folder">{54DAE7CD-BFD8-4E69-9679-75F2AE9F9034}</template>
    <template desc="Rule Elements Visibility Rule">{271F5CF1-95C7-474D-9F04-06C6EBB20D8F}</template>
    <template desc="Rules Context Folder">{DDA66314-03F3-4C89-84A9-39DFFB235B06}</template>
    <template desc="Rules Folder">{8EA2CF67-4250-47A2-AECA-4F70FD200DC7}</template>
    <template desc="Tag">{1A9B6300-4652-477C-A4B5-B2A64E86B29F}</template>
    <template desc="Tags Definition">{854BA861-63EA-4A0C-8C7B-541E9A7EC4C1}</template>
    <template desc="Tags Definitions Folder">{96C8E5DD-63C3-496B-A97C-A3E37E1DACBA}</template>
    <template desc="Visibility">{AA91A868-02F2-41D3-8B78-1CAD91B4DCAE}</template>
    <template desc="Validation Result">{29045375-C15F-4E69-B873-75C3F5C1814B}</template>
    <template desc="Validation Rule">{0512BDE9-5696-42C4-8C7D-B349EDA9CEF9}</template>
</configuration>