<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="Sitecore.Analytics.XConnect.Facets.IXConnectFacets, Sitecore.Analytics.XConnect" implementation="Sitecore.Analytics.XConnect.Facets.XConnectFacets, Sitecore.Analytics.XConnect"/>
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="XConnectFacets" contract="Sitecore.Analytics.XConnect.Facets.IXConnectFacets, Sitecore.Analytics.XConnect" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>
