<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_Core;User ID=sa;Password=rustycage" />
  <add name="master" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_Master;User ID=sa;Password=rustycage" />
  <add name="web" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_Web;User ID=sa;Password=rustycage" />
  <add name="messaging" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_Messaging;User ID=sa;Password=rustycage" />
  <add name="xconnect.collection" connectionString="https://clean-site.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D395DFAE3840133D2B1A7800B034746B961B2154" />
  <add name="xdb.referencedata" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_ReferenceData;User ID=sa;Password=rustycage" />
  <add name="xdb.referencedata.client" connectionString="https://clean-site.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D395DFAE3840133D2B1A7800B034746B961B2154" />
  <add name="xdb.processing.pools" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_Processing.Pools;User ID=sa;Password=rustycage" />
  <add name="reporting" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_Reporting;User ID=sa;Password=rustycage" />
  <add name="xdb.processing.tasks" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_Processing.Tasks;User ID=sa;Password=rustycage" />
  <add name="xdb.marketingautomation" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_MarketingAutomation;User ID=sa;Password=rustycage" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://clean-site.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D395DFAE3840133D2B1A7800B034746B961B2154" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://clean-site.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D395DFAE3840133D2B1A7800B034746B961B2154" />
  <add name="experienceforms" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_ExperienceForms;User ID=sa;Password=rustycage" />
  <add name="exm.master" connectionString="Data Source=DESKTOP-7FH62CT;Initial Catalog=clean-site_EXM.Master;User ID=sa;Password=rustycage" />
  <add name="EXM.CryptographicKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
  <add name="EXM.AuthenticationKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
</connectionStrings>