<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or Reporting or ContentManagement or Processing">
    <overrideXmlControls>
      <override xmlControl="Sitecore.Shell.Applications.Media.MediaBrowser" with="/sitecore/client/applications/Dialogs/SelectMediaDialog" />
    </overrideXmlControls>

    <overrideDialogs>
      <override dialogUrl="/sitecore/shell/Applications/Dialogs/Internal%20link.aspx" with="/sitecore/client/applications/dialogs/InsertLinkViaTreeDialog" />
      <override dialogUrl="/sitecore/shell/Applications/Dialogs/Mail%20link.aspx" with="/sitecore/client/applications/dialogs/InsertEmailDialog" />
      <override dialogUrl="/sitecore/shell/Applications/Dialogs/Anchor%20link.aspx" with="/sitecore/client/applications/dialogs/InsertAnchorDialog" />
      <override dialogUrl="/sitecore/shell/Applications/Item%20browser.aspx" with="/sitecore/client/applications/dialogs/InsertSitecoreItemViaTreeDialog" />
      <override dialogUrl="/sitecore/shell/Applications/Control%20panel.aspx" with="/sitecore/client/Applications/ControlPanel" />
    </overrideDialogs>
 
    <pipelines>
      <!-- Http Request -->
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.HttpRequest.OverrideDialogs, Sitecore.Speak.Applications" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ResolveClientPath, Sitecore.Speak.Client']" />
        <processor type="Sitecore.Pipelines.HttpRequest.OverrideXmlControl, Sitecore.Speak.Applications" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ResolveClientPath, Sitecore.Speak.Client']" />
      </preprocessRequest>
    </pipelines>

    <appDependencies>

    </appDependencies>

  </sitecore>
</configuration>