.message-creation-dialog .sc-dialogWindow-body {
  height: auto !important;
}
.message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="NameLabel"],
.message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="ImportNameLabel"],
.message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="BrowseNameLabel"] {
  line-height: 36px;
}
.sc-popover[data-sc-id="CreatePopover"] .sc-text {
  color: grey;
  font-style: italic;
}
.sc-popover[data-sc-id="CreatePopover"] .sc-text-largetitle {
  color: inherit;
  font-style: inherit;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateMessageBorder"] > div,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListBorder"] > div {
  margin-bottom: 10px;
  min-height: 81px;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateMessageBorder"] > div:hover,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListBorder"] > div:hover {
  background-color: #d6d6d6;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateMessageBorder"] div[class^="col-"],
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListBorder"] div[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.sc-popover[data-sc-id="CreatePopover"] a.sc-hyperlinkbutton {
  font-weight: bolder;
  color: #131313;
  text-decoration: none;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="OneTimeIconColumnPanel"] > img {
  margin-top: -5px;
}
.sc-popover[data-sc-id="CreatePopover"] .sc-border[data-sc-id="CreateBorder"] {
  max-width: 650px;
}
.sc-popover[data-sc-id="CreatePopover"] .row.sc-show-padding {
  padding: 8px 15px !important;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id=CreateMessageColumnPanel] .row.sc-show-padding div:last-child,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id=CreateListColumnPanel] .row.sc-show-padding div:last-child {
  padding-left: 10px !important;
}
.sc-popover[data-sc-id="CreatePopover"] span[data-sc-id=CreateMessageHeadingText],
.sc-popover[data-sc-id="CreatePopover"] span[data-sc-id=CreateListHeadingText] {
  display: block;
  margin-bottom: 15px;
}
.create-recipient-dialog .sc-dialogWindow-body {
  height: 320px !important;
}
@media (min-width: 979px) {
  .modal.message-creation-dialog {
    width: 90% !important;
    max-width: 1200px !important;
  }
}
@media (max-width: 979px) {
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"].sc-border.sc-show-paddingBottom {
    padding-bottom: 10px;
  }
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="NameLabel"],
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="ImportNameLabel"],
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="BrowseNameLabel"] {
    line-height: 30px;
  }
  .message-creation-dialog .sc-show-paddingBottom[data-sc-id="DialogBorder"] {
    padding-bottom: 0;
  }
  .message-creation-dialog .sc-uploader-content {
    padding: 10px 15px;
  }
}
.sc .row div[data-sc-id="MainBorder"] {
  padding: 0 15px 15px 15px;
}
.sc-applicationContent .sc-applicationHeader .sc-ecm-managerroot .sc-dropdownbutton .sc-dropdownbutton-contentpanel {
  z-index: 3;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-contextSwitcher {
  float: right;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-contextSwitcher button[data-sc-id="DefaultSettingsButton"] {
  float: right;
  margin-left: 10px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-contextSwitcher div[data-sc-id="EmailManagerRoot"] {
  float: left;
  margin-right: 10px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-text[data-sc-id="DashboardTitle"] {
  color: white;
  text-transform: uppercase;
  line-height: 20px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm {
  display: inline-block;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li:last-child {
  padding-right: 2px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li:last-child:after {
  margin-left: 0;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li a {
  color: white;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li a:hover {
  color: white !important;
  text-decoration: underline;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb span[data-sc-id="BreadCrumbMessageName"] {
  display: inline-block;
  color: white;
  position: absolute;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/Common/16x16/white/separator.png") no-repeat 0 5px;
  padding-left: 15px;
}
.sc-applicationContent .sc-applicationHeader span.sc-text[data-sc-id="HeaderTitle"] {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-bottom: 2px;
  min-height: 36px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-row2 .sc-applicationHeader-actions > div {
  float: right;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-row2 .sc-applicationHeader-actions div[data-sc-id="EmailManagerRoot"] {
  margin-right: 10px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-row2 .sc-applicationHeader-actions button.btn.sc-button.btn-primary {
  float: right;
  margin-left: 10px;
}
.sc-applicationHeader > .sc-messageBar,
.sc-applicationContent-main > .sc-messageBar {
  margin-top: -1px;
}
.sc-applicationHeader > .sc-messageBar .sc-messageBar-messages-wrap .alert,
.sc-applicationContent-main > .sc-messageBar .sc-messageBar-messages-wrap .alert {
  margin: 0;
  padding: 1px 0 0 0;
}
.sc-advancedcombobox.has-error .select2-choice {
  border: #a94442 1px solid;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.sc-text[data-sc-id="SenderValidateIndicator"]:before {
  vertical-align: top;
  text-align: center;
  width: 10px;
  height: 10px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: -15px;
  font-size: 13px;
}
.sc-text[data-sc-id="SenderValidateIndicator"][data-sc-indicator="1"]:before {
  content: '✖';
  color: #f12b2b;
}
.sc-text[data-sc-id="SenderValidateIndicator"][data-sc-indicator="2"]:before {
  content: '!';
  font-weight: bold;
  color: #ffd800;
}
.sc-text[data-sc-id="SenderValidateIndicator"][data-sc-indicator="3"]:before {
  content: '✔';
  color: #00c22e;
}
.modal-scrollable .sc-border[data-sc-id=ConfirmationTextBorder] .sc-text[data-sc-id="Text"] {
  position: absolute;
  top: 43%;
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, -50%);
  font-size: 1.1em;
  padding-right: 15px;
  margin-left: 63px;
}
.modal-scrollable .sc-border[data-sc-id=AlertBorder] .sc-text[data-sc-id="Text"] {
  font-size: 1.1em;
}
.modal-scrollable .sc-border.sc-border[data-sc-id=ConfirmBorder] {
  height: 100%;
  display: flex;
  align-items: center;
}
.modal-scrollable .sc-border.sc-border[data-sc-id=ConfirmBorder] .sc-image[data-sc-id=ConfirmIcon] {
  float: left;
  padding-right: 15px;
}
.modal-scrollable .sc-border.sc-border[data-sc-id=ConfirmBorder] .sc-text[data-sc-id=ConfirmText] {
  white-space: pre-wrap;
  display: inline-block;
}
.sc-applicationHeader-breadCrumb .sc-text[data-sc-id=BreadcrumbTitle] {
  text-transform: uppercase;
  color: #fff;
}
.sc-applicationContent-main {
  padding: 0;
}
.sc-applicationHeader-back {
  width: 35%;
}
.sc-applicationHeader-contextSwitcher {
  width: 65%;
}
.sc-applicationHeader-contextSwitcher .sc-button[data-sc-id=DefaultSettingsButton],
.sc-applicationHeader-contextSwitcher .sc-actioncontrol,
.sc-applicationHeader-contextSwitcher .sc-ecm-managerroot {
  float: right !important;
}
.sc-applicationHeader-contextSwitcher .sc-ecm-managerroot {
  margin-right: 0 !important;
}
.sc-text[data-sc-id=DnsTxtRecord1Value] {
  word-wrap: break-word;
}