<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures the cache for reference data client that is used to access reference data service via web API endpoint.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <xdb.referenceData.client>
            <!-- Cache implementation which stores entries in memory. -->
            <definitionCache type="Sitecore.Xdb.ReferenceData.Client.Cache.MemoryDefinitionCache, Sitecore.Xdb.ReferenceData.Client">
                <!-- entryLifetime: The lifetime of entries in the cache, given as a TimeSpan -->
                <param name="entryLifetime">00:00:30</param>
            </definitionCache>
            <!-- A decorator which caches results of calls to Read/Write Reference Data Client -->
            <referenceDataClientCachingDecorator type="Sitecore.Xdb.ReferenceData.Client.ReferenceDataHttpClientCachingDecorator, Sitecore.Xdb.ReferenceData.Client">
                <param name="innerReferenceDataClient" ref="xdb.referenceData.client/referenceDataClient" />
                <param name="definitionCache" type="Sitecore.Xdb.ReferenceData.Client.Cache.IDefinitionCache, Sitecore.Xdb.ReferenceData.Client" resolve="true" />
            </referenceDataClientCachingDecorator>
            <!-- A decorator which caches results of calls to Read only Reference Data Client -->
            <readOnlyReferenceDataClientCachingDecorator type="Sitecore.Xdb.ReferenceData.Client.ReadOnlyReferenceDataHttpClientCachingDecorator, Sitecore.Xdb.ReferenceData.Client">
                <param name="innerReadOnlyReferenceDataClient" ref="xdb.referenceData.client/readOnlyReferenceDataClient" />
                <param name="definitionCache" type="Sitecore.Xdb.ReferenceData.Client.Cache.IDefinitionCache, Sitecore.Xdb.ReferenceData.Client" resolve="true" />
            </readOnlyReferenceDataClientCachingDecorator>
        </xdb.referenceData.client>
        <services>
            <!-- Reference data cache which stores entries in memory. -->
            <configurator type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.DefinitionCacheConfigurator, Sitecore.Xdb.ReferenceData.Client.Xmgmt" />
            <!-- Reference data client -->
            <configurator type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.ReferenceDataClientConfigurator, Sitecore.Xdb.ReferenceData.Client.Xmgmt">
                <patch:attribute name="type">Sitecore.Xdb.ReferenceData.Client.Xmgmt.ReferenceDataClientCachingDecoratorConfigurator, Sitecore.Xdb.ReferenceData.Client.Xmgmt</patch:attribute>
            </configurator>
        </services>
    </sitecore>
</configuration>