 <div class="sc-metricslist-wrapper">
    <div class="sc-metricslist-contentliquid">
        <div class="sc-metricslist-content">
            <p class="sc-metricslist-content-title sc-text weight-600-semi-bold large" title="{{$displayName}}">{{$displayName}}</p>
            <p class="sc-metricslist-content-description italic sc-text" title="{{Text}}">{{Text}}</p>
        </div>
    </div>
    <div class="sc-metricslist-leftcolumn">
        <img class="sc-metricslist-icon" src="{{$mediaurl}}"/>
    </div>
    <div class="sc-metricslist-rightcolumn">
        <p class="sc-metricslist-content-value weight-700-bold sc-text xx-large" title="{{Value}}">{{Value}}</p>
        <p class="sc-metricslist-content-value-unit sc-text medium">{{Unit}}</p>
    </div>
</div>

