<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures the Marketing Automation tracking subsystem.
The tracking subsystem is responsible for live events tracking and submitting them to Marketing Automation engine to process.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement and !AnalyticsDisabled">
    <pipelines>
      <registerOutcome>
        <!-- Inspects for live outcomes and kicks off the "submitLiveAutomationEvent" pipeline when one is found. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.RegisterOutcome.LiveOutcomeInspector, Sitecore.Xdb.MarketingAutomation.Tracking" />
      </registerOutcome>
      <registerPageEvent>
        <!-- Inspects for live events and kicks off the "submitLiveAutomationEvent" pipeline when one is found. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.RegisterPageEvent.LivePageEventInspector, Sitecore.Xdb.MarketingAutomation.Tracking" />
      </registerPageEvent>
      
      <!---
        Pipeline that submits live automation event to Marketing Automation engine.
      -->
      <submitLiveAutomationEvent>
        <!-- Creates the contact (if it's new) before processing. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.SubmitLiveAutomationEvent.EnsureContact, Sitecore.Xdb.MarketingAutomation.Tracking" />
        <!-- Adds the ID of the current contact to the data for the live event. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.SubmitLiveAutomationEvent.SetContactId, Sitecore.Xdb.MarketingAutomation.Tracking" />
        <!-- Adds the whole current interaction to the data for the live event. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.SubmitLiveAutomationEvent.AddCurrentInteraction, Sitecore.Xdb.MarketingAutomation.Tracking" />
        <!-- Filters interaction facets in the live event. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.SubmitLiveAutomationEvent.FilterInteractionFacets, Sitecore.Xdb.MarketingAutomation.Tracking">
          <!-- The names of interaction facets to include to the interaction. -->
          <!-- 
          <IncludeFacetNames hint="list">
            <Facet>IpInfo</Facet>
          </IncludeFacetNames>
          -->
          <!-- The IDs of current event definitions this processor will run for. -->
          <!--
          <IncludeForEvents hint="list">
            <EventId type="System.Guid">
              <param>{AE3C2AF0-160E-4570-9C2E-33F942E5951C}</param>
            </EventId>
          </IncludeForEvents>
          -->
          <!-- The IDs of current event definitions this processor will NOT run for. -->
          <!--
          <ExcludeForEvents hint="list">
            <EventId type="System.Guid">
              <param>{B28CA383-BD88-43DF-B16B-DD6A0C1D8AE1}</param>
            </EventId>
          </ExcludeForEvents>
          -->
         </processor>
        <!-- Filters interaction events in the live event. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.SubmitLiveAutomationEvent.FilterInteractionEvents, Sitecore.Xdb.MarketingAutomation.Tracking">
          <!-- The IDs of event definitions to include only. -->
          <!--
          <IncludeEvents hint="list">
            <EventId type="System.Guid">
              <param>{29056FA4-209A-4439-97DA-6E4B65F82ABE}</param>
            </EventId>
          </IncludeEvents>
          -->
          <!-- The IDs of event definitions to exclude. -->
          <!--
          <ExcludeEvents hint="list">
            <EventId type="System.Guid">
              <param>{5CA6A2BE-5F39-4364-84E3-61D91CF5E57B}</param>
            </EventId>
          </ExcludeEvents>
          -->
          <!-- The IDs of current event definitions this processor will run for. -->
          <!--
          <IncludeForEvents hint="list">
            <EventId type="System.Guid">
              <param>{AE3C2AF0-160E-4570-9C2E-33F942E5951C}</param>
            </EventId>
          </IncludeForEvents>
          -->
          <!-- The IDs of current event definitions this processor will NOT run for. -->
          <!--
          <ExcludeForEvents hint="list">
            <EventId type="System.Guid">
              <param>{B28CA383-BD88-43DF-B16B-DD6A0C1D8AE1}</param>
            </EventId>
          </ExcludeForEvents>
          -->
        </processor>
        <!-- Submits the live event to the Automation Engine. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.SubmitLiveAutomationEvent.SubmitLiveEvent, Sitecore.Xdb.MarketingAutomation.Tracking" />
        <!-- Updates the tracker facets if enrollments have been updated. -->
        <processor type="Sitecore.Xdb.MarketingAutomation.Tracking.Pipelines.SubmitLiveAutomationEvent.UpdateTrackerFacets, Sitecore.Xdb.MarketingAutomation.Tracking" />
      </submitLiveAutomationEvent>
    </pipelines>
    <dataAdapterManager>
      <providers>
        <add name="xconnect">
          <facets hint="raw:AddFacet">
            <facet facetKey="AutomationPlanEnrollmentCache"/>
            <facet facetKey="AutomationPlanExit"/>
          </facets>
        </add>
      </providers>
    </dataAdapterManager>
    <services>
      <!-- Automation campaigns/activities management -->
      <register
        serviceType="Sitecore.Xdb.MarketingAutomation.Tracking.Providers.IAutomationActivityModelProvider, Sitecore.Xdb.MarketingAutomation.Tracking"
        implementationType="Sitecore.Xdb.MarketingAutomation.Tracking.Providers.AutomationActivityModelProvider, Sitecore.Xdb.MarketingAutomation.Tracking"
        lifetime="Singleton" />  
    </services>
    <AntiCsrf>
      <rules>
        <rule name="xaml-controls">
          <ignore contains="/sitecore/shell/-/xaml/Sitecore.Shell.Applications.Rules.MarketingAutomation.SelectPlanActivity" />
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>