<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the processing pools that are available to the processing subsystem when aggregating data from the
collection database. The processing pools are shared by the servers that run the aggregation subsystem and the servers that register visits
for aggregation.

In most cases, you should leave this file enabled, so that the server can register things for aggregation, even if the server does not run
any aggregation tasks itself. 

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <aggregationProcessing>
            <processingPools>
                <live type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerInteractionLiveProcessingPool, Sitecore.Xdb.Processing.Queue.SqlServer" singleInstance="true">
                    <param desc="poolDefinition" type="Sitecore.Xdb.Processing.Queue.ProcessingPoolDefinition, Sitecore.Xdb.Processing.Queue">
                        <param desc="retryAttempts" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="10" />
                        <param desc="retryDelay" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="60" />
                        <param desc="description">Interaction Live Processing Pool.</param>
                    </param>
                    <param desc="settings" type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerProcessingPoolSettings, Sitecore.Xdb.Processing.Queue.SqlServer">
                        <param desc="connectionString">xdb.processing.pools</param>
                        <param desc="queueHead" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="16" />
                    </param>
                    <param desc="resolver" type="Sitecore.Xdb.Processing.Queue.SqlServer.ConfigurationConnectionStringResolver, Sitecore.Xdb.Processing.Queue.SqlServer" />
                    <param desc="performanceCounters" type="Sitecore.Analytics.Core.NullPerformanceCounters, Sitecore.Analytics.Core" />
                    <param desc="retryManager" ref="aggregation/retryManager" />
                </live>
                <history type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerInteractionHistoryProcessingPool, Sitecore.Xdb.Processing.Queue.SqlServer" singleInstance="true">
                    <param desc="poolDefinition" type="Sitecore.Xdb.Processing.Queue.ProcessingPoolDefinition, Sitecore.Xdb.Processing.Queue">
                        <param desc="retryAttempts" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="10" />
                        <param desc="retryDelay" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="60" />
                        <param desc="description">Interaction History Processing Pool.</param>
                    </param>
                    <param desc="settings" type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerProcessingPoolSettings, Sitecore.Xdb.Processing.Queue.SqlServer">
                        <param desc="connectionString">xdb.processing.pools</param>
                        <param desc="queueHead" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="16" />
                    </param>
                    <param desc="resolver" type="Sitecore.Xdb.Processing.Queue.SqlServer.ConfigurationConnectionStringResolver, Sitecore.Xdb.Processing.Queue.SqlServer" />
                    <param desc="performanceCounters" type="Sitecore.Analytics.Core.NullPerformanceCounters, Sitecore.Analytics.Core" />
                    <param desc="retryManager" ref="aggregation/retryManager" />
                </history>
                <contact type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerContactProcessingPool, Sitecore.Xdb.Processing.Queue.SqlServer" singleInstance="true">
                    <param desc="poolDefinition" type="Sitecore.Xdb.Processing.Queue.ProcessingPoolDefinition, Sitecore.Xdb.Processing.Queue">
                        <param desc="retryAttempts" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="10" />
                        <param desc="retryDelay" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="60" />
                        <param desc="description">Contact Processing Pool.</param>
                    </param>
                    <param desc="settings" type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerProcessingPoolSettings, Sitecore.Xdb.Processing.Queue.SqlServer">
                        <param desc="connectionString">xdb.processing.pools</param>
                        <param desc="queueHead" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="16" />
                    </param>
                    <param desc="resolver" type="Sitecore.Xdb.Processing.Queue.SqlServer.ConfigurationConnectionStringResolver, Sitecore.Xdb.Processing.Queue.SqlServer" />
                    <param desc="performanceCounters" type="Sitecore.Analytics.Core.NullPerformanceCounters, Sitecore.Analytics.Core" />
                    <param desc="retryManager" ref="aggregation/retryManager" />
                </contact>
            </processingPools>
        </aggregationProcessing>
    </sitecore>
</configuration>