<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file launches the background services that aggregate data from the collection database before it is stored in the
reporting database for use by Sitecore reporting applications.

If the current server does not need to perform aggregation tasks, you can rename this config file so that it has a ".disabled" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or Processing">
        <aggregation>
            <aggregator type="Sitecore.Analytics.Aggregation.InteractionAggregationAgent, Sitecore.Analytics.Aggregation">
                <param desc="xdbContextFactory" type="Sitecore.Analytics.Aggregation.XConnect.DefaultXdbContextFactory, Sitecore.Analytics.Aggregation" />
                <param desc="context" ref="aggregation/aggregatorContexts/interaction/live" />
                <param desc="aggregator" type="Sitecore.Analytics.Aggregation.InteractionBatchAggregator, Sitecore.Analytics.Aggregation" singleInstance="true">
                    <MultiplexingTimeout>0.00:00:01</MultiplexingTimeout>
                </param>
                <param desc="dateTimeStrategy" ref="aggregation/dateTimePrecisionStrategy" />
                <param desc="maximumBatchSize" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="64" />
            </aggregator>
            <dispatchers>
                <contactWorkDispatcher type="Sitecore.Analytics.Aggregation.Data.Contact.ContactWorkDispatcher, Sitecore.Analytics.Aggregation">
                    <param desc="maximumBatchSize">64</param>
                    <Context ref="aggregation/aggregatorContexts/contact/live" />
                </contactWorkDispatcher>
            </dispatchers>
            <historyCompletionCheck type="Sitecore.Analytics.Aggregation.Data.Processing.HistoryCompletionCheckAgent, Sitecore.Analytics.Aggregation">
                <HistoryTaskManager ref="aggregation/historyTaskManager" />
            </historyCompletionCheck>
            <historyWorker type="Sitecore.Analytics.Aggregation.Data.Processing.InteractionHistoryWorker, Sitecore.Analytics.Aggregation">
                <param desc="aggregator" type="Sitecore.Analytics.Aggregation.InteractionBatchAggregator, Sitecore.Analytics.Aggregation" singleInstance="true">
                    <MultiplexingTimeout>0.00:00:01</MultiplexingTimeout>
                </param>
                <param desc="historyTaskManager" ref="aggregation/historyTaskManager" />
                <param desc="aggregatorContext" ref="aggregation/aggregatorContexts/interaction/history" />
                <param desc="dateTimePrecisionStrategy" ref="aggregation/dateTimePrecisionStrategy" />
                <param desc="maximumBatchSize" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="128" />
            </historyWorker>
            <module type="Sitecore.Analytics.Aggregation.AggregationModule" singleInstance="true">
                <BackgroundServices hint="list:Add">
                    <aggregator type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
                        <param desc="agentPath">aggregation/aggregator</param>
                        <param desc="interval" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="0.00:00:15" />
                        <param desc="maxAgents" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="1" />
                    </aggregator>
                    <contactProcessing type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
                        <param desc="agentPath">aggregation/contactProcessing</param>
                        <param desc="interval" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="0.00:00:15" />
                        <param desc="maxAgents" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="1" />
                    </contactProcessing>
                    <rebuild type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
                        <param desc="agentPath">aggregation/rebuildAgent</param>
                        <param desc="interval" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="0.00:00:15" />
                        <param desc="maxAgents" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="1" />
                    </rebuild>
                    <history type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
                        <param desc="agentPath">aggregation/historyWorker</param>
                        <param desc="interval" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="0.00:00:15" />
                        <param desc="maxAgents" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="1" />
                    </history>
                    <historyCompletionCheck type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
                        <param desc="agentPath">aggregation/historyCompletionCheck</param>
                        <param desc="interval" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="0.00:00:15" />
                        <param desc="maxAgents" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="1" />
                    </historyCompletionCheck>
                </BackgroundServices>
            </module>
            <rebuildAgent type="Sitecore.Analytics.Aggregation.Data.Processing.RebuildAgent, Sitecore.Analytics.Aggregation">
                <ReportingStorageManager ref="aggregation/reportingStorageManager" />
            </rebuildAgent>
            <contactProcessing type="Sitecore.Analytics.Aggregation.Data.Contact.ContactProcessingAgent, Sitecore.Analytics.Aggregation">
                <Dispatcher ref="aggregation/dispatchers/contactWorkDispatcher" />
            </contactProcessing>
        </aggregation>
        <maintenanceService type="Sitecore.Analytics.Core.MaintenanceAgent, Sitecore.Analytics.Core">
            <Services>
                <rdbCleanUpPrimary ref="aggregation/reportingStorageProviders/primary" />
            </Services>
        </maintenanceService>
        <hooks>
            <hook type="Sitecore.Analytics.Aggregation.AggregationLoader, Sitecore.Analytics.Aggregation" />
        </hooks>
    </sitecore>
</configuration>