<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <!-- ANALYTICS DEFAULT DEFINITION DATABASE
                 Specifies the name of default database where
                 content item definitions are stored.
              -->
            <setting name="Analytics.DefaultDefinitionDatabase" value="web" role:require="ContentDelivery" />
            <setting name="Analytics.DefaultDefinitionDatabase" value="master" role:require="!ContentDelivery" />

            <!--  ANALYTICS EMAIL FROM ADDRESS
                  Specifies the From address in emails that contain reports.
                  Default: <none>
              -->
            <setting name="Analytics.EMailFromAddress" value="" />

            <!--  ANALYTICS GEOIPS CACHESIZE
                  Determines the number of cached items in the GeoIp Lookup Manager.
                  Default: 1000
              -->
            <setting name="Analytics.GeoIps.CacheSize" value="1000" />
        </settings>
        <commands>
            <command name="analytics:authoringfeedback" type="Sitecore.Shell.Applications.Analytics.AuthoringFeedback.AuthoringFeedback,Sitecore.Xdb.Client" />
        </commands>
        <maintenanceService type="Sitecore.Analytics.Core.MaintenanceAgent, Sitecore.Analytics.Core">
            <Services hint="list:RegisterService" />
        </maintenanceService>
        <coreServices type="Sitecore.Analytics.Core.Subsystem" singleInstance="true">
            <BackgroundServices hint="list:Add">
                <maintenance type="Sitecore.Analytics.Core.AsyncBackgroundService">
                    <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
                    <param desc="agentPath">maintenanceService</param>
                    <param desc="interval" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="0.00:01:00" />
                    <param desc="maxAgents" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="1" />
                </maintenance>
            </BackgroundServices>
        </coreServices>
        <hooks>
            <hook type="Sitecore.Analytics.Core.SubsystemLoader, Sitecore.Analytics.Core">
                <Name>Core Services</Name>
                <Subsystem ref="coreServices" />
            </hook>
        </hooks>
    </sitecore>
</configuration>