<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the reporting subsystem of the Sitecore Experience Database (xDB). The reporting subsystem makes the
experience data available for use by Sitecore reporting applications.

If the current server does not need to be part reporting subsystem, you can rename this config file so that it has a ".disabled" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or Reporting">
        <pipelines>
            <registerReportingDataSource>
                <processor type="Sitecore.Xdb.Reporting.Pipelines.RegisterReportingDataSource.RegisterReportingDataSourceProcessor, Sitecore.Xdb.Reporting">
                </processor>
            </registerReportingDataSource>
        </pipelines>
        <reporting>
            <cacheProvider type="Sitecore.Xdb.Reporting.Caching.ReportDataCacheInMemory, Sitecore.Xdb.Reporting" singleInstance="true">
                <param key="maxCacheSize">50MB</param>
                <param key="defaultCacheExpiration">00:10:00</param>
            </cacheProvider>
            <dataProvider role:require="Standalone or ContentManagement" type="Sitecore.Xdb.Reporting.ReportDataProvider, Sitecore.Xdb.Reporting" singleInstance="true" cacheEnabled="false">
                <datasources hint="list:RegisterDataSource">
                    <add key="item" type="Sitecore.Xdb.Reporting.Datasources.ItemReportDataSource" />
                    <add key="reporting" type="Sitecore.Analytics.Reporting.SqlReportDataSource, Sitecore.Analytics.Sql">
                        <param desc="connectionStringName">reporting</param>
                        <FiltersFactory type="Sitecore.Xdb.Reporting.Filters.ItemBasedFiltersFactory, Sitecore.Xdb.Reporting">
                            <param desc="definitionDatabaseName">master</param>
                            <FiltersPath>/sitecore/system/Settings/Analytics/Vendor Specific Filters/MSSQL</FiltersPath>
                        </FiltersFactory>
                    </add>
                </datasources>
                <InitializationPipelineName>registerReportingDataSource</InitializationPipelineName>
            </dataProvider>
        </reporting>
    </sitecore>
</configuration>