<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file contains the configuration settings that let the reporting APIs communicate with a remote reporting server. This
is useful in environments where the reporting SQL Server is located behind a firewall or where you want to use a separate reporting server.

To enable this include file, rename it so that is has a ".config" extension and update the serviceUrl element with the host name of your
reporting server.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement">
        <reporting>
            <remote enabled="true">
                <httpTransportFactory type="Sitecore.Analytics.Core.ApiKeyHttpTransportFactory, Sitecore.Analytics.Core" singleInstance="true">
                    <param desc="serviceUrl"></param>
                    <param desc="requireHttps" type="System.Boolean" factoryMethod="Parse" arg0="true" />
                    <param desc="connectionStringName">reporting.apikey</param>
                    <!-- The same header name must be defined in Sitecore.Xdb.Remote.Server.config for reporting.-->
                    <param desc="headerName">X-Reporting-Api-Key</param>
                    <param desc="minimalApiKeyLength">32</param>
                </httpTransportFactory>
                <proxyDataSource type="Sitecore.Xdb.Reporting.Datasources.Remote.RemoteReportDataSourceProxy, Sitecore.Xdb.Reporting" />
                <path>/~/v75/reporting/remotedatasourceproxy/</path>
            </remote>
        </reporting>
        <processing>
            <remote enabled="true">
                <reportingStorageManagerProxy type="Sitecore.Analytics.Aggregation.History.Remoting.ReportingStorageManagerProxy, Sitecore.Analytics.Aggregation">
                    <param desc="serviceLocation">/~/v81/processing/reportingstoragemanager/</param>
                    <param desc="webTransportFactory" ref="processing/remote/httpTransportFactory" />
                </reportingStorageManagerProxy>
                <httpTransportFactory type="Sitecore.Analytics.Core.ApiKeyHttpTransportFactory, Sitecore.Analytics.Core" singleInstance="true">
                    <param desc="serviceUrl"></param>
                    <param desc="requireHttps" type="System.Boolean" factoryMethod="Parse" arg0="true" />
                    <param desc="connectionStringName">reporting.apikey</param>
                    <!-- The same header name must be defined in Sitecore.Xdb.Remote.Server.config for reporting.-->
                    <param desc="headerName">X-Processing-Api-Key</param>
                    <param desc="minimalApiKeyLength">32</param>
                </httpTransportFactory>
            </remote>
        </processing>
    </sitecore>
</configuration>