<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the current server as a remote reporting server by enabling the reporting service that makes
reporting data available to remote reporting clients.

To enable this include file, rename it so that is has a ".config" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <customHandlers>
            <handler role:require="Reporting" trigger="/~/v75/reporting/remotedatasourceproxy" type="Sitecore.Xdb.Reporting.Datasources.Remote.RemoteReportDataSourceProxyHandler, Sitecore.Xdb.Reporting" />
            <handler role:require="Processing" trigger="/~/v81/processing/reportingstoragemanager/" type="Sitecore.Analytics.Aggregation.History.Remoting.ReportingStorageManagerHandler, Sitecore.Analytics.Aggregation" />
        </customHandlers>
        <reporting role:require="Reporting">
            <dataProvider type="Sitecore.Xdb.Reporting.HttpApiKeyReportDataProvider, Sitecore.Xdb.Reporting" singleInstance="true" cacheEnabled="false">
                <param desc="checker" ref="reporting/authenticationChecker" />
                <datasources hint="list:RegisterDataSource">
                    <add key="item" type="Sitecore.Xdb.Reporting.Datasources.ItemReportDataSource" />
                    <add key="reporting" type="Sitecore.Analytics.Reporting.SqlReportDataSource, Sitecore.Analytics.Sql">
                        <param desc="connectionStringName">reporting</param>
                        <FiltersFactory type="Sitecore.Xdb.Reporting.Filters.ItemBasedFiltersFactory, Sitecore.Xdb.Reporting">
                            <param desc="definitionDatabaseName">master</param>
                            <FiltersPath>/sitecore/system/Settings/Analytics/Vendor Specific Filters/MSSQL</FiltersPath>
                        </FiltersFactory>
                    </add>
                </datasources>
                <InitializationPipelineName>registerReportingDataSource</InitializationPipelineName>
            </dataProvider>
            <authenticationChecker singleInstance="true" type="Sitecore.Xdb.Reporting.HttpHeaderAuthenticationChecker, Sitecore.Xdb.Reporting">
                <!-- The same header name must be defined in Sitecore.Xdb.Remote.Client.config for CM instance.-->
                <param desc="headerName">X-Reporting-Api-Key</param>
                <param desc="connectionStringName">reporting.apikey</param>
                <param desc="logger" resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
            </authenticationChecker>
        </reporting>
        <processing role:require="Processing">
            <authenticationChecker singleInstance="true" type="Sitecore.Xdb.Reporting.HttpHeaderAuthenticationChecker, Sitecore.Xdb.Reporting">
                <!-- The same header name must be defined in Sitecore.Xdb.Remote.Client.config for CM instance.-->
                <param desc="headerName">X-Processing-Api-Key</param>
                <param desc="connectionStringName">reporting.apikey</param>
                <param desc="logger" resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
            </authenticationChecker>
        </processing>
    </sitecore>
</configuration>