<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the processing subsystem of the Sitecore Experience Database (xDB). Most importantly, it defines the
API that you use to register tasks in the processing Task Manager, regardless of whether this server is configured to perform processing
tasks or not. For more information about using the Task Manager, see the Processing API section in the xDB API Reference Guide.

In most cases, you should leave this file enabled. If the current server does not need to perform processing tasks, you should disable the
Sitecore.Analytics.Processing.Services.config file instead. 

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or Reporting or ContentManagement or Processing">
        <processing>
            <retryManager resolve="true" type="Sitecore.Xdb.Sql.Common.IRetryManager, Sitecore.Xdb.Sql.Common" />
            <TaskDataProvider type="Sitecore.Analytics.Processing.SqlTaskDataProvider, Sitecore.Analytics.Sql">
                <param desc="connectionStringName">xdb.processing.tasks</param>
                <param desc="commandTimeout" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="60" />
                <param desc="ownershipTimeoutMs" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToLong" arg0="3600000" />
                <!-- The minimumRangeSize value should be the same as minimumRangeSize in taskAgent. -->
                <param desc="minimumRangeSize" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="100" />
                <param desc="retryManager" ref="processing/retryManager" />
            </TaskDataProvider>
            <CursorDataProviderFactory type="Sitecore.Analytics.Processing.SqlProcessingCursorDataProviderFactory, Sitecore.Analytics.Sql">
                <param desc="connectionStringName">xdb.processing.tasks</param>
                <param desc="commandTimeout" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="60" />
                <param desc="ownershipTimeoutMs" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="60000" />
                <param desc="retryManager" ref="processing/retryManager" />
            </CursorDataProviderFactory>
            <XdbContextFatory type="Sitecore.Analytics.Aggregation.XConnect.DefaultXdbContextFactory, Sitecore.Analytics.Aggregation" />
            <ProcessingPoolFactory type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerProcessingPoolFactory, Sitecore.Xdb.Processing.Queue.SqlServer">
                <param desc="settings" type="Sitecore.Xdb.Processing.Queue.SqlServer.SqlServerProcessingPoolFactorySettings, Sitecore.Xdb.Processing.Queue.SqlServer">
                    <param desc="connectionString">xdb.processing.pools</param>
                    <param desc="commandTimeout" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="60" />
                    <param desc="queueHead" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="16" />
                </param>
                <param desc="resolver" type="Sitecore.Xdb.Processing.Queue.SqlServer.ConfigurationConnectionStringResolver, Sitecore.Xdb.Processing.Queue.SqlServer" />
                <param desc="performanceCounters" type="Sitecore.Analytics.Core.NullPerformanceCounters, Sitecore.Analytics.Core" />
                <param desc="retryManager" ref="processing/retryManager" />
            </ProcessingPoolFactory>
            <taskAgent type="Sitecore.Analytics.Processing.TaskAgent, Sitecore.Analytics.Processing">
                <param desc="taskDataProvider" ref="processing/TaskDataProvider" />
                <param desc="cursorDataProviderFactory" ref="processing/CursorDataProviderFactory" />
                <param desc="xdbContextFactory" ref="processing/XdbContextFatory" />
                <param desc="poolFactory" ref="processing/ProcessingPoolFactory" />
                <param desc="taskAgentOptions" type="Sitecore.Analytics.Processing.TaskAgentOptions, Sitecore.Analytics.Processing">
                    <param desc="maximumBatchSize" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToShort" arg0="16" />
                    <param desc="maintenanceInterval" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="01:00:00" />
                    <param desc="taskAfterlife" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="01:00:00" />
                    <param desc="minimumRangeSize" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToInt" arg0="100" />
                    <param desc="strategy" type="Sitecore.Analytics.Core.RangeScheduler.LockLeaseStrategy, Sitecore.Analytics.Core">
                        <param desc="baseLeaseDuration" type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" factoryMethod="ToTimeSpan" arg0="00:00:01" />
                    </param>
                </param>
            </taskAgent>
            <taskManager type="Sitecore.Analytics.Processing.TaskManager, Sitecore.Analytics.Processing" singleInstance="true">
                <param desc="taskDataProvider" ref="processing/TaskDataProvider" />
                <param desc="cursorDataProviderFactory" ref="processing/CursorDataProviderFactory" />
                <param desc="xdbContextFactory" ref="processing/XdbContextFatory" />
                <param desc="poolFactory" ref="processing/ProcessingPoolFactory" />
            </taskManager>
        </processing>
    </sitecore>
</configuration>