<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <getStartUrl>
                <processor type="Sitecore.LaunchPad.Pipelines.GetStartUrl.LaunchPadStartUrl, Sitecore.LaunchPad"
                           patch:before="processor[@type='Sitecore.Pipelines.GetStartUrl.GetStartUrlFromSite, Sitecore.Kernel']" />
            </getStartUrl>
        </pipelines>

        <settings>

            <!--  LAUNCHPAD - ENABLED PERSONALIZED FRAMES
            Controls whether to show personalized frames with Experience Analytics charts on the LaunchPad.
            Default: true
            -->
            <setting name="LaunchPad.EnablePersonalizedFrames" value="true" />
        </settings>

    </sitecore>
</configuration>