<?xml version="1.0" encoding="utf-8"?>

<!--
    
Purpose: This include file configures the Reference Data Core and injects it into the Sitecore DI Container.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>   
    <services>

      <!-- Converter to convert between Guid and Definition Moniker -->
      <register
        serviceType="Sitecore.Xdb.ReferenceData.Core.Converter.IMonikerConverter`1[[System.Guid, mscorlib]], Sitecore.Xdb.ReferenceData.Core"
        implementationType="Sitecore.Xdb.ReferenceData.Core.Converter.GuidMonikerConverter, Sitecore.Xdb.ReferenceData.Core"
        lifetime="Singleton" />

      <!-- Utility to aggregate operation results -->
      <register
         serviceType="Sitecore.Xdb.ReferenceData.Core.Results.IDefinitionOperationResultDiagnostics, Sitecore.Xdb.ReferenceData.Core"
         implementationType="Sitecore.Xdb.ReferenceData.Core.Results.DefinitionOperationResultDiagnostics, Sitecore.Xdb.ReferenceData.Core"
         lifetime="Singleton" />

      <!-- Converter to convert between Definition and Definition Record -->
      <register
        serviceType="Sitecore.Xdb.ReferenceData.Core.Converter.IDefinitionRecordConverter, Sitecore.Xdb.ReferenceData.Core"
        implementationType="Sitecore.Xdb.ReferenceData.Core.Converter.DefinitionRecordJsonConverter, Sitecore.Xdb.ReferenceData.Core"
        lifetime="Singleton" />

      <!-- Converter that converts definition data to UTF8 encoded JSON -->
      <register
        serviceType="Sitecore.Xdb.ReferenceData.Core.Converter.IDefinitionEnvelopeConverter, Sitecore.Xdb.ReferenceData.Core"
        implementationType="Sitecore.Xdb.ReferenceData.Core.Converter.DefinitionEnvelopeJsonConverter, Sitecore.Xdb.ReferenceData.Core"
        lifetime="Singleton" />

      <!-- Converter that is used to envelop definition records. -->
      <register
        serviceType="Sitecore.Xdb.ReferenceData.Core.Converter.IRecordEnvelopeConverter, Sitecore.Xdb.ReferenceData.Core"
        implementationType="Sitecore.Xdb.ReferenceData.Core.Converter.RecordEnvelopeCloneConverter, Sitecore.Xdb.ReferenceData.Core"
        lifetime="Singleton" />
        
    </services>
  </sitecore>
</configuration>