.sc-LandingPagesReport .sc-LandingInfo {
  height: 52px;
}
.sc-LandingPagesReport .sc-LandingInfo a,
.sc-LandingPagesReport .sc-LandingInfo span {
  display: inline-block;
  line-height: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.sc-LandingPagesReport .sc-LandingInfo > div {
  border-bottom: 1px solid #f0f0f0;
}
.sc-LandingPagesReport .sc-LandingInfo:last-child > div {
  border-bottom: none;
}
.sc-LandingPagesReport .sc-LandingInfo span[data-sc-id$="Description"] {
  white-space: pre;
  text-align: center;
}
.sc-LandingPagesReport .sc-LandingInfo .sc-landinginfo-icon {
  /* #159069: We don't show icons on Landing Pages Report */
  width: 0;
  padding: 0;
}
.sc-LandingPagesReport .sc-LandingInfo .sc-landinginfo-icon img {
  display: none;
}
.sc-LandingPagesReport .sc-LandingInfo .sc-landinginfo-info {
  width: 125px;
}
.sc-LandingPagesReport .sc-LandingInfo .sc-landinginfo-title {
  width: auto;
  padding-left: 6px;
}
.sc-LandingPagesReport [data-sc-id$=CardWrapper] {
  display: table;
  width: 100%;
  table-layout: fixed;
}