.sc .row div[data-sc-id="MainBorder"] {
  padding: 0 15px 15px 15px;
}
.sc-applicationContent .sc-applicationHeader .sc-ecm-managerroot .sc-dropdownbutton .sc-dropdownbutton-contentpanel {
  z-index: 3;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-contextSwitcher {
  float: right;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-contextSwitcher button[data-sc-id="DefaultSettingsButton"] {
  float: right;
  margin-left: 10px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-contextSwitcher div[data-sc-id="EmailManagerRoot"] {
  float: left;
  margin-right: 10px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-text[data-sc-id="DashboardTitle"] {
  color: white;
  text-transform: uppercase;
  line-height: 20px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm {
  display: inline-block;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li:last-child {
  padding-right: 2px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li:last-child:after {
  margin-left: 0;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li a {
  color: white;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb .sc-breadcrumb.ecm > ul > li a:hover {
  color: white !important;
  text-decoration: underline;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-breadCrumb span[data-sc-id="BreadCrumbMessageName"] {
  display: inline-block;
  color: white;
  position: absolute;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/Common/16x16/white/separator.png") no-repeat 0 5px;
  padding-left: 15px;
}
.sc-applicationContent .sc-applicationHeader span.sc-text[data-sc-id="HeaderTitle"] {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-bottom: 2px;
  min-height: 36px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-row2 .sc-applicationHeader-actions > div {
  float: right;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-row2 .sc-applicationHeader-actions div[data-sc-id="EmailManagerRoot"] {
  margin-right: 10px;
}
.sc-applicationContent .sc-applicationHeader .sc-applicationHeader-row2 .sc-applicationHeader-actions button.btn.sc-button.btn-primary {
  float: right;
  margin-left: 10px;
}
.sc-applicationHeader > .sc-messageBar,
.sc-applicationContent-main > .sc-messageBar {
  margin-top: -1px;
}
.sc-applicationHeader > .sc-messageBar .sc-messageBar-messages-wrap .alert,
.sc-applicationContent-main > .sc-messageBar .sc-messageBar-messages-wrap .alert {
  margin: 0;
  padding: 1px 0 0 0;
}