.message-creation-dialog .sc-dialogWindow-body {
  height: auto !important;
}
.message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="NameLabel"],
.message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="ImportNameLabel"],
.message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="BrowseNameLabel"] {
  line-height: 36px;
}
.sc-popover[data-sc-id="CreatePopover"] .sc-text {
  color: grey;
  font-style: italic;
}
.sc-popover[data-sc-id="CreatePopover"] .sc-text-largetitle {
  color: inherit;
  font-style: inherit;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateMessageBorder"] > div,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListBorder"] > div {
  margin-bottom: 10px;
  min-height: 81px;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateMessageBorder"] > div:hover,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListBorder"] > div:hover {
  background-color: #d6d6d6;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateMessageBorder"] div[class^="col-"],
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListBorder"] div[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.sc-popover[data-sc-id="CreatePopover"] a.sc-hyperlinkbutton {
  font-weight: bolder;
  color: #131313;
  text-decoration: none;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="OneTimeIconColumnPanel"] > img {
  margin-top: -5px;
}
.sc-popover[data-sc-id="CreatePopover"] .sc-border[data-sc-id="CreateBorder"] {
  max-width: 650px;
}
.sc-popover[data-sc-id="CreatePopover"] .row.sc-show-padding {
  padding: 8px 15px !important;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id=CreateMessageColumnPanel] .row.sc-show-padding div:last-child,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id=CreateListColumnPanel] .row.sc-show-padding div:last-child {
  padding-left: 10px !important;
}
.sc-popover[data-sc-id="CreatePopover"] span[data-sc-id=CreateMessageHeadingText],
.sc-popover[data-sc-id="CreatePopover"] span[data-sc-id=CreateListHeadingText] {
  display: block;
  margin-bottom: 15px;
}
.create-recipient-dialog .sc-dialogWindow-body {
  height: 320px !important;
}
@media (min-width: 979px) {
  .modal.message-creation-dialog {
    width: 90% !important;
    max-width: 1200px !important;
  }
}
@media (max-width: 979px) {
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"].sc-border.sc-show-paddingBottom {
    padding-bottom: 10px;
  }
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="NameLabel"],
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="ImportNameLabel"],
  .message-creation-dialog .sc-border[data-sc-id="ContentBorder"] .sc-label[data-sc-id="BrowseNameLabel"] {
    line-height: 30px;
  }
  .message-creation-dialog .sc-show-paddingBottom[data-sc-id="DialogBorder"] {
    padding-bottom: 0;
  }
  .message-creation-dialog .sc-uploader-content {
    padding: 10px 15px;
  }
}
