<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <!-- SETTINGS -->
    <settings>
      <!--  DATABASE
            The name of the Database where content is stored.
      -->
      <setting name="ListManagement.Database" value="master" />

      <!--  BATCH SIZE
            Defines default batch size for large subscription operations
            (e.g. Import contacts from CSV storage, Recalculate subscriptions, Remove duplicates)
      -->
      <setting name="ListManagement.BatchSize" value="250" />

      <!--  FACETS TO MAP
            The list of contact facets retrieved from XConnect to map data from a CSV file.
            Only fields that belong to facets listed here are mapped. All other fields are skipped.
      -->
      <setting name="ListManagement.Import.FacetsToMap" value="Emails|Personal|Addresses" />

      <!--  REQUIRED MAPPING FIELDS
            The list of the required mapping fields. If at least one of these fields is missing in a CSV file
            or is not mapped properly, the entire contact is skipped and not imported.
                
            Please note that the field names below should correspond to the Import Dialog mapping fields configured 
            in the 'core' database (you may use predefined Branches to add new mapping fields):
            '/sitecore/client/Applications/List Manager/Dialogs/ImportWizardDialog/PageSettings/TabControl Parameters/Map/ImportModel'
          -->
      <setting name="ListManagement.Import.RequiredFields" value="Identifier|PreferredEmail_SmtpAddress|Personal_FirstName|Personal_LastName" />

      <!--  IMPORT MAXIMUM THREADS
            Defines the maximum count of threads that can be used for importing operation.
          -->
      <setting name="ListManagement.Import.MaxThreads" value="8" />

      <!--  SYNC TIMEOUT
            Defines default timeout in seconds for indexing synchronization.
      -->
      <setting name="ListManagement.SyncTimeout" value="30" />
      
      <!--  RETRY COUNT
            Count of retries of request to xDB in case of failure.
      -->
      <setting name="ListManagement.XdbRequestRetriesCount" value="4" />
    </settings>

    <xdbClientFactory type="Sitecore.ListManagement.XConnect.XdbClientFactory, Sitecore.ListManagement.XConnect" />

    <listManager>
      <export>
        <field name="Identifier" type="Sitecore.ListManagement.XConnect.Export.IdentifierContactDataReader, Sitecore.ListManagement.XConnect" />
        <field name="Source" type="Sitecore.ListManagement.XConnect.Export.SourceContactDataReader, Sitecore.ListManagement.XConnect" />
        <field name="Email" type="Sitecore.ListManagement.XConnect.Export.EmailContactDataReader, Sitecore.ListManagement.XConnect" />
        <field name="FirstName" type="Sitecore.ListManagement.XConnect.Export.FirstNameContactDataReader, Sitecore.ListManagement.XConnect" />
        <field name="LastName" type="Sitecore.ListManagement.XConnect.Export.LastNameContactDataReader, Sitecore.ListManagement.XConnect" />
      </export>
    </listManager>

    <import>
      <!--  FACET MAPPER
            Maps an array of string data from a CSV line into a contact facet. Each of the mappers
            below is supposed to map a single contact facet at once. A mapper for specific facet
            is matched by the facet name (e.g. "ListSubscriptions", "Emails" or "Personal").
            Default facet names can be found in the 'Sitecore.XConnect.Collection.Model.CollectionModel.FacetKeys'
            class ('Sitecore.XConnect.Collection.Model' assembly).
            
            Note:
            Each mapper should either:
              - map the facet if successfully matched by the facet name and return an instance of 
                the `Sitecore.ListManagement.XConnect.Import.FacetMapped` class, or
            
              - return the 'NoMatch' result if not matched by the facet name. In this case another
                matcher in the chain will be queried for mapping.
                
            A first mapping result different from the 'NoMatch' is considered successful and breaks
            the chain.
      -->
      <facetMapper type="Sitecore.ListManagement.XConnect.Import.CompositeFacetMapperCollection, Sitecore.ListManagement.XConnect">
        <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel"/>
        <facetMappers hint="list:Add">
          <facetMapper type="Sitecore.ListManagement.XConnect.Import.ListSubscriptionMapper, Sitecore.ListManagement.XConnect" />
          <facetMapper type="Sitecore.ListManagement.XConnect.Import.PreferredAddressFacetMapper, Sitecore.ListManagement.XConnect" />
          <facetMapper type="Sitecore.ListManagement.XConnect.Import.PreferredEmailFacetMapper, Sitecore.ListManagement.XConnect" />
          <facetMapper type="Sitecore.ListManagement.XConnect.Import.PersonalInformationFacetMapper, Sitecore.ListManagement.XConnect" />
        </facetMappers>
      </facetMapper>

      <!--  CONTACT FACTORY
            Creates new or resolves existing contacts to be fulfilled with data from 
            a CSV stream using StreamContactImporter.
      -->
      <contactFactory
          type="Sitecore.ListManagement.XConnect.Import.ContactFactory, Sitecore.ListManagement.XConnect" />

      <!--  STREAM CONTACT IMPORTER
            Reads contacts from a CSV stream and imports them into xDB.
      -->
      <streamContactImporter type="Sitecore.ListManagement.Import.StreamContactImporter, Sitecore.ListManagement">
        <param ref="/sitecore/import/contactSource" />
        <param ref="/sitecore/import/contactImporter" />
        <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true" />
      </streamContactImporter>

      <!--  CONTACT SOURCE
            Reads contact data from a CSV stream before further importing.
            It can also be used for filtering out contacts that do not satisfy
            system requirements (e.g. have no email specified) or gather
            statistics.
      -->
      <contactSource type="Sitecore.ListManagement.Import.ValidIdentifierSourceFilter, Sitecore.ListManagement">
        <param type="Sitecore.ListManagement.Import.UniqueIdentifierFilter, Sitecore.ListManagement">
          <param type="Sitecore.ListManagement.Import.RequiredFieldsFilter, Sitecore.ListManagement">
            <param type="Sitecore.ListManagement.Import.IdentifierIndexRangeFilter, Sitecore.ListManagement">
              <param type="Sitecore.ListManagement.Import.CsvContactSource, Sitecore.ListManagement">
                <param type="Sitecore.ListManagement.Import.CsvReader, Sitecore.ListManagement" resolve="true"/>
              </param>
            </param>
          </param>
        </param>
        <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel"/>
      </contactSource>

      <!--  CONTACT IMPORTER
            Imports contact data in batches using import options and 
            gathering import statistics.
      -->
      <contactImporter type="Sitecore.ListManagement.Import.RequiredMappingFieldRangeValidator, Sitecore.ListManagement">
        <param type="Sitecore.ListManagement.Import.ObservableContactImporter, Sitecore.ListManagement">
          <param type="Sitecore.ListManagement.Import.BatchContactImporter, Sitecore.ListManagement">
            <param type="Sitecore.ListManagement.XConnect.Import.XConnectContactImporter, Sitecore.ListManagement.XConnect">
              <param type="Sitecore.ListManagement.XConnect.XdbClientFactory, Sitecore.ListManagement.XConnect" />
              <param ref="/sitecore/import/facetMapper" />
              <param type="Sitecore.ListManagement.Configuration.ListManagementSettings, Sitecore.ListManagement" resolve="true"/>
              <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
            </param>
            <param type="Sitecore.ListManagement.Configuration.ListManagementSettings, Sitecore.ListManagement" resolve="true"/>
          </param>
          <param type="Sitecore.ListManagement.Operations.IListOperationRepository, Sitecore.ListManagement" resolve ="true"/>
        </param>
      </contactImporter>

    </import>

    <!-- PIPELINES -->
    <pipelines>
      <!--  IMPORT MEDIA CONTACTS
            The pipeline is responsible for importing of the contacts from file stored in media library into the xDB.
      -->
      <listManagement.importMediaContacts>
        <processor type="Sitecore.ListManagement.Services.Pipelines.ImportMediaContacts.GetMediaStream, Sitecore.ListManagement.Services" resolve="true" />
        <processor type="Sitecore.ListManagement.Services.Pipelines.ImportMediaContacts.GetContactsFromStream, Sitecore.ListManagement.Services">
          <param ref="/sitecore/import/streamContactImporter" />
          <param type="Sitecore.ListManagement.Configuration.ListManagementSettings, Sitecore.ListManagement" singleinstance="true" resolve="true" />
        </processor>
        <processor type="Sitecore.ListManagement.Services.Pipelines.ImportMediaContacts.RemoveMediaItem, Sitecore.ListManagement.Services" resolve="true" />
      </listManagement.importMediaContacts>
    </pipelines>
    <scheduling>
      <agent type="Sitecore.ListManagement.Operations.UpdateListOperationsAgent, Sitecore.ListManagement" method="Run" interval="00:00:10" resolve="true" />
    </scheduling>
  </sitecore>
</configuration>