<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery or Processing or Reporting and !AnalyticsDisabled">
    <settings>
      <!-- This setting enables XConnect Collection and Search Client to access data extraction services. It is recommended to disable data extraction when not in use. -->
      <setting name="XConnect.Client.EnableDataExtraction" value="false" role:require="ContentDelivery"/>
      <setting name="XConnect.Client.EnableDataExtraction" value="true" role:require="!ContentDelivery" />
    </settings>
    <services>
      <register
          serviceType="Sitecore.XConnect.Client.Configuration.IClientFactory, Sitecore.XConnect.Client.Configuration"
          implementationType="Sitecore.XConnect.Client.Configuration.SitecoreXConnectClientFactory, Sitecore.XConnect.Client.Configuration"
          lifetime="Transient" />
    </services>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <schema name="collectionmodel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration">
            <param desc="modeltype">Sitecore.XConnect.Collection.Model.CollectionModel, Sitecore.XConnect.Collection.Model</param>
          </schema>
        </schemas>
      </runtime>
      <!-- Collection and Search XConnect Client configuration for Standalone or ContentManagement role -->
      <clientconfig type="Sitecore.XConnect.Client.Configuration.SitecoreXConnectClientConfiguration,Sitecore.XConnect.Client.Configuration"
                    singleInstance="true"
                    role:require="Standalone or ContentManagement">
        <param desc="clientModel" ref="xconnect/runtime" />
        <param desc="collectionConnectionStringName">xconnect.collection</param>
        <param desc="searchConnectionStringName">xconnect.collection</param>
        <param desc="configurationConnectionStringName">xconnect.collection</param>
      </clientconfig>
      <!-- Collection only XConnect Client configuration for ContentDelivery or Processing or Reporting and not ContentManagement and not Standalone-->
      <clientconfig type="Sitecore.XConnect.Client.Configuration.SitecoreXConnectClientConfiguration,Sitecore.XConnect.Client.Configuration"
                    singleInstance="true"
                    role:require="ContentDelivery or Processing or Reporting and !ContentManagement and !Standalone">
        <param desc="clientModel" ref="xconnect/runtime" />
        <param desc="collectionConnectionStringName">xconnect.collection</param>
        <param desc="configurationConnectionStringName">xconnect.collection</param>
      </clientconfig>
    </xconnect>
  </sitecore>
</configuration>