<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures the Sitecore.Xdb.Sql.Common component.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <xdb.sql.common>
            <!--
                RetryManager contains policy and retry settings to handle transient faults.
            -->
            <retryManagerSettings type="Sitecore.Xdb.Sql.Common.ExponentialBackoffRetryManagerSettings, Sitecore.Xdb.Sql.Common">
                <param desc="retryCount" type="Sitecore.Xdb.Sql.Common.Xmgmt.ConfigurationHelper, Sitecore.Xdb.Sql.Common.Xmgmt" factoryMethod="ToInt" arg0="10" />
                <param desc="minBackoff" type="Sitecore.Xdb.Sql.Common.Xmgmt.ConfigurationHelper, Sitecore.Xdb.Sql.Common.Xmgmt" factoryMethod="ToTimeSpan" arg0="00:00:01" />
                <param desc="maxBackoff" type="Sitecore.Xdb.Sql.Common.Xmgmt.ConfigurationHelper, Sitecore.Xdb.Sql.Common.Xmgmt" factoryMethod="ToTimeSpan" arg0="00:00:30" />
                <param desc="deltaBackoff" type="Sitecore.Xdb.Sql.Common.Xmgmt.ConfigurationHelper, Sitecore.Xdb.Sql.Common.Xmgmt" factoryMethod="ToTimeSpan" arg0="00:00:10" />
            </retryManagerSettings>
        </xdb.sql.common>
        <services>
            <!-- Sitecore Xdb Sql Common Configurator -->
            <configurator type="Sitecore.Xdb.Sql.Common.Xmgmt.SqlCommonConfigurator, Sitecore.Xdb.Sql.Common.Xmgmt" />
        </services>
    </sitecore>
</configuration>