[data-sc-id="SelectedDateBorder"], [data-sc-id="SelectedTimeBorder"]
{
  position: relative;
  float: left;
}

[data-sc-id="SelectedDateBorder"]
{
  width: 377px;
}

[data-sc-id="SelectedTimeBorder"]
{
  width: 105px;
}

.sc .sc-text[data-sc-id="DateTimeText"]
{
  margin-right: 14px;
}


[data-sc-id="SelectedTime"]
{
  margin-top: 17px;
}
