<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures a work of Sitecore Experience Editor. The SPEAK part of it - the declarations of server requests for Sitecore Experience Editor - is contained and described in the Sitecore.ExperienceEditor.Speak.Requests.config file.  

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceEditor" name="ExperienceEditor">
        <pipelines>
          <prepareEditorResources>
            <processor type="Sitecore.ExperienceEditor.Pipelines.PrepareEditorResources.Processors.RenderHiddenCachedImages, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.ExperienceEditor.Pipelines.PrepareEditorResources.Processors.GenerateSprites, Sitecore.ExperienceEditor" resolve="true" />
            <processor type="Sitecore.ExperienceEditor.Pipelines.PrepareEditorResources.Processors.RenderBundledScripts, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.ExperienceEditor.Pipelines.PrepareEditorResources.Processors.RenderRibbonStyleSheets, Sitecore.ExperienceEditor" resolve="true" />
          </prepareEditorResources>
          <preLoadImages>
            <!--  Static images  -->
            <processor type="Sitecore.ExperienceEditor.Pipelines.PreLoadImages.AddStaticList, Sitecore.ExperienceEditor">
              <path>/sitecore/shell/client/Speak/Assets/img/Speak/MessageBar/sc-message-bar-icons.png</path>
            </processor>
          </preLoadImages>
          <resourceItemResolver>
            <processor type="Sitecore.ExperienceEditor.Pipelines.ResourceItemResolver.ResolveFile, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.ExperienceEditor.Speak.Ribbon.Pipelines.ResourceItemResolver.ResolveSpeakScript, Sitecore.ExperienceEditor.Speak.Ribbon" />
          </resourceItemResolver>
          <ribbonStylesheets>
            <!--  Static stylesheets  -->
            <processor type="Sitecore.ExperienceEditor.Pipelines.RibbonStyleSheets.AddStaticList, Sitecore.ExperienceEditor">
              <path>/sitecore/shell/client/Sitecore/ExperienceEditor/PageEditbar/PageEditbar.css</path>
              <path>/sitecore/shell/client/Sitecore/Speak/Ribbon/Controls/QuickBar/QuickBar.css</path>
              <path>/sitecore/shell/client/Sitecore/Speak/Ribbon/Controls/Strip/Strip.css</path>
              <path>/sitecore/shell/client/Sitecore/Speak/Ribbon/Controls/Panel/Panel.css</path>
              <path>/sitecore/shell/client/Sitecore/Speak/Ribbon/Controls/SmallCheckButton/SmallCheckButton.css</path>
              <path>/sitecore/shell/client/Sitecore/Speak/Ribbon/Controls/BreadCrumb/Breadcrumb.css</path>
            </processor>
          </ribbonStylesheets>
          <pageEditingStyleSheets>
            <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingStyleSheets.Processors.ResolveSystemStyleSheets, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingStyleSheets.Processors.AddStaticList, Sitecore.ExperienceEditor">
              <path>/sitecore/shell/client/Sitecore/Speak/Ribbon/Controls/BreadCrumb/Breadcrumb.css</path>
              <path>/sitecore/shell/client/Sitecore/ExperienceEditor/Pages/LeftOverflowPanel/LeftOverflowPanel.css</path>
            </processor>
          </pageEditingStyleSheets>
          <getPageModeCapabilities>
            <processor type="Sitecore.ExperienceEditor.Pipelines.GetPageModeCapabilities.DefaultCapabilities, Sitecore.ExperienceEditor" />
          </getPageModeCapabilities>
          <getExperienceEditorRibbon>
            <processor type="Sitecore.ExperienceEditor.Speak.Ribbon.Pipelines.GetExperienceEditorRibbon.AddWebEditRibbon, Sitecore.ExperienceEditor.Speak.Ribbon" />
            <processor type="Sitecore.ExperienceEditor.Speak.Ribbon.Pipelines.GetExperienceEditorRibbon.AddWebEditContentEditor, Sitecore.ExperienceEditor.Speak.Ribbon" />
          </getExperienceEditorRibbon>
          <!--  Controls actions performed on presentation components in Experience Editor -->
          <executePageEditorAction>
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.ReplaceRendering, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.PreviewRendering, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.StopIfSublayout, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.TryGetXslContol, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.TryGetWebControl, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.InitActionHandler, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.ExecutePageEditorAction.GetDefaultControl, Sitecore.ExperienceEditor" />
          </executePageEditorAction>
          <executePageEditorActionArgumentResolver>
            <processor type="Sitecore.ExperienceEditor.Pipelines.ExecutePageEditorActionArgumentResolver.EditorArguments, Sitecore.ExperienceEditor" />
          </executePageEditorActionArgumentResolver>
          <getPageEditorNotifications>
            <processor type="Sitecore.ExperienceEditor.Pipelines.GetPageEditorNotifications.LanguageAccessNotification, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorNotifications.GetWorkflowNotification, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorNotifications.NeverPublishNotification, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorNotifications.FallbackFieldsCountNotification, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorNotifications.ReadOnlyNotification, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorNotifications.GetLockingNotification, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorNotifications.GetWriteAccessDeniedNotification, Sitecore.ExperienceEditor" />
          </getPageEditorNotifications>
          <!-- Gets the validators, that will be executed when saving page in Experience Editor-->
          <getPageEditorValidators>
            <processor type="Sitecore.Pipelines.GetPageEditorValidators.CheckSettings, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorValidators.GetItemValidators, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorValidators.GetGlobalValidators, Sitecore.ExperienceEditor" />
            <processor type="Sitecore.Pipelines.GetPageEditorValidators.GetFieldValidators, Sitecore.ExperienceEditor" />
          </getPageEditorValidators>
          <pageEditingScripts>
            <!--  Base scripts  -->
            <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingScripts.AddDeclaredScripts, Sitecore.ExperienceEditor">
              <path>/sitecore/shell/Controls/Lib/Console/ConsoleStub.js</path>
              <path>/sitecore/shell/Controls/Lib/jQuery/jquery-1.6.4.min.js</path>
              <path>/sitecore/shell/Controls/Lib/jQuery/jQueryUI/1.10.3/jquery-ui-1.10.3.min.js</path>
              <path>/sitecore/shell/Controls/Lib/jQuery/jquery.tmpl.min.js</path>
              <path>/sitecore/shell/Controls/Lib/jQuery/jQuery.noconflict.strict.js</path>
              <path>/sitecore/shell/Controls/Lib/jQuery/jQuery.scextensions.js</path>
              <path>/sitecore/shell/Controls/Lib/JSON/JSON2.min.js</path>
              <path>/sitecore/shell/Controls/Lib/Base/base.js</path>
              <path>/sitecore/shell/Applications/Content Manager/WordOCX/WordOCX.js</path>
              <path>/sitecore/shell/Applications/Page Modes/Utility.js</path>
              <path>/sitecore/shell/Applications/Page Modes/Event.js</path>
              <path>/sitecore/shell/Applications/Page Modes/Cache.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeTypes/ChromeType.js</path>
              <path>/sitecore/shell/Applications/Page Modes/NotificationBar.js</path>
              <path>/sitecore/shell/Applications/Page Modes/PositioningManager.js</path>
              <path>/sitecore/shell/Applications/Page Modes/PageEditor.js</path>
              <path>/sitecore/shell/Applications/Page Modes/InlineEditingUtil.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeManager.js</path>
              <path>/sitecore/shell/Applications/Page Modes/DesignManager.js</path>
              <path>/sitecore/shell/Applications/Page Modes/LayoutDefinition.js</path>
              <path>/sitecore/shell/Applications/Page Modes/Chrome.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeControls.js</path>
              <path>/sitecore/shell/Controls/Rich Text Editor/RTEfixes.js</path>
              <path>/sitecore/shell/Applications/Page Modes/RichControls/Context.js</path>
              <path>/sitecore/shell/Applications/Page Modes/RichControls/Bar/Bar.js</path>
              <path>/sitecore/shell/Applications/Page Modes/RichControls/Bar/Panel.js</path>
            </processor>
            <!--  Content Editing  -->
            <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingScripts.AddDeclaredScripts, Sitecore.ExperienceEditor">
              <path>/sitecore/shell/Applications/Page Modes/Position.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeFrame.js</path>
              <path>/sitecore/shell/Applications/Page Modes/SelectionFrame.js</path>
              <path>/sitecore/shell/Applications/Page Modes/HoverFrame.js</path>
              <path>/sitecore/shell/Applications/Page Modes/HighlightFrame.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeTypes/PlaceholderChromeType.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeTypes/RenderingChromeType.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeTypes/FieldChromeType.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeTypes/EditFrameChromeType.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeTypes/WordFieldChromeType.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeTypes/WrapperlessFieldChromeType.js</path>
              <path>/sitecore/shell/Applications/Page Modes/PlaceholderSorting.js</path>
              <path>/sitecore/shell/Applications/Page Modes/PlaceholderInsertion.js</path>
              <path>/sitecore/shell/Applications/Page Modes/MoveControlFrame.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeHighlightManager.js</path>
              <path>/sitecore/shell/Applications/Page Modes/ChromeOverlay.js</path>
              <path>/sitecore/shell/Controls/SitecoreOutOfFrameGallery.js</path>
              <path>/sitecore/shell/Applications/WebEdit/WebEdit.js</path>
            </processor>
          </pageEditingScripts>
        </pipelines>
      </group>
      <getLayoutSourceFields>
        <processor type="Sitecore.ExperienceEditor.Speak.Ribbon.Pipelines.GetLayoutSourceFields.SetLayoutRenderings, Sitecore.ExperienceEditor.Speak.Ribbon" />
      </getLayoutSourceFields>
      <injectExperienceEditorRibbonComponents>
      </injectExperienceEditorRibbonComponents>
      <!-- changeEditorResourcesToInclude pipeline is no longer supported please use pageEditingScripts pipeline instead -->
      <changeEditorResourcesToInclude>
      </changeEditorResourcesToInclude>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.PageEditorHandleNoLayout, Sitecore.ExperienceEditor" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" />
        <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.CheckDevice, Sitecore.ExperienceEditor" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" />
        <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.ResolveContentLanguage, Sitecore.ExperienceEditor" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <getChromeData>
        <processor patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetFieldChromeData, Sitecore.Kernel']"
                   type="Sitecore.ExperienceEditor.Pipelines.GetChromeData.InitializeChromeFieldDisplayName, Sitecore.ExperienceEditor" />
      </getChromeData>
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Sitecore/ExperienceEditor/" deep="true" category="ExperienceEditor" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client/Sitecore/Speak/Ribbon" deep="true" category="ribbon" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
    <pageextenders>
      <pageextender type="Sitecore.Shell.Applications.Preview.SimulatedDevicePreview.PageExtenders.PreviewExtender, Sitecore.ExperienceEditor" />
      <!-- Page extender for SPEAK-based Experience Editor ribbon.  -->
      <pageextender type="Sitecore.ExperienceEditor.Speak.Ribbon.PageExtender.RibbonPageExtender, Sitecore.ExperienceEditor.Speak.Ribbon" />
    </pageextenders>
    <xslExtensions>
      <extension mode="on" type="Sitecore.Web.UI.WebControls.WebEditRibbon, Sitecore.ExperienceEditor" namespace="http://www.sitecore.net/webedit" singleInstance="true" />
    </xslExtensions>
    <settings>
      <!--  WEB EDIT AFFECT WORKFLOW FOR DATA SOURCE ITEMS
            Move datasources through the workflow with the context item.
            Default value: true
      -->
      <setting name="WebEdit.AffectWorkflowForDatasourceItems" value="true" />
      <!--  WEB EDIT AUTO SAVE ON EDIT FRAME
            Indicates whether whether item is automatically saved when edit frame is closed after editing.
            Default value: true
      -->
      <setting name="WebEdit.AutoSaveOnEditFrame" value="true" />
      <!--  WEB EDIT BUNDLED JS FILES PATH
            Specifies the path where bundled JavaScript files are stored if WebEdit.EnableJSBundling = true
            Default value: /sitecore/shell/Applications/Page Modes/Ouput/
      -->
      <setting name="WebEdit.BundledJSFilesPath" value="/sitecore/shell/Applications/Page Modes/Ouput/" />
      <!--  WEB EDIT CONTENT EDITOR STYLESHEET
            The stylesheet to include in the content editor in WebEdit mode.
            Default value: /webedit.css
      -->
      <setting name="WebEdit.ContentEditorStylesheet" value="/webedit.css" />
      <!--  WEBEDIT DEFAULT BUTTON PATH
            Specifies default location of edit frame buttons in the core database.
            Default value: /sitecore/content/Applications/WebEdit/Edit Frame Buttons/Default
      -->
      <setting name="WebEdit.DefaultButtonPath" value="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Default" />
      <!--  WEBEDIT DISABLE ANIMATIONS
            Disables animation effects in the Experience Editor.
            Default value: false
      -->
      <setting name="WebEdit.DisableAnimations" value="false" />
      <!--  WEB EDIT ALL VERSIONS
            Allows switch to the shared layout of the page.
            Default value: true
      -->
      <setting name="WebEdit.EditAllVersions" value="true" />
      <!--  WEB EDIT ENABLE VALIDATION
            If true, the Experience Editor will execute item and field validation rules whenever a user tries to save items in the Experience Editor.
            Only 'Critical' and 'Fatal' validators are evaluated, and item validation rules are executed for the current context item only.
            Field validation rules are only executed for fields that the current user can modify in the Experience Editor.
            Default value: true
      -->
      <setting name="WebEdit.EnableValidation" value="true" />
      <!--  WEB EDIT ENABLE STYLESHEET BUNDLING
            Indicates whether web edit specific CSS files should be bundled into one file.
            Default value: true
      -->
      <setting name="WebEdit.EnableStylesheetBundling" value="true" />
      <!--  WEB EDIT ENABLE JS BUNDLING
            Indicates whether web edit specific JavaScript files should be bundled into one file.
            Default value: true
      -->
      <setting name="WebEdit.EnableJSBundling" value="true" />
      <!--  WEB EDIT EXPERIENCE EDITOR STYLESHEET
            The stylesheet to include in the experience editor.
            Default value: /shell/client/Sitecore/ExperienceEditor/Ribbon.css
      -->
      <setting name="WebEdit.ExperienceEditorStylesheet" value="/sitecore/shell/client/Sitecore/ExperienceEditor/Ribbon.css" />
      <!--  WEB EDIT JQuery UI STYLESHEET
            The stylesheet to include in the experience editor in WebEdit mode.
            Default value: /sitecore/shell/Controls/Lib/jQuery/jQueryUI/1.10.3/smoothness/jquery-ui-1.10.3.min.css
      -->
      <setting name="WebEdit.JQueryUIStylesheet" value="/sitecore/shell/Controls/Lib/jQuery/jQueryUI/1.10.3/smoothness/jquery-ui-1.10.3.min.css" />
      <!--  WEB EDIT PLACEHOLDERS EDITABLE WITHOUT SETTINGS
            Indicates whether placeholders should be editable in the Experience Editor if placeholder settings are not specified.
            Default value: false
      -->
      <setting name="WebEdit.PlaceholdersEditableWithoutSettings" value="false" />
      <!--  WEB EDIT SHOW NUMBER OF LOCKED ITEMS ON BUTTON
            Indicates whether WebEdit counts and shows user's locked items.
            Default value: true
      -->
      <setting name="WebEdit.ShowNumberOfLockedItemsOnButton" value="true" />
      <!--  WEB EDIT USE POPUP EDITOR
            Indicates whether WebEdit uses the popup content editor.
            Default value: false
      -->
      <setting name="WebEdit.UsePopupContentEditor" value="false" />
    </settings>

    <!-- EXPERIENCE EDITOR COMMANDS
         The commands that run in the Experience Editor.
    -->
    <commands>
      <command name="webedit:addrendering" type="Sitecore.Shell.Applications.WebEdit.Commands.AddRendering, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:add" type="Sitecore.Shell.Applications.WebEdit.Commands.Add, Sitecore.ExperienceEditor" />
      <command name="webedit:changelayout" type="Sitecore.Shell.Applications.WebEdit.Commands.ChangeLayout, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:chooseimage" type="Sitecore.Shell.Applications.WebEdit.Commands.ChooseImage, Sitecore.ExperienceEditor" />
      <command name="webedit:clearimage" type="Sitecore.Shell.Applications.WebEdit.Commands.ClearImage, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:closepagedesigner" type="Sitecore.Shell.Applications.WebEdit.Commands.ClosePageDesigner, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:componentoptions" type="Sitecore.Shell.Applications.WebEdit.Commands.ComponentOptions, Sitecore.ExperienceEditor" />
      <command name="webedit:delete" type="Sitecore.Shell.Applications.WebEdit.Commands.Delete, Sitecore.ExperienceEditor" />
      <command name="webedit:edit" type="Sitecore.Shell.Applications.WebEdit.Commands.Edit, Sitecore.ExperienceEditor" />
      <command name="webedit:edithtml" type="Sitecore.Shell.Applications.WebEdit.Commands.EditHtml, Sitecore.ExperienceEditor" />
      <command name="webedit:editdate" type="Sitecore.Shell.Applications.WebEdit.Commands.EditDate, Sitecore.ExperienceEditor" />
      <command name="webedit:editimage" type="Sitecore.Shell.Applications.WebEdit.Commands.EditImage, Sitecore.ExperienceEditor" />
      <command name="webedit:editlink" type="Sitecore.Shell.Applications.WebEdit.Commands.EditLink, Sitecore.ExperienceEditor" />
      <command name="webedit:clearlink" type="Sitecore.Shell.Applications.WebEdit.Commands.ClearLink, Sitecore.ExperienceEditor" />
      <command name="webedit:insertlink" type="Sitecore.Shell.Applications.WebEdit.Commands.InsertLink, Sitecore.ExperienceEditor" />
      <command name="webedit:insertexternallink" type="Sitecore.Shell.Applications.WebEdit.Commands.InsertExternalLink, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:editplaceholdersettings" type="Sitecore.Shell.Applications.WebEdit.Commands.EditPlaceholderSettings, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:editrenderingproperties" type="Sitecore.Shell.Applications.WebEdit.Commands.EditRenderingProperties, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:editword" type="Sitecore.Shell.Applications.WebEdit.Commands.EditWord, Sitecore.ExperienceEditor" />
      <command name="webedit:end" type="Sitecore.Shell.Applications.WebEdit.Commands.End, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:fieldeditor" type="Sitecore.Shell.Applications.WebEdit.Commands.FieldEditor, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->

      <command name="webedit:insertimage" type="Sitecore.Shell.Applications.WebEdit.Commands.InsertImage, Sitecore.ExperienceEditor" />
      <command name="webedit:layoutsaved" type="Sitecore.Shell.Applications.WebEdit.Commands.LayoutSaved, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:new" type="Sitecore.Shell.Applications.WebEdit.Commands.New, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:nextday" type="Sitecore.Shell.Applications.WebEdit.Commands.NextDay, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:open" type="Sitecore.Shell.Applications.WebEdit.Commands.Open, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:openpagedesigner" type="Sitecore.Shell.Applications.WebEdit.Commands.OpenPageDesigner, Sitecore.ExperienceEditor" />
      <command name="webedit:previousday" type="Sitecore.Shell.Applications.WebEdit.Commands.PreviousDay, Sitecore.ExperienceEditor" />
      <command name="webedit:rename" type="Sitecore.Shell.Applications.WebEdit.Commands.Rename, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:sortcontent" type="Sitecore.Shell.Applications.WebEdit.Commands.SortContent, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:save" type="Sitecore.Shell.Applications.WebEdit.Commands.Save, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:search" type="Sitecore.Shell.Applications.WebEdit.Commands.Search, Sitecore.ExperienceEditor" />

      <command name="webedit:setdatasource" type="Sitecore.Shell.Applications.WebEdit.Commands.SetDatasource, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:setdevice" type="Sitecore.Shell.Applications.WebEdit.Commands.SetDevice, Sitecore.ExperienceEditor" />
      <command name="webedit:setlanguage" type="Sitecore.Shell.Applications.WebEdit.Commands.SetLanguage, Sitecore.ExperienceEditor" />
      <command name="webedit:simulatedevice" type="Sitecore.Shell.Applications.WebEdit.Commands.SimulateDevice, Sitecore.ExperienceEditor" />
      <command name="webedit:stopdebug" type="Sitecore.Shell.Applications.WebEdit.Commands.StopDebug, Sitecore.ExperienceEditor" />
      <command name="webedit:unlock" type="Sitecore.Shell.Applications.WebEdit.Commands.Unlock, Sitecore.ExperienceEditor" />
      <command name="webedit:unlockall" type="Sitecore.Shell.Applications.WebEdit.Commands.UnlockAll, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:webedit" type="Sitecore.Shell.Applications.WebEdit.Commands.WebEdit, Sitecore.ExperienceEditor" />

      <!-- OBSOLETE START: These commands are obsolete and will be removed in the next version -->
      <command name="webedit:wordinsertlink" type="Sitecore.Shell.Applications.WebEdit.Commands.EditWordInsertLink, Sitecore.ExperienceEditor" />
      <command name="webedit:wordinsertmedia" type="Sitecore.Shell.Applications.WebEdit.Commands.EditWordInsertMedia, Sitecore.ExperienceEditor" />
      <!-- OBSOLETE END -->

      <command name="webedit:openexperienceeditor" type="Sitecore.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.ExperienceEditor" />
      <command name="webedit:workflowwithdatasourceitems" type="Sitecore.ExperienceEditor.WebEdit.Commands.WorkflowWithDatasourceItems, Sitecore.ExperienceEditor" />
    </commands>
    <services>
      <configurator type="Sitecore.ExperienceEditor.DependencyInjection.EditorServiceConfigurator, Sitecore.ExperienceEditor" />
    </services>
  </sitecore>
</configuration>