<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <services>
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionManagerSearchSettings, Sitecore.Marketing.Search"
          implementationType="Sitecore.Marketing.Search.DefaultDefinitionManagerSearchSettings, Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.Search.TypeConverters.IStepStringConverter, Sitecore.Marketing.Search"
          implementationType="Sitecore.Marketing.Search.TypeConverters.StepStringConverter, Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!-- Campaign -->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.CampaignDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedCampaign, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!-- Funnel -->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.FunnelDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedFunnel, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!-- Automation plan -->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.AutomationPlanDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedAutomationPlan, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!--Events-->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.EventDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedEvent, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!--Page Events-->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.PageEventDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedPageEvent, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!--Contact Lists-->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.ContactListDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedContactList, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!-- Profiles -->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.ProfileDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedProfile, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />

      <!-- Segments -->
      <register
          serviceType="Sitecore.Marketing.Search.IDefinitionSearchProvider`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          set:implementationType="Sitecore.Marketing.Search.SegmentDefinitionSearchProvider, Sitecore.Marketing.Search" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.Activation.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.DeleteDefinition.IDeleteDefinitionObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.Search.Observers.DeleteDefinition.DeleteFromSearchIndexObserver`2[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing], [Sitecore.Marketing.Search.IndexedSegment, Sitecore.Marketing.Search]], Sitecore.Marketing.Search"
          lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>