<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures Marketing Operations observable feeds that use xDB reference data client to activate definitions.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentManagement or Standalone">
    <services>
      <!-- Common -->
      <register
          serviceType="Sitecore.Xdb.ReferenceData.Core.Converter.IMonikerConverter`1[[System.Guid, mscorlib]], Sitecore.Xdb.ReferenceData.Core"
          implementationType="Sitecore.Xdb.ReferenceData.Core.Converter.GuidMonikerConverter, Sitecore.Xdb.ReferenceData.Core"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Xdb.ReferenceData.Core.Results.IDefinitionOperationResultDiagnostics, Sitecore.Xdb.ReferenceData.Core"
          implementationType="Sitecore.Xdb.ReferenceData.Core.Results.DefinitionOperationResultDiagnostics, Sitecore.Xdb.ReferenceData.Core"
          lifetime="Singleton" />

      <!-- Asset -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Assets.AssetCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Assets.AssetCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Assets.AssetDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Assets.DeployAssetDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Automation plan -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.AutomationPlans.PlanCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.AutomationPlans.PlanCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.AutomationPlans.AutomationPlanDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.AutomationPlans.DeployAutomationPlanDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Campaign -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Campaigns.CampaignCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Campaigns.CampaignCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Campaigns.CampaignDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Campaigns.DeployCampaignDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Contact list -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.ContactLists.ContactListCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.ContactLists.ContactListCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.ContactLists.ContactListDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.ContactLists.DeployContactListDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Event -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Events.EventCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Events.EventCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Events.EventDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Events.DeployEventDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Funnel -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Funnels.FunnelCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Funnels.FunnelCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Funnels.FunnelDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Funnels.DeployFunnelDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Goal -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Goals.GoalCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Goals.GoalCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Goals.GoalDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Goals.DeployGoalDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Outcome -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Outcomes.OutcomeCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Outcomes.OutcomeCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Outcomes.OutcomeDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Outcomes.DeployOutcomeDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Page Event -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.PageEvents.PageEventCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.PageEvents.PageEventCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.PageEvents.PageEventDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.PageEvents.DeployPageEventDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Profile-->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Profiles.ProfileCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Profiles.ProfileCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Profiles.ProfileDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Profiles.DeployProfileDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />

      <!-- Segment -->
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.IDefinitionConverter`3[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Segments.SegmentCommonData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Segments.SegmentCultureData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model]], Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Segments.SegmentDefinitionConverter, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Segments.DeploySegmentDefinitionReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      
      <!-- Taxonomy -->
      <register
          serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Taxonomy.ITaxonDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
          implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Taxonomy.TaxonDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
          lifetime="Singleton" /> 
      <register
          serviceType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Taxonomy.Deployment.IDeployManager, Sitecore.Marketing.xMgmt.ReferenceData"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Taxonomy.Deployment.DeployManager, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Taxonomy.Data.Entities.TaxonEntity, Sitecore.Marketing.Taxonomy]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.xMgmt.ReferenceData.Observers.Activation.Taxonomy.Observers.DeployTaxonReferenceDataObserver, Sitecore.Marketing.xMgmt.ReferenceData"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationObservableFeed`1[[Sitecore.Marketing.Taxonomy.Data.Entities.TaxonEntity, Sitecore.Marketing.Taxonomy]], Sitecore.Marketing"
          implementationType="Sitecore.Marketing.ObservableFeed.Activation.ActivationRetryingObservableFeed`1[[Sitecore.Marketing.Taxonomy.Data.Entities.TaxonEntity, Sitecore.Marketing.Taxonomy]], Sitecore.Marketing"
          lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>