<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the marketing taxonomy management module.

In most cases, you should leave this file enabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <services>
      <!-- Pipelines -->
      <register
          serviceType="Sitecore.Abstractions.ICorePipeline, Sitecore.Abstractions"
          implementationType="Sitecore.Abstractions.CorePipelineWrapper, Sitecore.Abstractions"
          lifetime="Transient" />

      <!-- Provider -->
      <register
          serviceType="Sitecore.Marketing.Taxonomy.ITaxonomyManagerProvider, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.TaxonomyManagerProvider, Sitecore.Marketing.Taxonomy"
          lifetime="Singleton" />

      <!-- Known Managers -->
      <register
          serviceType="Sitecore.Marketing.Taxonomy.ITaxonomyManager, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.CampaignGroupTaxonomyManager, Sitecore.Marketing.Taxonomy"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.Taxonomy.ITaxonomyManager, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.ChannelTaxonomyManager, Sitecore.Marketing.Taxonomy"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.Taxonomy.ITaxonomyManager, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.VenueTaxonomyManager, Sitecore.Marketing.Taxonomy"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.Taxonomy.ITaxonomyManager, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.AssetTaxonomyManager, Sitecore.Marketing.Taxonomy"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.Taxonomy.ITaxonomyManager, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.OutcomeGroupTaxonomyManager, Sitecore.Marketing.Taxonomy"
          lifetime="Singleton" />
      
      <!-- Repository settings -->
      <register
          serviceType="Sitecore.Marketing.Taxonomy.xMgmt.Data.ItemDb.IItemTaxonomyRepositorySettings, Sitecore.Marketing.Taxonomy.xMgmt"
          implementationType="Sitecore.Marketing.Taxonomy.xMgmt.Data.ItemDb.DefaultItemTaxonomyRepositorySettings, Sitecore.Marketing.Taxonomy.xMgmt"
          lifetime="Singleton" />
      
      <!-- Repository -->
      <register
          serviceType="Sitecore.Marketing.Taxonomy.Data.ITaxonomyRepository, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.Data.ItemDb.ItemTaxonomyRepository, Sitecore.Marketing.Taxonomy.xMgmt" 
          lifetime="Singleton" />

      <!-- Mapper -->
      <register
          serviceType="Sitecore.Marketing.Taxonomy.Mapping.ITaxonomyTypeMapper, Sitecore.Marketing.Taxonomy"
          implementationType="Sitecore.Marketing.Taxonomy.Mapping.TaxonomyTypeMapper, Sitecore.Marketing.Taxonomy"
          lifetime="Singleton" />

      <!-- Campaign mappers -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.CampaignGroup.CampaignGroupTaxonomyMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.CampaignGroup.CampaignGroupMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Channel mappers -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelTaxonomyMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelTypeMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelGroupMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Venue mappers -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueTaxonomyMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueTypeMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueGroupMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Asset mappers -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Asset.AssetTaxonomyMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Asset.AssetGroupMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Asset.AssetMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Outcome Group mappers -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.OutcomeGroup.OutcomeGroupTaxonomyMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.OutcomeGroup.OutcomeGroupMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Custom mappers -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Custom.CustomTaxonomyMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Custom.CustomTaxonGroupMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Mapping.IMapper, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Mapping.Custom.CustomTaxonMapper, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Caching -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.ICacheStorageFactory, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Caching.NullCacheStorageFactory, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.ITaxonomyCacheSettings, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Caching.DefaultTaxonomyCacheSettings, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.AssetsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Caching.AssetsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.CampaignGroupsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Caching.CampaignGroupsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.ChannelsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Caching.ChannelsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.OutcomeGroupsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Caching.OutcomeGroupsTaxonomyCache, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.VenuesTaxonomyCache, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Caching.VenuesTaxonomyCache, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Custom taxonomy manager factory -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.ICustomTaxonomyManagerFactory, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.CustomTaxonomyManagerFactory, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />

      <!-- Resolvers -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Resolvers.ResolveUnknownTaxon.IUnknownTaxonResolver, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Resolvers.ResolveUnknownTaxon.DefaultUnknownTaxonomyResolver, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Resolvers.ResolveUnknownTaxon.IUnknownTaxonResolver, Sitecore.Marketing.Taxonomy"
        implementationType="Sitecore.Marketing.Taxonomy.Resolvers.ResolveUnknownTaxon.DefaultUnknownTaxonResolver, Sitecore.Marketing.Taxonomy"
        lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>