<?xml version="1.0" encoding="utf-8" ?>
<!-- Purpose: Sitecore.Marketing.Taxonomy.xMgmt.config patch for the content delivery server roles. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentDelivery">
    <services>
      <!-- Caching -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.Caching.ITaxonomyCacheSettings, Sitecore.Marketing.Taxonomy"
        set:implementationType="Sitecore.Marketing.Taxonomy.Caching.CDTaxonomyCacheSettings, Sitecore.Marketing.Taxonomy" />

      <!-- Repository settings -->
      <register
        serviceType="Sitecore.Marketing.Taxonomy.xMgmt.Data.ItemDb.IItemTaxonomyRepositorySettings, Sitecore.Marketing.Taxonomy.xMgmt"
        set:implementationType="Sitecore.Marketing.Taxonomy.xMgmt.Data.ItemDb.CDItemTaxonomyRepositorySettings, Sitecore.Marketing.Taxonomy.xMgmt" />
    </services>
  </sitecore>
</configuration>