<?xml version="1.0" encoding="utf-8" ?>

<!--
    
Purpose: This include file configures the xDB Marketing Automation locators and injects them into the Sitecore DI Container.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <xdb.locators>
            <activityDescriptorLocator type="Sitecore.Xdb.MarketingAutomation.Locators.Xmgmt.AutomationPlans.ItemActivityDescriptorLocator, Sitecore.Xdb.MarketingAutomation.Locators.Xmgmt">
                <!-- Name of the database to locate activity descriptors. -->
                <param name="databaseName">master</param>
                
                <!-- The ID of the folder to locate activity descriptors. -->
                <param name="activityTypeFolderId" type="System.Guid">
                    <param>{2DF0885C-7154-470D-B5CF-275B84B24248}</param>
                </param>
              
                <param name="logger" type="Microsoft.Extensions.Logging.ILogger`1[[Sitecore.Xdb.MarketingAutomation.Locators.Xmgmt.AutomationPlans.ItemActivityDescriptorLocator, Sitecore.Xdb.MarketingAutomation.Locators.Xmgmt]], Microsoft.Extensions.Logging.Abstractions" resolve="true"/>
            </activityDescriptorLocator>
        </xdb.locators>
        <services>
            <configurator
              type="Sitecore.Xdb.MarketingAutomation.Locators.Xmgmt.AutomationPlans.Configuration.ItemActivityDescriptorLocatorConfigurator, Sitecore.Xdb.MarketingAutomation.Locators.Xmgmt" />
        </services>
    </sitecore>
</configuration>