<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <!-- Http Request -->
            <preprocessRequest>
                <processor type="Sitecore.Speak.Integration.Spa.Pipelines.PreprocessRequest.ResolveClientPath, Sitecore.Speak.Integration.Spa" >
                    <param desc="root">/sitecore/shell/client/applications/*</param>
                </processor>
            </preprocessRequest>
        </pipelines>
        <services>
            <configurator type="Sitecore.Speak.Integration.Spa.Configurator, Sitecore.Speak.Integration.Spa"/>
            <configurator type="Sitecore.Speak.Integration.Services.Configurator, Sitecore.Speak.Integration.Services"/>
        </services>
    </sitecore>
</configuration>
