<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="SitecoreSpeakIntegrationComponentAccessController">Sitecore.Speak.Integration.Services.Controllers.ComponentAccessController, Sitecore.Speak.Integration.Services</allowedController>
            <allowedController desc="SitecoreSpeakIntegrationContextController">Sitecore.Speak.Integration.Services.Controllers.ContextController, Sitecore.Speak.Integration.Services</allowedController>
            <allowedController desc="SitecoreSpeakIntegrationTranslateController">Sitecore.Speak.Integration.Services.Controllers.TranslateController, Sitecore.Speak.Integration.Services</allowedController>
            <allowedController desc="SitecoreSpeakIntegrationUtilsController">Sitecore.Speak.Integration.Services.Controllers.UtilsController, Sitecore.Speak.Integration.Services</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>