.sc-exm-RecipientListSelector .sc-text[data-sc-id$="IsRequired"] {
  display: none;
}
.sc-exm-RecipientListSelector [data-sc-id$="Actions"] .dropdown-menu {
  z-index: 10000;
}
.modal-open .sc-exm-RecipientListSelector [data-sc-id$="Actions"] .dropdown-menu {
  z-index: 1060;
}
.sc-exm-RecipientListSelector.isRequired .sc-text[data-sc-id$="IsRequired"] {
  color: #f00;
  font-size: 28px;
  display: inline-block;
  float: left;
}
.sc-exm-RecipientListSelector.isRequired .sc-advancedcombobox,
.sc-exm-RecipientListSelector.isRequired .sc-border[data-sc-id$="ResultBorder"] {
  padding-left: 25px;
}
.sc-exm-RecipientListSelector .sc-border[data-sc-id$="ResultBorder"] .sc-text[data-sc-id$="NoLists"] {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 150px;
}
.modal-open .select2-drop-active,
.modal-open .select2-drop-mask {
  z-index: 1060;
}