<?xml version="1.0" encoding="utf-8"?>

<!--
    
Purpose: This include file configures Marketing Operations taxonomy repositories that use xDB reference data store.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Processing or Reporting">
    <services>
      <!-- Taxonomy -->
      <register
          serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Taxonomy.ITaxonDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
          implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Taxonomy.TaxonDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
          lifetime="Singleton" />
      <register
          serviceType="Sitecore.Marketing.Taxonomy.Data.ITaxonomyRepository, Sitecore.Marketing.Taxonomy"
          set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Taxonomy.TaxonomyReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />
    </services>
  </sitecore>
</configuration>