<?xml version="1.0" encoding="utf-8"?>

<!--
    
Purpose: This include file configures Marketing Operations definition repositories that use xDB reference data store.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Processing or Reporting">
    <settings>
      <!-- MARKETING OPERATIONS - REFERENCE DATA - CONNECTION STRING NAME
                 The name of the connection string that is used to connect to the reference data store.
                 Default value: referencedata
            -->
      <setting name="Sitecore.Marketing.Operations.Xdb.ReferenceData.ConnectionStringName" value="xdb.referencedata" />

      <!-- MARKETING OPERATIONS - REFERENCE DATA - DEFINITION CACHE ENTRY LIFETIME
                 The lifetime of entries in the definition cache (in seconds).
                 Default value: 30
            -->
      <setting name="Sitecore.Marketing.Operations.Xdb.ReferenceData.DefinitionCacheEntryLifetime" value="30" />
    </settings>
    <services>
      <!-- Asset -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Assets.AssetData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.MarketingAssets.Data.MarketingAssetDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Assets.AssetDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.MarketingAssets.Data.IMarketingAssetDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Assets.MarketingAssetDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Automation plan -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.AutomationPlans.PlanData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.AutomationPlans.Data.AutomationPlanDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.AutomationPlans.PlanDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.AutomationPlans.Data.IAutomationPlanDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.AutomationPlans.PlanDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Campaign -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Campaigns.CampaignData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.Campaigns.Data.CampaignActivityDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Campaigns.CampaignDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.Campaigns.Data.ICampaignDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Campaigns.CampaignDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- ContactList -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.ContactLists.ContactListData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.ContactLists.Data.ContactListDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.ContactLists.ContactListDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.ContactLists.Data.IContactListDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.ContactLists.ContactListDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Event -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Events.EventData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.Events.Data.EventDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Events.EventDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.Events.Data.IEventDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Events.EventDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Funnel -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Funnels.FunnelData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.Funnels.Data.FunnelDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Funnels.FunnelDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.Funnels.Data.IFunnelDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Funnels.FunnelDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Goal -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Goals.GoalData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.Goals.Data.GoalDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Goals.GoalDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.Goals.Data.IGoalDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Goals.GoalDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Outcome -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Outcomes.OutcomeData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.Outcomes.Data.OutcomeDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Outcomes.OutcomeDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.Outcomes.Data.IOutcomeDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Outcomes.OutcomeDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- PageEvent -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.PageEvents.PageEventData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.PageEvents.Data.PageEventDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.PageEvents.PageEventDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.PageEvents.Data.IPageEventDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.PageEvents.PageEventDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Profile -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Profiles.ProfileData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.Profiles.Data.ProfileDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Profiles.ProfileDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.Profiles.Data.IProfileDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Profiles.ProfileDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

      <!-- Segment -->
      <register
        serviceType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.IDefinitionDataConverter`2[[Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Segments.SegmentData, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model], [Sitecore.Marketing.Definitions.Segments.Data.SegmentDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model.Definitions.Segments.SegmentDataConverter, Sitecore.Marketing.Operations.Xdb.ReferenceData.Model"
        lifetime="Singleton" />
      <register
        serviceType="Sitecore.Marketing.Definitions.Segments.Data.ISegmentDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service.Definitions.Segments.SegmentDefinitionReferenceDataRepository, Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" />

    </services>
  </sitecore>
</configuration>