<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file contains configuration settings for the Sitecore Path Analyzer processing agents.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or Processing">
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="Sitecore.PathAnalyzer.Pipelines.Interactions.TreeProcessor, Sitecore.PathAnalyzer">
              <LivePool ref="aggregationProcessing/processingPools/pathAnalyzerLive" />
              <HistoryPool ref="aggregationProcessing/processingPools/pathAnalyzerHistory" />
            </processor>
          </interactions>
        </pipelines>
      </group>
    </pipelines>
    <!-- HOOKS -->
    <hooks>
      <hook type="Sitecore.PathAnalyzer.Processing.SubsystemLoader, Sitecore.PathAnalyzer"/>
    </hooks>
    <!-- PATH ANALYZER
          Define the agents and processors that are used to create and merge Path Analyzer maps.
    -->
    <pathAnalyzer>
      <mapWorker type="Sitecore.PathAnalyzer.Processing.Aggregation.MapWorker, Sitecore.PathAnalyzer" />
      <newMapAggregator type="Sitecore.PathAnalyzer.Processing.TreeAggregator, Sitecore.PathAnalyzer" singleInstance="true">
        <Context ref="aggregation/aggregationContexts/pathAnalyzer/live" />
        <DateTimeStrategy ref="aggregation/dateTimePrecisionStrategy" />
      </newMapAggregator>
      <subsystem type="Sitecore.Analytics.Core.Subsystem" singleInstance="true">
        <BackgroundServices hint="list:Add">
          <newMap type="Sitecore.Analytics.Core.BackgroundService">
              <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
              <param desc="agentPath">pathAnalyzer/newMapAgent</param>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="interval" factoryMethod="ToTimeSpan" arg0="0.00:01:00"/>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="maxAgents" factoryMethod="ToInt" arg0="1"/>
          </newMap>
          <smartMerge type="Sitecore.Analytics.Core.BackgroundService">
              <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
              <param desc="agentPath">pathAnalyzer/smartMergeAgent</param>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="interval" factoryMethod="ToTimeSpan" arg0="0.00:15:00"/>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="maxAgents" factoryMethod="ToInt" arg0="1"/>  
          </smartMerge>
          <liveAgent type="Sitecore.Analytics.Core.BackgroundService">
              <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
              <param desc="agentPath">aggregation/pathAnalyzerLiveAgent</param>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="interval" factoryMethod="ToTimeSpan" arg0="0.00:00:15"/>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="maxAgents" factoryMethod="ToInt" arg0="1"/>
          </liveAgent>
          <historyAgent type="Sitecore.Analytics.Core.BackgroundService">
              <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
              <param desc="agentPath">aggregation/pathAnalyzerHistoryAgent</param>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="interval" factoryMethod="ToTimeSpan" arg0="0.00:01:00"/>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="maxAgents" factoryMethod="ToInt" arg0="1"/>
          </historyAgent>
          <trailCleanup type="Sitecore.Analytics.Core.BackgroundService">
              <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
              <param desc="agentPath">pathAnalyzer/trailCleanupAgent</param>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="interval" factoryMethod="ToTimeSpan" arg0="0.00:05:00"/>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="maxAgents" factoryMethod="ToInt" arg0="1"/>
          </trailCleanup>
          <mapRebuildStatusChecker type="Sitecore.Analytics.Core.BackgroundService">
              <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
              <param desc="agentPath">pathAnalyzer/mapRebuildStatusCheckerAgent</param>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="interval" factoryMethod="ToTimeSpan" arg0="0.00:01:00"/>
              <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="maxAgents" factoryMethod="ToInt" arg0="1"/>
          </mapRebuildStatusChecker>
        </BackgroundServices>
      </subsystem>
      <!-- NEW MAP AGENT
            This agent is responsible for creating new maps from a newly-deployed map definition.
      -->
      <newMapAgent type="Sitecore.PathAnalyzer.Processing.Agents.NewMapAgent, Sitecore.PathAnalyzer"></newMapAgent>
      <!-- SMART MERGE AGENT
            This agent is responsible for creating and saving "merged" trees based on tree data that
            has previously been written to storage. "Smart merge" approach is used to select the
            trees that should be merged.
      -->
      <smartMergeAgent type="Sitecore.PathAnalyzer.Processing.Agents.SmartMergeAgent, Sitecore.PathAnalyzer"/>
      <!-- TRAIL CLEANUP AGENT
           This agent is responsible for truncating the Trail_PathAnalyzer table in the corresponding
           instance of ITreeStorage that is passed via TreeStores child element.
      -->
      <trailCleanupAgent type="Sitecore.PathAnalyzer.Processing.Agents.TrailCleanupAgent, Sitecore.PathAnalyzer">
        <BatchSize>8096</BatchSize>
        <DaysToKeep>3</DaysToKeep>
        <TreeStores hint="list:AddTreeStore">
          <primary ref="pathAnalyzer/primaryStorage" />
          <secondary ref="pathAnalyzer/secondaryStorage" />
        </TreeStores>
      </trailCleanupAgent>
      <!-- MAP REBUILD STATUS CHECKER AGENT
            This agent is responsible for checking and updating the build status of map definitions.
      -->
      <mapRebuildStatusCheckerAgent type="Sitecore.PathAnalyzer.Processing.Agents.MapRebuildStatusCheckerAgent, Sitecore.PathAnalyzer">
        <TreeDefinitionStores hint="list:AddDefinitionStore">
          <primary ref="pathAnalyzer/definitionStorage" />
          <secondary ref="pathAnalyzer/definitionStorageSecondary" />
        </TreeDefinitionStores>
      </mapRebuildStatusCheckerAgent>
    </pathAnalyzer>
    <aggregationProcessing>
      <processingPools>
          <pathAnalyzerLive type="Sitecore.PathAnalyzer.ApplicationContainer, Sitecore.PathAnalyzer" factoryMethod="GetPathAnalyzerLiveProcessingPool" singleInstance="true" />
          <pathAnalyzerHistory type="Sitecore.PathAnalyzer.ApplicationContainer, Sitecore.PathAnalyzer" factoryMethod="GetPathAnalyzerHistoryProcessingPool" singleInstance="true" />
      </processingPools>
    </aggregationProcessing>
    <aggregation>
      <aggregationContexts>
        <pathAnalyzer>
          <live type="Sitecore.PathAnalyzer.Processing.TreeAggregationContext, Sitecore.PathAnalyzer">
            <Pool ref="aggregationProcessing/processingPools/pathAnalyzerLive" />
            <XdbContextFactory ref="processing/XdbContextFatory"/>
            <TreeDefinitionStores hint="list:AddDefinitionStore">
              <primary ref="pathAnalyzer/definitionStorage" />
              <secondary ref="pathAnalyzer/definitionStorageSecondary" />
            </TreeDefinitionStores>
            <TreeStores hint="list:AddTreeStore">
              <primary ref="pathAnalyzer/primaryStorage" />
              <secondary ref="pathAnalyzer/secondaryStorage" />
            </TreeStores>
          </live>
          <history type="Sitecore.PathAnalyzer.Processing.TreeAggregationContext, Sitecore.PathAnalyzer">
            <Pool ref="aggregationProcessing/processingPools/pathAnalyzerHistory" />
            <XdbContextFactory ref="processing/XdbContextFatory"/>
            <TreeDefinitionStores hint="list:AddDefinitionStore">
              <primary ref="pathAnalyzer/definitionStorage" />
              <secondary ref="pathAnalyzer/definitionStorageSecondary" />
            </TreeDefinitionStores>
            <TreeStores hint="list:AddTreeStore">
              <secondary ref="pathAnalyzer/secondaryStorage" />
            </TreeStores>
          </history>
        </pathAnalyzer>
      </aggregationContexts>

      <pathAnalyzerLiveAgent type="Sitecore.PathAnalyzer.Processing.Agents.TreeAggregatorAgent, Sitecore.PathAnalyzer">
        <Aggregator type="Sitecore.PathAnalyzer.Processing.TreeAggregator, Sitecore.PathAnalyzer" singleInstance="true">
          <Mode>Live</Mode>
        </Aggregator>
        <Context ref="aggregation/aggregationContexts/pathAnalyzer/live" />
        <DateTimeStrategy ref="aggregation/dateTimePrecisionStrategy" />
        <MaximumBatchSize>128</MaximumBatchSize>
      </pathAnalyzerLiveAgent>

      <pathAnalyzerHistoryAgent type="Sitecore.PathAnalyzer.Processing.Agents.TreeAggregatorAgent, Sitecore.PathAnalyzer">
        <Aggregator type="Sitecore.PathAnalyzer.Processing.TreeAggregator, Sitecore.PathAnalyzer" singleInstance="true">
          <Mode>Historic</Mode>
        </Aggregator>
        <Context ref="aggregation/aggregationContexts/pathAnalyzer/history" />
        <DateTimeStrategy ref="aggregation/dateTimePrecisionStrategy" />
        <MaximumBatchSize>128</MaximumBatchSize>
      </pathAnalyzerHistoryAgent>
    </aggregation>
  </sitecore>
</configuration>
