<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures a work of Sitecore Experience Explorer.

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <settings>

      <!--  EXPERIENCE EXPLORER IS ENABLED
            Global setting for enabling Experience Explorer on server
            Is useful in multi-server environment
            Default value: true
      -->
      <setting name="ExperienceExplorer.Enabled" value="true" />

      <!--  EXPERIENCE EXPLORER TESTING IP
            The IP used for testing Geo Ip Service Connectivity
            Default value: 195.184.101.134
      -->
      <setting name="ExperienceExplorer.GeoTestingIp" value="195.184.101.134" />

      <!--  EXPERIENCE EXPLORER DEFAULT GEO IP
            The IP used as default when preset is not defined.
            Default value: 74.124.9.9
      -->
      <setting name="ExperienceExplorer.GeoIp.DefaultIp" value="74.124.9.9" />

      <!--  EXPERIENCE EXPLORER DATABASE
            Represents context database to be used within the explorer mode.
            Default value: master
      -->
      <setting name="ExperienceExplorer.Database" value="master" />
    </settings>

    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.ExperienceExplorer.Pipelines.HttpRequest.EnsureExplorerCookie, Sitecore.ExperienceExplorer"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel']" />

        <processor type="Sitecore.ExperienceExplorer.Pipelines.HttpRequest.HandleSecurity, Sitecore.ExperienceExplorer"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']"
                   resolve="true" />
        <processor type="Sitecore.ExperienceExplorer.Pipelines.HttpRequest.SwitchDatabase, Sitecore.ExperienceExplorer"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']"
                   resolve="true" />
        <processor type="Sitecore.ExperienceExplorer.Pipelines.HttpRequest.ResolveValidItemAndDevice, Sitecore.ExperienceExplorer"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   resolve="true" />
      </httpRequestBegin>

      <renderLayout>
        <processor type="Sitecore.ExperienceExplorer.Pipelines.RenderLayout.StoreRenderingViewerData, Sitecore.ExperienceExplorer" resolve="true" />
        <processor type="Sitecore.ExperienceExplorer.Pipelines.RenderLayout.InjectExplorerControl, Sitecore.ExperienceExplorer" resolve="true" />
      </renderLayout>
      <mvc.renderPageExtenders>
        <processor type="Sitecore.ExperienceExplorer.Pipelines.Mvc.RenderPageExtenders.StoreRenderingViewerData, Sitecore.ExperienceExplorer" resolve="true" />
        <processor type="Sitecore.ExperienceExplorer.Pipelines.Mvc.RenderPageExtenders.InjectExplorerControl, Sitecore.ExperienceExplorer" resolve="true" />
      </mvc.renderPageExtenders>

      <startTracking>
        <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.StartTracking.CleanupExplorerFixedMode, Sitecore.ExperienceExplorer.Analytics"
                   patch:before="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.RaiseStartTracking, Sitecore.Analytics']"
                   resolve="true" />
        <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.StartTracking.ApplyExplorerModel, Sitecore.ExperienceExplorer.Analytics" resolve="true" />
      </startTracking>
      <commitSession>
        <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CommitSession.PreventSessionCommit, Sitecore.ExperienceExplorer.Analytics"
                   patch:before="*[1]" />
      </commitSession>
      <ensureSessionContext>
        <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.EnsureSessionContext.EnableExplorerMode, Sitecore.ExperienceExplorer.Analytics" resolve="true" />
      </ensureSessionContext>

      <sessionEnd>
        <processor type="Sitecore.ExperienceExplorer.Pipelines.SessionEnd.CleanupExplorerStorage, Sitecore.ExperienceExplorer" resolve="true" />
      </sessionEnd>

      <getItemPersonalizationVisibility>
        <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.GetItemPersonalizationVisibility.ResolveExplorerPresetsRoot, Sitecore.ExperienceExplorer.Analytics"
                   patch:after="processor[@type='Sitecore.Pipelines.GetItemPersonalizationVisibility.CheckSectionAvailability, Sitecore.Kernel']" />
      </getItemPersonalizationVisibility>

      <group groupName="ExperienceExplorer" name="ExperienceExplorer">
        <pipelines>
          <resolveExplorerDatabase>
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerDatabase.GetBySetting, Sitecore.ExperienceExplorer" resolve="true" />
          </resolveExplorerDatabase>
          <initializeModel>
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializePreset, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeModes, Sitecore.ExperienceExplorer" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeUser, Sitecore.ExperienceExplorer" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeGeoIp, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeTags, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeCampaigns, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeDevice, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeGoals, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializePageEvents, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeProfiles, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.InitializeModel.InitializeReferral, Sitecore.ExperienceExplorer" resolve="true" />
          </initializeModel>
          <applyModelToTracker>
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.ApplyModelToTracker.ApplyGeoIp, Sitecore.ExperienceExplorer.Analytics" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.ApplyModelToTracker.ApplyCampaign, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.ApplyModelToTracker.ApplyEvents, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.ApplyModelToTracker.ApplyProfiles, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.ApplyModelToTracker.ApplyContactTags, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.ApplyModelToTracker.ApplyReferral, Sitecore.ExperienceExplorer.Analytics" />
          </applyModelToTracker>
          <resolveExplorerMode>
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.CheckQueryStringOrCookie, Sitecore.ExperienceExplorer" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.CheckExplorerEnabled, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.CheckAnalyticsEnabled, Sitecore.ExperienceExplorer" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.CheckPageMode, Sitecore.ExperienceExplorer" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.CheckSite, Sitecore.ExperienceExplorer" resolve="true">
              <excludedSites hint="list">
                <shell>shell</shell>
                <login>login</login>
                <admin>admin</admin>
                <service>service</service>
                <modulesShell>modules_shell</modulesShell>
                <system>system</system>
                <publisher>publisher</publisher>
              </excludedSites>
            </processor>
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.CheckPaths, Sitecore.ExperienceExplorer">
              <excludedPaths hint="list">
                <shell>/sitecore/shell</shell>
                <login>/sitecore/login</login>
                <admin>/sitecore/admin</admin>
                <service>/sitecore/service</service>
                <sitecoreModules>/sitecore modules/</sitecoreModules>
                <layouts>/layouts/system</layouts>
                <sitecoreApi>/sitecore/api/ssc</sitecoreApi>
                <icon>/-/icon</icon>
                <icon>/~/icon</icon>
                <temp>/-/temp</temp>
                <temp>/~/temp</temp>
                <api>/-/api</api>
                <api>/~/api</api>
                <xaml>/-/xaml</xaml>
                <xaml>/~/xaml</xaml>
                <feed>/-/feed</feed>
                <feed>/~/feed</feed>
                <speak>/-/speak/</speak>
              </excludedPaths>
            </processor>
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.CheckIfMediaRequest, Sitecore.ExperienceExplorer" resolve="true" />
            <processor type="Sitecore.ExperienceExplorer.Pipelines.ResolveExplorerMode.EnableExperienceMode, Sitecore.ExperienceExplorer" />
          </resolveExplorerMode>
          <cleanupAnalytics>
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.ResetAnalyticsCookie, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.CancelPages, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.ClearValue, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.ClearProfiles, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.ClearCampaign, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.ClearReferrer, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.ClearContactTags, Sitecore.ExperienceExplorer.Analytics" />
            <processor type="Sitecore.ExperienceExplorer.Analytics.Pipelines.CleanupAnalytics.ClearRenderingViewerData, Sitecore.ExperienceExplorer.Analytics" resolve="true" />
          </cleanupAnalytics>
        </pipelines>
      </group>
    </pipelines>

    <services>
      <configurator type="Sitecore.ExperienceExplorer.DependencyInjection.ExplorerServiceConfigurator, Sitecore.ExperienceExplorer" />
      <configurator type="Sitecore.ExperienceExplorer.Web.DependencyInjection.ExplorerServiceConfigurator, Sitecore.ExperienceExplorer.Web" />
    </services>
  </sitecore>
</configuration>