<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the Experience Explorere services.

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="Sitecore.ExperienceExplorer.Web.Pipelines.Initialize.EnableExperienceExplorerSessionState, Sitecore.ExperienceExplorer.Web"
                   patch:before="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']">
          <param name="constraintPattern">ExperienceExplorer.*</param>
          <param name="routeHandler" type="Sitecore.ExperienceExplorer.Web.Infrastructure.EnableSessionRouteHandler, Sitecore.ExperienceExplorer.Web" />
        </processor>
      </initialize>
    </pipelines>

    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="ContentController">Sitecore.ExperienceExplorer.Web.Controllers.ContentController, Sitecore.ExperienceExplorer.Web</allowedController>
            <allowedController desc="ModelController">Sitecore.ExperienceExplorer.Web.Controllers.ModelController, Sitecore.ExperienceExplorer.Web</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>