<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="SubmitActionsController">Sitecore.ExperienceForms.Client.Controllers.SubmitActionsController, Sitecore.ExperienceForms.Client</allowedController>
            <allowedController desc="ReportsController">Sitecore.ExperienceForms.Client.Controllers.ReportsController, Sitecore.ExperienceForms.Client</allowedController>
            <allowedController desc="FormDesignController">Sitecore.ExperienceForms.Client.Controllers.FormDesignController, Sitecore.ExperienceForms.Client</allowedController>
            <allowedController desc="ExportDataController">Sitecore.ExperienceForms.Client.Controllers.ExportDataController, Sitecore.ExperienceForms.Client</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <services>
      <register serviceType="Sitecore.ExperienceForms.Client.Controllers.FormFieldController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.FormFieldController, Sitecore.ExperienceForms.Client" />
      <register serviceType="Sitecore.ExperienceForms.Client.Controllers.SubmitActionsController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.SubmitActionsController, Sitecore.ExperienceForms.Client" />
      <register serviceType="Sitecore.ExperienceForms.Client.Controllers.ReportsController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.ReportsController, Sitecore.ExperienceForms.Client" />
      <register serviceType="Sitecore.ExperienceForms.Client.Controllers.ExportDataController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.ExportDataController, Sitecore.ExperienceForms.Client" />
      <register serviceType="Sitecore.ExperienceForms.Client.DataSource.IListDataSourceDefinitionProvider, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.DataSource.ListDataSourceDefinitionProvider, Sitecore.ExperienceForms.Client" />
      <register serviceType="Sitecore.ExperienceForms.Data.IExportDataProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Client.Data.CsvExportProvider, Sitecore.ExperienceForms.Client" />
      <register serviceType="Sitecore.ExperienceForms.Mvc.Pipelines.IFormBuilderContext, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.Pipelines.FormBuilderContext, Sitecore.ExperienceForms.Mvc" lifetime="Singleton" />
      <register serviceType="Sitecore.ExperienceForms.Analytics.Reporting.IReportDataProviderFactory, Sitecore.ExperienceForms.Analytics" implementationType="Sitecore.ExperienceForms.Analytics.Reporting.ReportDataProviderFactory, Sitecore.ExperienceForms.Analytics" />
      <register serviceType="Sitecore.ExperienceForms.Analytics.Reporting.IReportingQueryFactory, Sitecore.ExperienceForms.Analytics" implementationType="Sitecore.ExperienceForms.Analytics.Reporting.ReportingQueryFactory, Sitecore.ExperienceForms.Analytics" />
      <register serviceType="Sitecore.ExperienceForms.Reporting.IFormStatisticsProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Analytics.Reporting.FormStatisticsProvider, Sitecore.ExperienceForms.Analytics" />
    </services>
    <pipelines>
      <initialize>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Client" />
      </initialize>
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Applications/FormsBuilder" deep="true" category="formsbuilder" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client/Applications/FormsBuilder" deep="true" category="components" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
      <forms.renderForm>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenderForm.SetDataAttributes, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.SetFormParameters, Sitecore.ExperienceForms.Mvc']" />
      </forms.renderForm>
      <forms.renderFields>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenderFields.SetContainerAttributes, Sitecore.ExperienceForms.Client" patch:before="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderFields.RenderChildFields, Sitecore.ExperienceForms.Mvc']" />
      </forms.renderFields>
      <forms.renderField>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenderField.SetContainerAttributes, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderField.ResolveModel, Sitecore.ExperienceForms.Mvc']" />
      </forms.renderField>
      <forms.getModel>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.GetStandardValues, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.GetItem, Sitecore.ExperienceForms.Mvc']"/>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.SetItemName, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.CreateItem, Sitecore.ExperienceForms.Mvc']"/>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.SetItemId, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.CreateItem, Sitecore.ExperienceForms.Mvc']"/>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.SetFieldTypeItemId, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.CreateItem, Sitecore.ExperienceForms.Mvc']"/>
      </forms.getModel>
      <forms.saveForm>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.SaveForm.CreateModels, Sitecore.ExperienceForms.Client" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.SaveForm.GenerateNames, Sitecore.ExperienceForms.Client">
          <defaultItemName>Form Item</defaultItemName>
        </processor>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.SaveForm.UpdateItems, Sitecore.ExperienceForms.Client" resolve="true" />
      </forms.saveForm>
      <forms.deleteForms>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.DeleteForms.GetFormData, Sitecore.ExperienceForms.Client" />
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.DeleteForms.DeleteItems, Sitecore.ExperienceForms.Client" />
      </forms.deleteForms>
      <forms.renameForm>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenameForm.GetFormItem, Sitecore.ExperienceForms.Client" />
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenameForm.Rename, Sitecore.ExperienceForms.Client" resolve="true" />
      </forms.renameForm>
      <forms.formDetails>
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.FormDetails.GetFormDetails, Sitecore.ExperienceForms.Client" />
        <processor type="Sitecore.ExperienceForms.Client.Pipelines.FormDetails.CollectFormUsage, Sitecore.ExperienceForms.Client" />
      </forms.formDetails>
    </pipelines>
  </sitecore>
</configuration>
