<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="Sitecore.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.ExperienceForms.Mvc" />
      <register serviceType="Sitecore.ExperienceForms.Mvc.Controllers.FieldTrackingController, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.Controllers.FieldTrackingController, Sitecore.ExperienceForms.Mvc" />
      <register serviceType="Sitecore.ExperienceForms.IFieldNamingProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Mvc.FieldNamingProvider, Sitecore.ExperienceForms.Mvc" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Mvc.IFormRenderingContext, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.FormRenderingContext, Sitecore.ExperienceForms.Mvc" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Processing.IFormSubmitHandler, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Mvc.Processing.FormSubmitHandler, Sitecore.ExperienceForms.Mvc" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Mvc.Pipelines.IFormBuilderContext, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.Pipelines.FormBuilderContext, Sitecore.ExperienceForms.Mvc" lifetime="Singleton" />
      <register serviceType="Sitecore.ExperienceForms.Mvc.DataSource.IListItemParser, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.DataSource.ListItemParser, Sitecore.ExperienceForms.Mvc" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Mvc.DataSource.IListDataSourceProvider, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.DataSource.ListDataSourceProvider, Sitecore.ExperienceForms.Mvc" lifetime="Transient" />
    </services>
    <pipelines>
      <initialize>
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Mvc" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.Initialize.SetModelBinders, Sitecore.ExperienceForms.Mvc" resolve="true" />
      </initialize>
      <forms.renderForm>
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.SetHtmlHelperSettings, Sitecore.ExperienceForms.Mvc" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.SetFormParameters, Sitecore.ExperienceForms.Mvc" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.InitializeAjaxOptions, Sitecore.ExperienceForms.Mvc" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.BuildForm, Sitecore.ExperienceForms.Mvc" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.IncludeFiles, Sitecore.ExperienceForms.Mvc" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.InitializeTracking, Sitecore.ExperienceForms.Mvc" resolve="true" />
      </forms.renderForm>
      <forms.renderFields>
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderFields.GetChildItems, Sitecore.ExperienceForms.Mvc" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderFields.RenderChildFields, Sitecore.ExperienceForms.Mvc" resolve="true" />
      </forms.renderFields>
      <forms.renderField>
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderField.ResolveModel, Sitecore.ExperienceForms.Mvc" resolve="true" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderField.RenderFieldView, Sitecore.ExperienceForms.Mvc" resolve="true" />
      </forms.renderField>
      <forms.getModel>
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.GetItem, Sitecore.ExperienceForms.Mvc" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.GetRenderingSettings, Sitecore.ExperienceForms.Mvc" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.CreateModel, Sitecore.ExperienceForms.Mvc" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.InitializeTracking, Sitecore.ExperienceForms.Mvc" resolve="true" />
      </forms.getModel>
      <forms.registerSubmit />
      <forms.executeSubmit>
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.GetSubmitActions, Sitecore.ExperienceForms.Mvc" />
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.ExecuteActions, Sitecore.ExperienceForms.Mvc" />
      </forms.executeSubmit>
      <forms.submitError />
    </pipelines>
  </sitecore>
</configuration>