<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <!-- SITECORE EXPERIENCEFORMS CONNECTIONSTRINGNAME PARAMETER
           Specifies the connection string name pointing to the Sitecore Experience Forms database. 
      -->
      <setting name="Sitecore.ExperienceForms.ConnectionStringName" value="experienceforms" />

      <!-- SITECORE EXPERIENCEFORMS FIELDSPREFIX PARAMETER
           Specifies the prefix used by the MVC rendering for the fields collection names.
      -->
      <setting name="Sitecore.ExperienceForms.FieldsPrefix" value="Fields" />

      <!-- SITECORE EXPERIENCEFORMS FIELDSINDEXNAME PARAMETER
           Specifies the index name used by the MVC rendering for the field index indentifier.
      -->
      <setting name="Sitecore.ExperienceForms.FieldsIndexName" value="Index" />
    </settings>
    <services>
      <register serviceType="Sitecore.ExperienceForms.Configuration.IFormsConfigurationSettings, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Configuration.FormsConfigurationSettings, Sitecore.ExperienceForms" lifetime="Singleton" />
      <register serviceType="Sitecore.ExperienceForms.Data.SqlServer.IConnectionSettings, Sitecore.ExperienceForms.Data.SqlServer" implementationType="Sitecore.ExperienceForms.Data.SqlServer.SqlConnectionSettings, Sitecore.ExperienceForms.Data.SqlServer" lifetime="Singleton" />
      <register serviceType="Sitecore.ExperienceForms.IQueryStringProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.QueryStringProvider, Sitecore.ExperienceForms" lifetime="Singleton" />
      <register serviceType="Sitecore.ExperienceForms.IFormStateProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.FormStateProvider, Sitecore.ExperienceForms" lifetime="Singleton" />
      <register serviceType="Sitecore.ExperienceForms.IFormStoredDataProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.FormStoredDataProvider, Sitecore.ExperienceForms" lifetime="Singleton" />
      <register serviceType="Sitecore.ExperienceForms.Analytics.Tracking.IAnalyticsTrackerResolver, Sitecore.ExperienceForms.Analytics" implementationType="Sitecore.ExperienceForms.Analytics.Tracking.AnalyticsTrackerResolver, Sitecore.ExperienceForms.Analytics" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Tracking.IFormEventsTracker, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Analytics.Tracking.FormEventsTracker, Sitecore.ExperienceForms.Analytics" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.SubmitActions.IAnalyticsTracker, Sitecore.ExperienceForms.SubmitActions" implementationType="Sitecore.ExperienceForms.SubmitActions.AnalyticsTracker, Sitecore.ExperienceForms.SubmitActions" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Data.IFormDataProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Data.SqlServer.SqlFormDataProvider, Sitecore.ExperienceForms.Data.SqlServer" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Data.SqlServer.ISqlDataApiFactory, Sitecore.ExperienceForms.Data.SqlServer" implementationType="Sitecore.ExperienceForms.Data.SqlServer.SqlServerApiFactory, Sitecore.ExperienceForms.Data.SqlServer" lifetime="Transient" />
      <register serviceType="Sitecore.ExperienceForms.Diagnostics.ILogger, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Diagnostics.Logger, Sitecore.ExperienceForms" lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>