#scCrossPiece {
  visibility: hidden;
}

.sc-globalHeader {
  top: 0;	
}

.sc-globalHeader ~ div, .sc-globalHeader ~ table {
    padding-top: 0;
}

#scCrossPiece, .sc-globalHeader {
  height: 50px;
}

.sc-globalHeader-loginInfo {
  top: 0;
  position: absolute;
  width: 90%;
  left: 10%;
}

.sc-globalheader-appName { 
    display: inline;
    color: #cccccc;
    font-size: 1.167em;
    font-weight: normal;
    margin-left: 15px;
    font-family: sans-serif;
    line-height: 50px;
}