<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or Reporting or Processing or ContentManagement">
        <appDependencies>
            <xdb>
                <app id="{BCDEDA7A-D6DC-4D2F-9570-7D7F89AAAA0B}" name="Experience Analytics" />
            </xdb>
        </appDependencies>
    </sitecore>
</configuration>