<!--

Purpose: This file enables features and components that are used by the API layer.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <experienceAnalytics>
            <api>
                <logger type="Sitecore.ExperienceAnalytics.Core.Diagnostics.Logger, Sitecore.ExperienceAnalytics.Core"
                        singleInstance="true" />

                <!-- This section hosts the definitions of the Experience Analytics dimensions
                    'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
                    'type' attribute references the fully qualified class name and assembly name with the dimension implementation.
                    Transformer elements underneath define the reference to the class responsible for transforming raw value of dimension key from the server
                    to the friendly label shown in reports.
                -->
                <dimensions>
                    <dimension id="{EF129780-FFCF-4EAF-B429-80D25315248E}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{A1BCAB9A-1A98-4A3D-A58F-34ACF7931C49}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{214E8E8C-519A-4803-8579-3CA466F9F29F}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{42C02019-CCB4-4C49-BD4E-B736C6698089}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.AssetDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{988A1D00-9D00-4F05-97EC-DF3391F8CCE7}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CountryDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{3D797C19-DD2D-4705-A7E4-578A2072168D}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CountryDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{1879168B-AF5E-4E9C-9DAE-8B71125F2AD2}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.RegionDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{044C1661-D44A-4AB0-A6CF-3C9ABF181BED}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.RegionDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{33ACD611-FE19-4769-99F9-1EF1D997BDC5}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CityDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{EE9125E5-1837-40A7-9442-387FCB75E070}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CityDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6237CC24-4FF5-4869-B898-FC6A534F3C3E}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ChannelTypeDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{86CA3214-A950-4EEF-BEE6-A2C5CF6FAC24}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ChannelDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{595A12E2-CEF6-4B1C-9990-83FDD7173533}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ChannelGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{550C5A53-E190-40BA-95EB-A33C54827A20}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ChannelTypeDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6D88FEC6-1D64-46F1-8A60-270B8CE2CC78}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ChannelDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{8085A926-81C0-4AF4-B3C8-2DE0D06438CF}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ChannelGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{DACF0445-EDB1-4A90-851E-380DC6A36541}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DownloadsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{7892D03C-03A8-44B4-8815-5D66666CECED}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.Campaigns.CampaignDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{BA96B8EB-4828-440B-BA84-2D6C689D42D9}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.Campaigns.CampaignGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{3E01BA28-2B4D-408A-A4BA-6C51ED9FFB9C}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.Campaigns.CampaignDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{A8EC3E11-A417-4624-A612-12A406284D4B}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.Campaigns.CampaignGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6295C8F0-5ACB-4634-A1D6-6D3248EC210C}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.LanguageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{C001F4B2-0523-436E-9097-AD4E39D51835}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ItemDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{E6CC7A2B-6E72-40CE-9315-88F4617CDB10}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{F197D8FF-D4C8-42DF-BC6E-512F17292674}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.PageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{81379156-7721-4EE5-8951-AE92E1CDF090}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.PageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{3DC11B43-1D7F-4169-A87D-291D57ECEDA6}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.PageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{F2C1CCBF-C2D6-4FF9-A3BF-DD55E60071A2}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6B945AE7-673F-412A-96F8-F53EF9D63BBC}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{CBD2E37E-CC79-4A5A-8B3B-95F6B7D7FF53}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{CBEE2CF5-51DB-4106-A7A9-BF87AB173742}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                   <dimension id="{8345E6DF-8982-4F32-B478-40D672E914BB}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.PageViewsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6564431B-4537-4B15-8AAD-FDBC93A15C79}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.PageViewsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6DD3E3A7-FE91-4860-9BF6-388863AD7C9D}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ConversionsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{1A6CE37B-9A5F-4044-AC27-EA07482B9911}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.ConversionsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6F502E86-5CDB-4D4E-B3A1-905D41B86E9F}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.GoalDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{D00D6A78-BC26-4F6D-A391-2F22D9D5A8F4}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.FacetDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{4EEDC7EB-65DB-46EC-818E-5366B82E034B}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.FacetGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{148758D7-7523-4787-A7D9-9379E5BC5514}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.GoalDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{197EB127-284D-436A-A576-486A7B01013E}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.AssetGroupsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{D6BC9E66-E51A-4481-AAE2-F31189CCA572}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.OutcomeDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{A23E7058-5A8C-426F-A417-927D3F7DF487}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.OutcomeGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{87F05F2A-D4A0-43DA-8676-196639D3F6A8}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{1A0F92E9-A2CC-41D9-8D1B-B0839CB1104B}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{D551A7B4-535F-4138-8361-7B12BF9216A4}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{232D5449-4DBB-4101-8A0E-41E003A91484}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{C1491C3D-0A63-45E1-9510-B954415C9E08}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{E5D56897-23D1-46F3-B8FB-D351C1CAFB7E}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{D135E856-FC48-4F6E-987F-5566A180215D}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6634C79C-1E55-485F-9157-93ABA18BCC67}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FacetDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{84AF4324-8096-4A5E-9C5C-DBBE92D814D3}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DeviceTypeDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{C7C7B604-3103-4765-939E-56BA87EA768F}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DeviceTypeDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{CC287753-DFF8-470A-B586-A23DA9B80ECA}">
                        <transformer
                            type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DeviceModelDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{CAF488E4-8C0B-4335-9A4E-AFBBE5EBF796}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DeviceModelDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{B3807A36-E0D1-49E1-A605-17B2E2077231}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.PageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{24307E3B-951F-463C-9310-475757EA2871}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.PageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{2BA45688-F3D7-4D94-9996-AC22435FAA9F}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.PageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{5797E54E-37AF-4EC5-B8BA-DD7F3EAFD6C9}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.OutcomeDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{2EA8CCFD-8FAC-4CF2-9F70-FBFDD5C07CEA}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.OutcomeGroupDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{90C53CD7-3FA2-4057-83B2-6A870CCBA2A6}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{5A1A3D23-591C-44B9-8550-FDB9695F21BD}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{1C48CE32-F06C-4F02-9D80-82AE7994ADB9}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{8F44FFFA-A744-44C5-B958-4B5C961EC65C}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.PatternDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{5D1275D9-C16B-4BD2-8419-297CD2384F41}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.DownloadsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{87225105-0BAA-4913-929E-916E8210DC70}" >
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.LanguageDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{CB9ED373-3A28-4DA0-BC0A-2C77D37D9E23}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>

                    <dimension id="{5858B47C-C8F3-4E48-9B10-500EBE0E9DCE}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{D65020DC-EEBF-4652-8A28-CCD9395C83B8}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.AssetDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>
                    <dimension id="{6C0847F3-8405-41B2-B818-EA5BFBC06C99}">
                        <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.FlexibleDimensions.AssetGroupsDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
                    </dimension>

                </dimensions>
                <services>
                    <!-- DimensionDefinitionService is responsible for instantiating Experience Analytics transformer objects from configuration.
                        The 'pathToConfigNode' parameter specifies the element where the transformers are expected to be configured.
                        Default: "experienceAnalytics/api/dimensions"
                    -->
                    <dimensionDefinitionService
                        type="Sitecore.ExperienceAnalytics.Api.Repositories.DimensionKeyTransformerConfigReader, Sitecore.ExperienceAnalytics.Api"
                        singleInstance="true">
                        <param desc="pathToConfigNode">experienceAnalytics/api/dimensions</param>
                        <param desc="logger" ref="experienceAnalytics/api/logger" />
                    </dimensionDefinitionService>

                    <!-- ReportingService is responsible for processing reporting query requests. -->
                    <reportingService
                        type="Sitecore.ExperienceAnalytics.Api.ReportingService, Sitecore.ExperienceAnalytics.Api">
                        <param ref="experienceAnalytics/api/services/reportDataService" />
                        <param
                            type="Sitecore.ExperienceAnalytics.Api.Response.ReportResponseData.LiveReportResponseBuilder, Sitecore.ExperienceAnalytics.Api">
                            <param ref="experienceAnalytics/api/services/aggregationSegmentReader" />
                            <param
                                type="Sitecore.ExperienceAnalytics.Api.Response.Resolvers.SegmentResolver, Sitecore.ExperienceAnalytics.Api">
                                <param ref="experienceAnalytics/api/services/segmentReader" />
                            </param>
                            <param
                                type="Sitecore.ExperienceAnalytics.Api.Response.Resolvers.DimensionKeyResolver, Sitecore.ExperienceAnalytics.Api">
                                <param ref="experienceAnalytics/api/services/dimensionDefinitionService" />
                                <param
                                    type="Sitecore.ExperienceAnalytics.Api.NotApplicableKeyStringReplacer, Sitecore.ExperienceAnalytics.Api" />
                                <param desc="logger" ref="experienceAnalytics/api/logger" />
                            </param>
                            <param
                                type="Sitecore.ExperienceAnalytics.Api.Response.ReportResponseData.DataInflator.NullDataInjector, Sitecore.ExperienceAnalytics.Api" />
                            <param
                                type="Sitecore.ExperienceAnalytics.Api.NotApplicableKeyStringReplacer, Sitecore.ExperienceAnalytics.Api" />
                        </param>
                        <param
                            type="Sitecore.ExperienceAnalytics.Api.Response.Resolvers.QueryDataBuilder, Sitecore.ExperienceAnalytics.Api">
                            <param ref="experienceAnalytics/api/services/aggregationSegmentReader" />
                            <param ref="experienceAnalytics/api/services/dimensionItemReader" />
                        </param>
                    </reportingService>

                    <!-- ReportDataService is responsible for providing data in response to the queries from ReportingService. -->
                    <reportDataService
                        type="Sitecore.ExperienceAnalytics.Api.ReportDataService, Sitecore.ExperienceAnalytics.Api">
                        <param type="Sitecore.ExperienceAnalytics.Api.ApiContainer, Sitecore.ExperienceAnalytics.Api"
                               factoryMethod="GetLazyReportingDataProvider" />
                        <param desc="reportingDataSourceName">reporting</param>
                        <param desc="keysReader" ref="experienceAnalytics/api/hashKeysProvider" />
                        <param desc="logger" ref="experienceAnalytics/api/logger" />
                    </reportDataService>

                    <!-- AggregationSegmentReader is responsible for reading aggregation segments from refernece data store. -->
                    <aggregationSegmentReader
                        type="Sitecore.ExperienceAnalytics.Aggregation.Repositories.AggregationSegmentReader, Sitecore.ExperienceAnalytics.Aggregation">
                        <param desc="logger" ref="experienceAnalytics/api/logger" />
                        <param desc="segmentDefinitionReader"
                               ref="experienceAnalytics/api/services/segmentDefinitionReader" />
                    </aggregationSegmentReader>

                    <!-- SegmentDefinitionReader is responsible for reading segment definitions from reference data store. -->
                    <segmentDefinitionReader type="Sitecore.ExperienceAnalytics.Core.Repositories.ReferenceData.ReferenceDataSegmentReader, Sitecore.ExperienceAnalytics.Core" />

                    <!-- DimensionItemReader is responsible for reading dimension items from master database. -->
                    <dimensionItemReader
                        type="Sitecore.ExperienceAnalytics.Core.Repositories.CachedReaderDecorator`2[[System.Guid], [Sitecore.ExperienceAnalytics.Core.Repositories.Model.IDimensionItem, Sitecore.ExperienceAnalytics.Core]], Sitecore.ExperienceAnalytics.Core">
                        <param
                            type="Sitecore.ExperienceAnalytics.Api.Response.Resolvers.DimensionItemReader, Sitecore.ExperienceAnalytics.Api" />
                        <param desc="cacheName">ExperienceAnalytics.DimensionItems</param>
                        <param desc="cacheMaxSize">2097152</param>
                        <param desc="cacheExpiration">00:05:00</param>
                        <param desc="useSlidingCacheExpiration">true</param>
                        <param desc="logger" ref="experienceAnalytics/api/logger" />
                    </dimensionItemReader>

                    <!-- SegmentReader is responsible for reading segment items from master database.-->
                    <segmentReader
                        type="Sitecore.ExperienceAnalytics.Client.Deployment.SegmentItemReader, Sitecore.ExperienceAnalytics.Client">
                        <param ref="experienceAnalytics/api/logger" />
                    </segmentReader>

                    <!-- UserService is responsible for resolving user state during Web API execution. -->
                    <userService
                        type="Sitecore.ExperienceAnalytics.Core.Repositories.UserService, Sitecore.ExperienceAnalytics.Core" />

                    <dimensionKeyConverter
                        type="Sitecore.ExperienceAnalytics.Api.DimensionKeyConverter, Sitecore.ExperienceAnalytics.Api" />

                    <encoder
                        type="Sitecore.ExperienceAnalytics.Api.Encoding.Hash64Encoder, Sitecore.ExperienceAnalytics.Api" />
                    <keyCodec
                        type="Sitecore.ExperienceAnalytics.Api.Encoding.HashKeysCodec, Sitecore.ExperienceAnalytics.Api">
                        <param desc="encoder" ref="experienceAnalytics/api/services/encoder" />
                        <param desc="decoder"
                               type="Sitecore.ExperienceAnalytics.Api.Encoding.QuotedValueDecoderDecorator, Sitecore.ExperienceAnalytics.Api">
                            <param desc="decoder"
                                   type="Sitecore.ExperienceAnalytics.Api.Encoding.PresetsEnabledKeyDecoder, Sitecore.ExperienceAnalytics.Api">
                                <param desc="hashMapper"
                                       type="Sitecore.ExperienceAnalytics.Api.Encoding.HashMapper, Sitecore.ExperienceAnalytics.Api">
                                    <param desc="keysProvider"
                                           type="Sitecore.ExperienceAnalytics.Api.Encoding.InMemoryPresetKeysProvider, Sitecore.ExperienceAnalytics.Api" />
                                    <param desc="encoder" ref="experienceAnalytics/api/services/encoder" />
                                </param>
                                <param desc="decoder"
                                       type="Sitecore.ExperienceAnalytics.Api.Encoding.DatabaseKeyDecoder, Sitecore.ExperienceAnalytics.Api">
                                    <param desc="keysReader" ref="experienceAnalytics/api/hashKeysProvider" />
                                </param>
                            </param>
                        </param>
                    </keyCodec>
                    <reportResponseEncoder
                        type="Sitecore.ExperienceAnalytics.Api.Response.ReportResponseEncoder, Sitecore.ExperienceAnalytics.Api">
                        <param ref="experienceAnalytics/api/services/keyCodec" />
                    </reportResponseEncoder>

                    <taxonomyTransformer
                        type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.TaxonomyTransformer, Sitecore.ExperienceAnalytics.Api">
                        <param
                            type="Sitecore.ExperienceAnalytics.Core.Adapters.CustomTaxonomyManagerAdapter, Sitecore.ExperienceAnalytics.Core" />
                    </taxonomyTransformer>
                </services>

                <!-- hashKeysProvider is responsible for hash of entities stored in database. -->
                <hashKeysProvider
                    type="Sitecore.ExperienceAnalytics.Core.Repositories.CachedReaderDecorator`2[[System.String], [System.String]], Sitecore.ExperienceAnalytics.Core">
                    <param
                        type="Sitecore.ExperienceAnalytics.Core.Repositories.DimensionKeyRemoteReader, Sitecore.ExperienceAnalytics.Core">
                        <param type="Sitecore.ExperienceAnalytics.Api.ApiContainer, Sitecore.ExperienceAnalytics.Api"
                               factoryMethod="GetLazyReportingDataProvider" />
                        <param desc="reportingDataSourceName">reporting</param>
                        <param desc="logger" ref="experienceAnalytics/api/logger" />
                    </param>
                    <param desc="cacheName">ExperienceAnalytics.DimensionKeys</param>
                    <param desc="cacheMaxSize">52428800</param>
                    <param desc="cacheExpiration">365:00:00:00</param>
                    <param desc="useSlidingCacheExpiration">true</param>
                    <param desc="logger" ref="experienceAnalytics/api/logger" />
                </hashKeysProvider>
            </api>
        </experienceAnalytics>
        <pipelines>
            <initialize>
                <!-- Initializing Experience Analytics Web API -->
                <processor
                    type="Sitecore.ExperienceAnalytics.Api.Pipelines.Initialize.WebApiInitializer, Sitecore.ExperienceAnalytics.Api"
                    patch:after="processor[position()=last()]">
                    <param desc="logger" ref="experienceAnalytics/api/logger"/>
                </processor>
            </initialize>
        </pipelines>
        <reporting>
            <dataProvider>
                <!-- enabling reporting cache -->
                <patch:attribute name="cacheEnabled" >true</patch:attribute>
            </dataProvider>
        </reporting>
        <settings>
            <!-- EXPERIENCE ANALYTICS - API - CACHE EXPIRATION
               TTL for reporting data cache on server and client side. Used in conjunction with the cacheEnabled=true flag on reporting/dataProvider.
               Default value: 00:15:00 (15 minutes)
            -->
            <setting name="ExperienceAnalytics.Api.CacheExpiration" value="00:15:00" />

            <!-- EXPERIENCE ANALYTICS - API - CACHE EXPIRATION FOR SAFE REQUEST
               TTL for reporting data cache on server side. Used in conjunction with the cacheEnabled=true flag on reporting/dataProvider.
               Default value: 1:00:00:00 (24 hours)
            -->
            <setting name="ExperienceAnalytics.Api.ServerSideSafeRequestCacheExpiration" value="1:00:00:00" />

            <!-- EXPERIENCE ANALYTICS - API - CACHE EXPIRATION FOR SAFE REQUEST
               TTL for reporting data cache on client side. Used in conjunction with the cacheEnabled=true flag on reporting/dataProvider.
               Default value: 365:00:00:00 (365 days)
            -->
            <setting name="ExperienceAnalytics.Api.ClientSideSafeRequestCacheExpiration" value="365:00:00:00" />

            <!-- EXPERIENCE ANALYTICS - API - CACHE EXPIRATION FOR RISKY REQUEST
               TTL for reporting data cache on server side. Used in conjunction with the cacheEnabled=true flag on reporting/dataProvider.
               Default value: 24:00 (24 hours)
            -->
            <setting name="ExperienceAnalytics.Api.ServerSideRiskyRequestCacheExpiration" value="01:00:00" />

            <!-- EXPERIENCE ANALYTICS - API - CACHE EXPIRATION FOR RISKY REQUEST
               TTL for reporting data cache on client side. Used in conjunction with the cacheEnabled=true flag on reporting/dataProvider.
               Default value: 24:00 (24 hours)
            -->
            <setting name="ExperienceAnalytics.Api.ClientSideRiskyRequestCacheExpiration" value="1:00:00:00" />

            <!-- EXPERIENCE ANALYTICS - API - INTERNAL CACHE EXPIRATION
               TTL for internal data cache e.g. segments. Used in conjunction with the cacheEnabled=true flag on reporting/dataProvider.
               Default value: 00:05:00 (5 minutes)
            -->
            <setting name="ExperienceAnalytics.InternalCacheExpiration" value="00:05:00" />

            <!-- EXPERIENCE ANALYTICS - API - KEYS TOP DEFAULT
               The default value for keyTop query parameter.
               Default value: 100
            -->
            <setting name="ExperienceAnalytics.Api.KeysTopDefault" value="100" />

            <!-- EXPERIENCE ANALYTICS - API - MASTER DATABASE
               The content database used to decorate server data with labels and other auxiliary information.
               Default value: master
            -->
            <setting name="ExperienceAnalytics.Api.MasterDatabase" value="master" />

            <!-- EXPERIENCE ANALYTICS - API - CACHE EXPIRATION FOR DIMENSION KEYS
               TTL for dimension keys cache on server side. 
               Default value: 365:00:00:00 (365 days)
            -->
            <setting name="ExperienceAnalytics.Api.DimensionKeysCacheExpiration" value="365:00:00:00" />
        </settings>
    </sitecore>
</configuration>