<!--

Purpose: This file enables the components and features related to segment records reduce functionality.

-->
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or Processing">
        <hooks>
            <!-- Hook to load the reduce subsystem. -->
            <hook desc="reduceLoader"
                  type="Sitecore.ExperienceAnalytics.Core.SubSystemLoader, Sitecore.ExperienceAnalytics.Core">
                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                <param desc="subsystemToLoad" ref="experienceAnalytics/reduce/subsystem" />
            </hook>
        </hooks>
        <experienceAnalytics>
            <reduce>
                <logger type="Sitecore.ExperienceAnalytics.Core.Diagnostics.Logger, Sitecore.ExperienceAnalytics.Core"
                        singleInstance="true" />

                <!-- Reduce subsystem definition -->
                <subsystem type="Sitecore.Analytics.Core.Subsystem" singleInstance="true">
                    <BackgroundServices hint="list:Add">
                        <reduce type="Sitecore.Analytics.Core.BackgroundService">
                            <param type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
                            <param desc="agentPath">experienceAnalytics/reduce/agent</param>
                            <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="interval" factoryMethod="ToTimeSpan" arg0="0.00:00:30"/>
                            <param type="Sitecore.Analytics.Core.ConfigurationHelper, Sitecore.Analytics.Core" desc="maxAgents" factoryMethod="ToInt" arg0="1" />                            
                        </reduce>
                    </BackgroundServices>
                </subsystem>
                <!-- Agent that runs reduce process by executing ReduceManager (see below) on interval basis
                      Parameters:
                     - 'connectionStringName' - specifies the connection string name of the target database.
                        Default: "reporting"
                     - 'triggerHour' - specifies that the reduce is expected to run only after this time.
                        Default: 1 (1AM in local server time)
                -->
                <agent
                    type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReduceScheduler, Sitecore.ExperienceAnalytics.Reduce">
                    <param desc="connectionStringName">reporting</param>
                    <param desc="triggerHour">1</param>
                    <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                    <param ref="experienceAnalytics/reduce/manager" />
                </agent>

                <!-- Reduce Manager is responsible for running all the reduce workers -->
                <manager
                    type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReduceManager, Sitecore.ExperienceAnalytics.Reduce">
                    <Reducers hint="list:Add">
                        <!-- Classical reduce worker runs the segment records reduce process on all the dimensions provided by dimension reader -->
                        <reducer
                            type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ClassicalReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="dimensionReader" ref="experienceAnalytics/reduce/services/dimensionReader"></param>
                            <param desc="siteReader" ref="experienceAnalytics/reduce/services/siteReader"></param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <!--A generic reduce worker which can work on any* metrics table. In order for reducer 
                            to work flawlessly, following assumptions MUST be true about the metrics table:
                            1. Following columns are always required whenever a new [Fact_*Metrics] table is created
                                SegmentRecordId
                                SegmentId
                                Date
                                SiteNameId
                                DimensionKeyId
                            2. Rest of the columns are metrics containing numeric value, on which sql SUM function can be applied. 
                                During reduce process "least significant" rows are collapsed into one row using 
                                GROUP BY SegmentId, Date, SiteNameId. And SUM is used to aggregate metrics columns.                                  
                           Parameters:
                             - 'metricType' - corresponding table 'Fact_<metricType>' MUST exist in reporting database
                             - 'reducerDataService' 
                             - 'logger' 
                        -->
                        <reducer
                            type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">CampaignMetrics</param>
                            <param desc="reducerDataService"
                                   type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>
                        
                        <reducer
                            type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">ChannelMetrics</param>
                            <param desc="reducerDataService"
                                   type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer
                            type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">GoalMetrics</param>
                            <param desc="reducerDataService"
                                   type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">OutcomeMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            <OrderBy>Visits, MonetaryValue</OrderBy>
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">PageMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">DownloadEventMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">PatternMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">LanguageMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>
                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">ReferringSiteMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">SearchMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">ConversionsMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">PageViewsMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>

                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">DeviceMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>
                        <reducer type="Sitecore.ExperienceAnalytics.Reduce.Implementations.DynamicReduceWorker, Sitecore.ExperienceAnalytics.Reduce">
                            <param desc="metricType">GeoMetrics</param>
                            <param desc="reducerDataService" type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDataService, Sitecore.ExperienceAnalytics.Reduce">
                                <param desc="connectionStringName">reporting</param>
                                <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                            </param>
                            <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                        </reducer>
                    </Reducers>
                    <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                </manager>
                <services>
                    <!-- AggregationSegmentRepository is responsible for reading/writing data to/from the Segments dimension table in RDB.
                           The 'connectionStringName' parameter the name of the connection string of the RDB instance to connect to.
                           Default: "reporting"
                      -->
                    <aggregationSegmentRepository role:require="Processing" type="Sitecore.ExperienceAnalytics.Aggregation.Repositories.AggregationSegmentRepository, Sitecore.ExperienceAnalytics.Aggregation">
                        <param type="Sitecore.ExperienceAnalytics.Core.Repositories.ReferenceData.ReferenceDataSegmentReader, Sitecore.ExperienceAnalytics.Core" />
                        <param type="Sitecore.ExperienceAnalytics.Core.Repositories.ReferenceData.ReferenceDataSegmentStore, Sitecore.ExperienceAnalytics.Core" />
                        <param desc="logger" ref="experienceAnalytics/aggregation/logger"/>
                    </aggregationSegmentRepository>

                    <!-- AggregationSegmentRepository is responsible for reading/writing data from/to reference data store.-->
                    <aggregationSegmentRepository role:require="Standalone" type="Sitecore.ExperienceAnalytics.Aggregation.Repositories.AggregationSegmentRepository, Sitecore.ExperienceAnalytics.Aggregation">
                        <param type="Sitecore.ExperienceAnalytics.Core.Repositories.ReferenceData.ReferenceDataSegmentReader, Sitecore.ExperienceAnalytics.Core" />
                        <param type="Sitecore.ExperienceAnalytics.Core.Repositories.ReferenceData.ReferenceDataSegmentStore, Sitecore.ExperienceAnalytics.Core" />
                        <param desc="logger" ref="experienceAnalytics/aggregation/logger"/>
                    </aggregationSegmentRepository>
                    
                    <!-- SiteReader is responsible for reading data from the SiteNames dimension table in RDB.
                           The 'connectionStringName' parameter the name of the connection string of the RDB instance to connect to.
                           Default: "reporting"
                      -->
                    <siteReader type="Sitecore.ExperienceAnalytics.Core.Repositories.CachedReaderDecorator`2[[System.String], [Sitecore.ExperienceAnalytics.Core.Repositories.Model.Site, Sitecore.ExperienceAnalytics.Core]], Sitecore.ExperienceAnalytics.Core">
                        <param type="Sitecore.ExperienceAnalytics.Core.Repositories.SiteSqlReader, Sitecore.ExperienceAnalytics.Core">
                            <param desc="connectionStringName">reporting</param>
                        </param>
                        <param desc="cacheName">ExperienceAnalytics.Sites</param>
                        <param desc="cacheMaxSize">1048576</param>
                        <param desc="cacheExpiration">00:05:00</param>
                        <param desc="useSlidingCacheExpiration">false</param>
                        <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                    </siteReader>


                    <!-- DimensionReader is responsible for instantiating Experience Analytics Dimensions objects from configuration.
                        The 'pathToConfigNode' parameter specifies the element where the dimensions are expected to be configured.
                        Default: "experienceAnalytics/aggregation/dimensions"
                    -->
                    <dimensionReader
                        type="Sitecore.ExperienceAnalytics.Reduce.Implementations.ReducerDimensionReader, Sitecore.ExperienceAnalytics.Reduce"
                        singleInstance="true">
                        <param desc="pathToConfigNode">experienceAnalytics/reduce/dimensions</param>
                        <param desc="logger" ref="experienceAnalytics/reduce/logger" />
                    </dimensionReader>
                </services>
                <!-- This section hosts the definitions of the Experience Analytics dimensions which will be used by 'ClassicalReduceWorker'
                    'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
                    'name' is just an optional identifier e.g.
                    <dimension id="{988A1D00-9D00-4F05-97EC-DF3391F8CCE7}" name="ByCountry" />
                -->
                <dimensions>
                </dimensions>
            </reduce>
        </experienceAnalytics>
        <settings>
            <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT KEEP COUNT THRESHOLD
           If the number of segment records exceeds this value,
           the reduce operation will take top X records sorted by Visits and Value and ignore all other thresholds.
           For example, it will take top 1000 records per segment, date and site, and will collapse the rest of the records,
           but only if the number of original records exceeds 1000.
           Default value: 1000
            -->
            <setting name="ExperienceAnalytics.Reduce.DefaultKeepCountThreshold" value="1000" />

            <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT VALUE THRESHOLD
           Similar to DefaultVisitThreshold, but the check is performed against the "Value" metric.
           Since there could be negative values, the check is performed in absolute value.
           By default, this threshold is inactive and reserved for special cases.
           Default value: -1 (disabled)
            -->
            <setting name="ExperienceAnalytics.Reduce.DefaultValueThreshold" value="-1" />

            <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT VISIT THRESHOLD
           Identifies the threshold for the "Visits" metric when a segment record to be considered significant, i.e. excluded from "long tail".
           If it is set to 10, for example, then any segment record with less than 10 visit metric will be considered insignificant
           and will be reduced as a part of the "long tail".
           IMPORTANT: This threshold will be taken into account only if the number of original records is less than value of KeepCountThreshold.
           Default value: 10
            -->
            <setting name="ExperienceAnalytics.Reduce.DefaultVisitThreshold" value="10" />


            <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT RETENTION PERIOD
                number of days to keep the records non-reduced.
                This parameter also specifies the date for which to perform the reduce, i.e.:
                (DateTime.Now in local server time - retention period).
                Default: 7.00:00:00 (7 days)
            -->
            <setting name="ExperienceAnalytics.Reduce.DefaultRetentionPeriod" value="7.00:00:00" />

            <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT ORDERBY
                order of the most significant metrics which will be used during the reduce process 
                in the ORDER BY clause to find the least significant rows 
                Default: Visits,Value
            -->
            <setting name="ExperienceAnalytics.Reduce.DefaultOrderBy" value="Visits,abs(Value)" />

            <!-- EXPERIENCE ANALYTICS - REDUCE - TIMEOUT
           The maximum amount of time the reducer can run. After this amount of time, the reducer will be aborted. 
           Default value: 1 hour
            -->
            <setting name="ExperienceAnalytics.Reduce.Timeout" value="01:00:00" />
        </settings>
    </sitecore>
</configuration>