<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures the client that is used to access automation operations web API.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <xdb.marketingAutomation.client>
            <automationOperationsClient type="Sitecore.Xdb.MarketingAutomation.OperationsClient.AutomationOperationsClient, Sitecore.Xdb.MarketingAutomation.OperationsClient">
                <param name="clientModifiers" type="Sitecore.Xdb.MarketingAutomation.OperationsClient.Configuration.ConfigurableCollection`1[[Sitecore.Xdb.Common.Web.IHttpClientModifier, Sitecore.Xdb.Common.Web]], Sitecore.Xdb.MarketingAutomation.OperationsClient.Configuration">
                    <httpClientModifiers hint="raw:AddConfigurableItem">
                        <!-- Sets timeout for all requests performed by the automation operations client -->
                        <httpClientModifier type="Sitecore.Xdb.Common.Web.TimeoutHttpClientModifier, Sitecore.Xdb.Common.Web">
                            <!-- The timespan to wait before the request times out. Default value: 100 seconds. -->
                            <param name="timeout">00:01:40</param>
                        </httpClientModifier>
                    </httpClientModifiers>
                </param>
                <param name="webRequestHandlerModifiers" type="Sitecore.Xdb.MarketingAutomation.OperationsClient.Configuration.ConfigurableCollection`1[[Sitecore.Xdb.Common.Web.IWebRequestHandlerModifier, Sitecore.Xdb.Common.Web]], Sitecore.Xdb.MarketingAutomation.OperationsClient.Configuration">
                    <webRequestHandlerModifiers hint="raw:AddConfigurableItem">
                        <!-- Sets the client certificate required to authenticate to the xConnect server -->
                        <clientCertificate type="Sitecore.Xdb.Common.Web.CertificateWebRequestHandlerModifier, Sitecore.Xdb.Common.Web">
                            <param name="certificateConnectionStringName">xdb.marketingautomation.operations.client.certificate</param>
                            <param name="allowInvalidClientCertificatesAppSettingKey">AllowInvalidClientCertificates</param>
                        </clientCertificate>
                    </webRequestHandlerModifiers>
                </param>
                <param name="logger" type="Microsoft.Extensions.Logging.ILogger`1[[Sitecore.Xdb.MarketingAutomation.OperationsClient.AutomationOperationsClient, Sitecore.Xdb.MarketingAutomation.OperationsClient]], Microsoft.Extensions.Logging.Abstractions" resolve="true" />
            </automationOperationsClient>
        </xdb.marketingAutomation.client>
        <services>
            <!-- Automation operations client -->
            <configurator type="Sitecore.Xdb.MarketingAutomation.OperationsClient.Configuration.AutomationOperationsClientConfigurator, Sitecore.Xdb.MarketingAutomation.OperationsClient.Configuration" />
        </services>
    </sitecore>
</configuration>