<?xml version="1.0" encoding="utf-8"?>

<!--
    
Purpose: This include file configures the Reference Data Service and injects it into the Sitecore DI Container.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Processing or Standalone">
    <xdb.referenceData.service>
      <definitionCache type="Sitecore.Xdb.ReferenceData.Service.Cache.MemoryDefinitionCache, Sitecore.Xdb.ReferenceData.Service">
        <!-- entryLifetime: The lifetime of entries in the cache, given as a TimeSpan -->
        <param name="entryLifetime">00:00:30</param>
      </definitionCache>
    </xdb.referenceData.service>
    
    <services>
       
      <register
         serviceType="Sitecore.Xdb.ReferenceData.Core.Repository.IReferenceDataRepository, Sitecore.Xdb.ReferenceData.Core"
         implementationType="Sitecore.Xdb.ReferenceData.Service.Repository.ReferenceDataRepository, Sitecore.Xdb.ReferenceData.Service"
         lifetime="Singleton" />

      <register
         serviceType="Sitecore.Xdb.ReferenceData.Core.IReadOnlyReferenceDataClient, Sitecore.Xdb.ReferenceData.Core"
         implementationType="Sitecore.Xdb.ReferenceData.Service.ReadOnlyReferenceDataService, Sitecore.Xdb.ReferenceData.Service"
         lifetime="Singleton" />

      <register
         serviceType="Sitecore.Xdb.ReferenceData.Core.IReferenceDataClient, Sitecore.Xdb.ReferenceData.Core"
         implementationType="Sitecore.Xdb.ReferenceData.Service.ReferenceDataService, Sitecore.Xdb.ReferenceData.Service"
         lifetime="Singleton" />

      <configurator
         type="Sitecore.Xdb.ReferenceData.Service.Xmgmt.DependencyInjection.DefinitionCacheConfigurator, Sitecore.Xdb.ReferenceData.Service.Xmgmt" />

      <configurator
         type="Sitecore.Xdb.ReferenceData.Service.Xmgmt.DependencyInjection.LoggingConfigurator, Sitecore.Xdb.ReferenceData.Service.Xmgmt" />
      
    </services>
  </sitecore>
</configuration>