<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <api>
            <services>
                <configuration>
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="MarketingAutomationCategoryInformationController">Sitecore.Marketing.Automation.Client.Controllers.CategoryInformationController, Sitecore.Marketing.Automation.Client</allowedController>
                        <allowedController desc="MarketingAutomationAutomationPlansController">Sitecore.Marketing.Automation.Client.Controllers.AutomationPlansController, Sitecore.Marketing.Automation.Client</allowedController>
                        <allowedController desc="MarketingAutomationAutomationPlansReportingController">Sitecore.Marketing.Automation.Client.Controllers.AutomationPlanReportingController, Sitecore.Marketing.Automation.Client</allowedController>
                        <allowedController desc="MarketingAutomationActivityDescriptorsController">Sitecore.Marketing.Automation.Client.Controllers.ActivityDescriptorsController, Sitecore.Marketing.Automation.Client</allowedController>
                        <allowedController desc="MarketingAutomationCurrentCultureController">Sitecore.Marketing.Automation.Client.Controllers.CurrentCultureController, Sitecore.Marketing.Automation.Client</allowedController>
                        <allowedController desc="MarketingAutomationContactsReportController">Sitecore.Marketing.Automation.Client.Controllers.ContactsReportController, Sitecore.Marketing.Automation.Client</allowedController>
                        <allowedController desc="MarketingAutomationContactsExportController">Sitecore.Marketing.Automation.Client.Controllers.ContactsExportController, Sitecore.Marketing.Automation.Client</allowedController>
                        <allowedController desc="MarketingAutomationPluginDescriptorsController">Sitecore.Marketing.Automation.Client.Controllers.PluginDescriptorsController, Sitecore.Marketing.Automation.Client</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
        <marketingAutomation>
            <categoryInformationRepository type= "Sitecore.Marketing.Automation.Data.CategoryInformationRepository, Sitecore.Marketing.Automation">
                <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel"/>
                <param name="databaseName">master</param>
                <param name="categoryInformationFolderId">{340062A7-9F50-4CE1-8A53-DA3F6A23B73A}</param>
                <taxonomyCssClasses hint="raw:AddMapping">
                    <mapping id="43e49783-5fc3-4f66-84fc-f913110e1b38" cssClass="plan-entry"/>
                    <mapping id="357ef6b8-ca48-41cd-b436-855422924e90" cssClass="decision-point"/>
                    <mapping id="c07b54e4-479a-4267-9b72-4cc8349e6578" cssClass="listener"/>
                    <mapping id="144eebb0-1cd1-4dea-95a7-04d24d16fdc0" cssClass="marketing-action"/>
                    <mapping id="f7c7c31d-cc60-4da2-bdb9-5a4f3cc14047" cssClass="other-element"/>
                </taxonomyCssClasses>
            </categoryInformationRepository>
            <converterItemProvider type= "Sitecore.Marketing.Automation.Converters.DefaultConverterItemProvider, Sitecore.Marketing.Automation">
                <!-- Name of the database in which to locate converter items -->
                <param name="databaseName">master</param>
                <param resolve="true" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" />
            </converterItemProvider>
            <contactRepository type= "Sitecore.Marketing.Automation.Data.ContactRepository, Sitecore.Marketing.Automation" resolve="true">
                <facetKeys hint="list:AddFacetKey">
                    <facetKey desc="PersonalInformation.DefaultFacetKey">Personal</facetKey>
                    <facetKey desc="EmailAddressList.DefaultFacetKey">Emails</facetKey>
                </facetKeys>
            </contactRepository>
            <pluginDescriptorsRepository type="Sitecore.Marketing.Automation.Data.PluginDescriptorsRepository, Sitecore.Marketing.Automation">
                <plugins hint="raw:AddPluginDescriptor">
                </plugins>
            </pluginDescriptorsRepository>
        </marketingAutomation>
        <services>
            <!-- Configurator used by Marketing Automation to register required services -->
            <configurator type= "Sitecore.Marketing.Automation.Client.MarketingAutomationClientServiceConfigurator, Sitecore.Marketing.Automation.Client"/>
        </services>
        <pipelines>
            <speak.client.resolveScript>
                <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
                    <sources hint="raw:AddSource">
                        <source folder="/sitecore/shell/client/Applications/MarketingAutomation" deep="true" category="ma" pattern="*.js,*.css" />
                    </sources>
                </processor>
            </speak.client.resolveScript>
            <Marketing.Automation.ExportCampaignContacts>
                <processor type="Sitecore.Marketing.Automation.Pipelines.PrepareExportContact, Sitecore.Marketing.Automation" resolve="true"/>
                <processor type="Sitecore.Marketing.Automation.Pipelines.ExportContact, Sitecore.Marketing.Automation" resolve="true"/>
            </Marketing.Automation.ExportCampaignContacts>
        </pipelines>
        <settings>
            <!-- Specifies the path to the rule items. -->
            <setting name="MarketingAutomation.RulesPath" value="/sitecore/system/Settings/Rules/XConnect - Conditions" />
            <!-- Specifies if Context.ContentLanguage.Name is used -->
            <setting name="MarketingAutomation.UseContextContentLanguage" value="false" />
            <!-- Specifies the number of contacts retrieved at a time when exporting contacts. -->
            <setting name="MarketingAutomation.ExportContactsBatchSize" value="250" />
        </settings>
        <appDependencies>
            <xdb>
                <!--Hides MA application button from Sitecore launchpad in case if XDB is disabled.-->
                <app id="{3A86E677-5AD1-4315-B7B5-EFA11988119A}" name="Marketing Automation" />
            </xdb>
        </appDependencies>
    </sitecore>
</configuration>