<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures a work of Sitecore Experience Editor. The SPEAK part of it - the declarations of server requests for Sitecore Experience Editor - is contained and described in the Sitecore.ExperienceEditor.Speak.Requests.config file.  

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <!--  Controls actions performed on presentation components in Page Editor -->
      <group groupName="ExperienceEditor" name="ExperienceEditor">
        <pipelines>
          <ribbonStylesheets>
            <processor type="Sitecore.ExperienceEditor.Pipelines.RibbonStyleSheets.AddStaticList, Sitecore.ExperienceEditor">
              <path patch:after="*[last()]">/sitecore/shell/client/sitecore/experienceeditor/pipelines/initializepageedit/optimizationviewmode.css</path>
              <path patch:after="*[last()]">/sitecore/shell/client/Sitecore/Speak/Ribbon/Panels/TestStatusPanel.css</path>
            </processor>
          </ribbonStylesheets>
          <pageEditingScripts>
            <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingScripts.AddDeclaredScripts, Sitecore.ExperienceEditor">
              <!--  Personalization  -->
              <path patch:after="*[last()]">/sitecore/shell/Applications/Page Modes/Personalization/RenderingCache.js</path>
              <path patch:after="*[last()]">/sitecore/shell/Applications/Page Modes/Personalization/Condition.js</path>
              <path patch:after="*[last()]">/sitecore/shell/Applications/Page Modes/Personalization/ConditionStateStorage.js</path>
              <path patch:after="*[last()]">/sitecore/shell/Applications/Page Modes/Personalization/ControlsContext.js</path>
              <path patch:after="*[last()]">/sitecore/shell/Applications/Page Modes/Personalization/Panel.js</path>
              <path patch:after="*[last()]">/sitecore/shell/Applications/Page Modes/Personalization/DropDown.js</path>
            </processor>
            <processor type="Sitecore.ContentTesting.Pipelines.PageEditingScripts.AddVariationTestingScripts, Sitecore.ContentTesting">
              <!--  Test Variation  -->
              <path>/sitecore/shell/Applications/Page Modes/Testing/Panel.js</path>
              <path>/sitecore/shell/Applications/Page Modes/Testing/ControlsContext.js</path>
              <path>/sitecore/shell/Applications/Page Modes/Testing/DropDown.js</path>
              <path>/sitecore/shell/Applications/Page Modes/Testing/RenderingCache.js</path>
            </processor>
          </pageEditingScripts>
          <getPageModeCapabilities>
            <processor type="Sitecore.ContentTesting.Pipelines.GetPageModeCapabilities.ContentTestingCapabilities, Sitecore.ContentTesting" />
          </getPageModeCapabilities>
          <executePageEditorAction>
            <!-- Analytics pipeline -->
            <processor type="Sitecore.ContentTesting.Pipelines.ExecutePageEditorAction.ActivateTestVariation, Sitecore.ContentTesting" patch:before="processor[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']" />
            <processor type="Sitecore.ContentTesting.Pipelines.ExecutePageEditorAction.ActivateCondition, Sitecore.ContentTesting" patch:before="processor[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']" />
          </executePageEditorAction>
          <executePageEditorActionArgumentResolver>
            <processor type="Sitecore.ContentTesting.Pipelines.ExecutePageEditorActionArgumentResolver.PersonalizationArguments, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Pipelines.ExecutePageEditorActionArgumentResolver.TestVarioationArguments, Sitecore.ContentTesting" />
          </executePageEditorActionArgumentResolver>
        </pipelines>
      </group>
    </pipelines>
    <!-- EXPERIENCE EDITOR COMMANDS
         The commands that run in the Experience Editor.
    -->
    <commands>
      <command name="webedit:editvariations" type="Sitecore.Shell.Applications.WebEdit.Commands.EditVariations, Sitecore.ContentTesting" />
      <command name="webedit:setpagevariation" type="Sitecore.Shell.Applications.WebEdit.Commands.Testing.SetPageVariation, Sitecore.ContentTesting" />
      <command name="webedit:personalize" type="Sitecore.Shell.Applications.WebEdit.Commands.Personalize, Sitecore.ContentTesting" />
      <command name="item:personalize" type="Sitecore.Shell.Applications.WebEdit.Commands.PersonalizeItem, Sitecore.ContentTesting" />
    </commands>
  </sitecore>
</configuration>