<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file contains the aggregation processors.
ENABLE FOR SERVER ROLE: [Processing]

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or Processing">
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.MvTestingProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.MvTestingDetailsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.TestPageClicksProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.TestConversionsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PageViewsByLanguageProcessor, Sitecore.ContentTesting">
              <DateTimePrecision type="Sitecore.Analytics.Aggregation.Data.DateTimeDayPrecisionStrategy, Sitecore.Analytics.Aggregation"/>
            </processor>
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PageViewsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.VisitsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PersonalizationProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PersonalizationRulesExposure, Sitecore.ContentTesting" />
          </interactions>
        </pipelines>
      </group>
    </pipelines>

    <!--<aggregation>
      <routines>
        <ExecRoutineStatementBuilder type="Sitecore.Analytics.Aggregation.Scripting.Builders.ExecRoutineStatementBuilder, Sitecore.Analytics.Sql" singleInstance="true">
          <mappings hint="list:AddMapping">
            <SqlMappingEntity type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_MvTesting</Table>
              <Routine>Add_MvTesting</Routine>
            </SqlMappingEntity>
            <SqlMappingEntity type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestStatistics</Table>
              <Routine>Add_TestStatistic</Routine>
            </SqlMappingEntity>
            <SqlMappingEntity type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_Visits</Table>
              <Routine>Add_Visits_Tvp</Routine>
              <IsMultiRow>True</IsMultiRow>
              <TableType>Visits_Type</TableType>
            </SqlMappingEntity>
          </mappings>
        </ExecRoutineStatementBuilder>
      </routines>
    </aggregation>-->

  </sitecore>
</configuration>