<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include configuration file contains declarations of server requests for Sitecore Experience Editor. This configuration file goes together with the Sitecore.ExperienceEditor.config file.

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <sitecore.experienceeditor.speak.requests>
      <!-- ProfileCards Start -->
      <request name="ExperienceEditor.ProfileCardsDialog.Url" type="Sitecore.ContentTesting.Speak.Ribbon.Requests.FormDialogUrl.ProfileCardsDialog, Sitecore.ContentTesting" />
      <request name="ExperienceEditor.SelectProfileCardDialog.Url" type="Sitecore.ContentTesting.Speak.Ribbon.Requests.FormDialogUrl.SelectProfileCardDialog, Sitecore.ContentTesting" />
      <request name="ExperienceEditor.ProfileCardsPanel.CanOpenProfileCard" type="Sitecore.ContentTesting.Speak.Ribbon.Requests.ProfileCards.CanOpenProfileCard, Sitecore.ContentTesting" />
      <!-- ProfileCards End -->

      <!-- Tracking Field Start -->
      <request name="ExperienceEditor.OpenTrackingField.CanOpen" type="Sitecore.ContentTesting.Speak.Ribbon.Requests.OpenTrackingField.CanOpenRequest, Sitecore.ContentTesting" />
      <request name="ExperienceEditor.OpenTrackingField.GetDialogUrl" type="Sitecore.ContentTesting.Speak.Ribbon.Requests.OpenTrackingField.GetDialogUrlRequest, Sitecore.ContentTesting" />
      <request name="ExperienceEditor.OpenTrackingField.Execute" type="Sitecore.ContentTesting.Speak.Ribbon.Requests.OpenTrackingField.ExecuteRequest, Sitecore.ContentTesting" />
      <!-- Tracking Field End -->
      
      <!-- Enable Control Bar Start -->
      <request name="ExperienceEditor.ControlBar.CanEnable" type="Sitecore.ContentTesting.Speak.Ribbon.Requests.ControlBar.CanEnable, Sitecore.ContentTesting" />
      <!-- Enable Control Bar End -->
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>