<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <AntiCsrf>
      <rules>
        <rule name="shell">
          <ignore contains="/Business Component Library/version 2/Layouts/Renderings/Common/SheerUI"/>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>