.sc-action-bar {
    height: auto;
    min-height: 60px;
}

.sc-action-bar:after {
    content: " ";
    display: table;
    clear: both; 
}

.sc-action-bar .sc-applicationHeader-back {
    height: 36px;
}

.sc-action-bar .sc-applicationHeader-actions .sc-actionpanel {
    height: auto;
}

.sc-action-bar .sc-border[data-sc-id='ActionBarRightBorder'],
.sc-action-bar .sc-contextToggleButton,
.sc-action-bar .btn[data-sc-id='SaveButton'] {
    float: right;
    margin-left: 15px;
}

.sc-action-bar .sc-border[data-sc-id='ActionBarLeftBorder'],
.sc-action-bar .sc-dropdownbutton[data-sc-id='LanguageDropDownButton'] {
    float: right;
    margin-right: 15px;
}

.sc-action-bar .sc-border[data-sc-id='ActionBarLeftBorder'] {
    border-right: 1px solid #cccccc;
}

.sc-action-bar .sc-border[data-sc-id='ActionBarRightBorder'] {
    border-left: 1px solid #cccccc;
}

.sc .sc-dialogWindow .dynatree-container {
    overflow: hidden;
}

.sc-dialogWindow[data-sc-id='EditActionDialogWindow'] .modal-body,
.sc-dialogWindow[data-sc-id='SelectMediaDialogWindow'] .modal-body {
    overflow: hidden !important;
}

.sc-dialogWindow[data-sc-id='EditActionDialogWindow'] .modal-body .sc-dialogWindow-body-container,
.sc-dialogWindow[data-sc-id='SelectMediaDialogWindow'] .modal-body .sc-dialogWindow-body-container {
    padding: 0;
}

div[data-sc-id="CustomDatePickerBorder"] input.sc-datepicker.form-control {
    max-width: none;
}

div[data-sc-id="AnalyticsBorder"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sc-form.sc-grid.sc-form-context-pane .sc-expander[data-sc-id="AdvancedSettings"] .sc-formcomponent label {
    padding-bottom: 0;
}

.sc-form.sc-grid.sc-form-context-pane .sc-expander[data-sc-id="AdvancedSettings"] .sc-bottom-padding {
    padding-bottom: 25px;
}

.sc-contextdetails .sc-contextdetails-title {
    padding-bottom: 0;
}

.sc-contextdetails .sc-contextdetails-content {
    padding-top: 10px;
}

.sc-contextdetails .nv-y.nv-axis text {
    display: none;
}

.sc-border[data-sc-id='MetricsChartBorder'].sc-compact-chart g:nth-child(5) {
    fill: #ccc !important;
}

.sc .sc-tab-control[data-sc-id='InfoTabControl'] .sc-tab-control-nav .sc-tab-control-tab-item a {
    padding-left: 11px;
    padding-right: 11px;
}

.sc .sc-text[data-sc-id='ComponentsDescription'],
.sc .sc-text[data-sc-id='SettingsDescription'] {
    color: #474747;
}

.sc .sc-tab-control .sc-draggableElement {
    margin-left: 3px;
    margin-right: 3px;
}

.sc .sc-tab-control .sc-draggableElement:first-of-type {
    margin-top: 3px;
}

.sc .sc-dialogWindow[data-sc-id='CreateGoalDialogWindow'] .modal-body.sc-dialogWindow-body {
    overflow: hidden !important;
}

.sc .sc-dialogWindow[data-sc-id='CreateGoalDialogWindow'] .modal-body .sc-dialogWindow-body-container .sc-formlabelleft {
    min-width: 150px;
    max-width: 150px;
}

.sc .sc-dialogWindow[data-sc-id='CreateGoalDialogWindow'] .modal-body .sc-dialogWindow-body-container .sc-formcomponent-wrapper {
    width: 50%;
}
