<?xml version="1.0"?>

<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or Processing or Reporting">
        <services>

            <!-- ISegmentationEngine -->

            <register
                serviceType="Sitecore.XConnect.Segmentation.ISegmentationEngine, Sitecore.XConnect.Segmentation.Engine"
                implementationType="Sitecore.XConnect.Segmentation.SegmentationEngine, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ISegmentationClientFactory, Sitecore.XConnect.Segmentation.Engine"
                implementationType="Sitecore.Marketing.Segmentation.SitecoreXConnectClientConfigurationFactory, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionModifier.ISegmentationExpressionModifier, Sitecore.XConnect.Segmentation.Engine"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionModifier.DefaultSegmentationExpressionModifier, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton">
            </register>

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionModifier.ISegmentationExpressionReplacer, Sitecore.XConnect.Segmentation.Engine"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionModifier.NumericOperationReplacer, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton">
            </register>

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionModifier.ISegmentationExpressionReplacer, Sitecore.XConnect.Segmentation.Engine"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionModifier.StringOperationReplacer, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton">
            </register>

            <!-- IContactSearchExpressionBuilder -->

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.IContactSearchExpressionBuilder, Sitecore.XConnect.Segmentation.Engine"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.ContactSearchExpressionBuilder, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.XConnect.Segmentation.Predicates.IContactSearchQueryFactory, Sitecore.XConnect.Segmentation.Predicates.Model]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.AndNodeConverter, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.XConnect.Segmentation.Predicates.IContactSearchQueryFactory, Sitecore.XConnect.Segmentation.Predicates.Model]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.OrNodeConverter, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.XConnect.Segmentation.Predicates.IContactSearchQueryFactory, Sitecore.XConnect.Segmentation.Predicates.Model]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.NotNodeConverter, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.XConnect.Segmentation.Predicates.IContactSearchQueryFactory, Sitecore.XConnect.Segmentation.Predicates.Model]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.NullNodeConverter, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.XConnect.Segmentation.Predicates.IContactSearchQueryFactory, Sitecore.XConnect.Segmentation.Predicates.Model]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.ConditionNodeConverter, Sitecore.XConnect.Segmentation.Engine"
                lifetime="Singleton" />

            <!-- IConditionExpressionBuilder -->

            <register
                serviceType="Sitecore.XConnect.Segmentation.Conditions.ExpressionBuilder.IConditionExpressionBuilder, Sitecore.XConnect.Segmentation.Conditions"
                implementationType="Sitecore.XConnect.Segmentation.Conditions.ExpressionBuilder.ConditionExpressionBuilder, Sitecore.XConnect.Segmentation.Conditions"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.Framework.Rules.ICondition, Sitecore.Framework.Rules.Abstractions]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.Conditions.ExpressionBuilder.AndNodeConverter, Sitecore.XConnect.Segmentation.Conditions"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.Framework.Rules.ICondition, Sitecore.Framework.Rules.Abstractions]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.Conditions.ExpressionBuilder.OrNodeConverter, Sitecore.XConnect.Segmentation.Conditions"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.Framework.Rules.ICondition, Sitecore.Framework.Rules.Abstractions]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.Conditions.ExpressionBuilder.NotNodeConverter, Sitecore.XConnect.Segmentation.Conditions"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.Framework.Rules.ICondition, Sitecore.Framework.Rules.Abstractions]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.Conditions.ExpressionBuilder.NullNodeConverter, Sitecore.XConnect.Segmentation.Conditions"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.TreeConverter.INodeConverter`2[[Sitecore.Marketing.Rules.IRuleConditionNode, Sitecore.Marketing], [Sitecore.Framework.Rules.ICondition, Sitecore.Framework.Rules.Abstractions]], Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.Conditions.ExpressionBuilder.ConditionNodeConverter, Sitecore.XConnect.Segmentation.Conditions"
                lifetime="Singleton" />

            <!-- IPredicateFactory -->

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.IPredicateFactory, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.DefaultPredicateFactory, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.IPropertyBinder, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.PropertyBinder, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.IPropertyTypeConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.TypeConverters.EnumConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.IPropertyTypeConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.TypeConverters.DateTimeConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.IPropertyTypeConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.TypeConverters.GuidConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.IPropertyTypeConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.XConnect.Segmentation.ExpressionBuilder.PredicateFactory.TypeConverters.DecimalConverter, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.XConnect.Segmentation.ExpressionBuilder.IPredicateDescriptorLocator, Sitecore.XConnect.Segmentation.ExpressionBuilder.Model"
                implementationType="Sitecore.Marketing.Segmentation.ExpressionBuilder.ContentTreePredicateDescriptorLocator, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

            <!-- Rule XML conversion -->

            <register
                serviceType="Sitecore.Marketing.Segmentation.RuleXmlConverter.IRuleXmlConverter, Sitecore.Marketing.Segmentation.xMgmt"
                implementationType="Sitecore.Marketing.Segmentation.RuleXmlConverter.RuleXmlConverter, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

            <!-- Rule Node Converters - Matched in reverse order by the Rule Xml Converter-->

            <register
                serviceType="Sitecore.Marketing.Segmentation.RuleXmlConverter.IRuleNodeXmlConverter, Sitecore.Marketing.Segmentation.xMgmt"
                implementationType="Sitecore.Marketing.Segmentation.RuleXmlConverter.AndXmlNodeConverter, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.Marketing.Segmentation.RuleXmlConverter.IRuleNodeXmlConverter, Sitecore.Marketing.Segmentation.xMgmt"
                implementationType="Sitecore.Marketing.Segmentation.RuleXmlConverter.OrXmlNodeConverter, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.Marketing.Segmentation.RuleXmlConverter.IRuleNodeXmlConverter, Sitecore.Marketing.Segmentation.xMgmt"
                implementationType="Sitecore.Marketing.Segmentation.RuleXmlConverter.NotXmlNodeConverter, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.Marketing.Segmentation.RuleXmlConverter.IRuleNodeXmlConverter, Sitecore.Marketing.Segmentation.xMgmt"
                implementationType="Sitecore.Marketing.Segmentation.RuleXmlConverter.NullXmlNodeConverter, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

            <register
                serviceType="Sitecore.Marketing.Segmentation.RuleXmlConverter.IRuleNodeXmlConverter, Sitecore.Marketing.Segmentation.xMgmt"
                implementationType="Sitecore.Marketing.Segmentation.RuleXmlConverter.ConditionXmlNodeConverter, Sitecore.Marketing.Segmentation.xMgmt"
                lifetime="Singleton" />

        </services>
    </sitecore>
</configuration>