<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Marketing platfrom definition management module.

In most cases, you should leave this file enabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <services>
      <register
        serviceType="Sitecore.Marketing.Definitions.MarketingAssets.Data.ItemDb.IIndexSettings, Sitecore.Marketing.Definitions.MarketingAssets.Repositories"
        implementationType="Sitecore.Marketing.Definitions.MarketingAssets.Data.ItemDb.DefaultIndexSettings, Sitecore.Marketing.Definitions.MarketingAssets.Repositories"
        lifetime="Singleton"/>
      <register
        serviceType="Sitecore.Marketing.Definitions.Repository.IDefinitionRecordMapper`1[[Sitecore.Marketing.Definitions.MarketingAssets.Data.MarketingAssetDefinitionRecord, Sitecore.Marketing]], Sitecore.Marketing.xMgmt"
        set:implementationType="Sitecore.Marketing.Definitions.MarketingAssets.Data.ItemDb.MarketingAssetDefinitionItemRepository+AssetMapper, Sitecore.Marketing.Definitions.MarketingAssets.Repositories"/>
      <register
        serviceType="Sitecore.Marketing.Definitions.MarketingAssets.Data.IMarketingAssetDefinitionRepository, Sitecore.Marketing"
        set:implementationType="Sitecore.Marketing.Definitions.MarketingAssets.Data.ItemDb.MarketingAssetDefinitionItemRepository, Sitecore.Marketing.Definitions.MarketingAssets.Repositories" />
    </services>
  </sitecore>
</configuration>