<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"  xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentDelivery or ContentManagement or Processing or Reporting or DedicatedDispatch">

    <exmLogger type="Sitecore.ExM.Framework.Diagnostics.Logger, Sitecore.ExM.Framework" singleInstance="true">
      <param desc="loggerName">Sitecore.EXM</param>
      <param desc="debugEnabled" ref="settings/setting[@name='EXM.Debug']/@value" />
    </exmLogger>

    <exm>
        <dateTimeFormatter type="Sitecore.ExM.Framework.Formatters.DateTimeFormatter, Sitecore.ExM.Framework" singleInstance="true">
            <template>&lt;span title="{0}"&gt;{1}&lt;/span&gt;</template>
            <defaultOptions type="Sitecore.ExM.Framework.Formatters.DateTimeFormatterOptions, Sitecore.ExM.Framework">
                <richFormatting>true</richFormatting>
                <showUtcOffset>true</showUtcOffset>
            </defaultOptions>
        </dateTimeFormatter>
    </exm>

    <settings>
      <!-- Specifies whether verbose logging is enabled. -->
      <setting name="EXM.Debug" value="false" />
    </settings>
    
  </sitecore>
</configuration>