<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="DedicatedDispatch">

    <exm>
      <!-- ROLES
           Describes which Email Experience Manager server roles are enabled by this configuration file.
      -->
      <roles>
        <role name="Email Processing/Dedicated Dispatch" />
      </roles>
    </exm>

    <pipelines>
      <!-- DISPATCH NEWSLETTER PIPELINE
           This is a customization of the DispatchNewsletter pipeline specific for dedicated dispatch servers.
      -->
      <DispatchNewsletter>
        <processor type="Sitecore.EmailCampaign.Cm.Pipelines.DispatchNewsletter.CheckPreconditions, Sitecore.EmailCampaign.Cm" resolve="true"/>
        <processor type="Sitecore.EmailCampaign.Cm.Pipelines.DispatchNewsletter.SendMessage, Sitecore.EmailCampaign.Cm" resolve="true" >
            <!-- The number of milliseconds to wait after dispatch is completed/aborted/paused in order to ensure logging statistics are updated across all dispatch servers. Can be set to 0 if there are no dedicated dispatch servers configured. -->
            <Sleep>2000</Sleep>
        </processor>
        <processor type="Sitecore.EmailCampaign.Cm.Pipelines.DispatchNewsletter.FinalizeDispatch, Sitecore.EmailCampaign.Cm" resolve="true" />
      </DispatchNewsletter>
    </pipelines>

  </sitecore>
</configuration>