<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="(Standalone or ContentManagement or Processing) and !DedicatedDispatch" search:require="Solr">
      <contentSearch>
          <indexConfigurations>
              <defaultSolrIndexConfiguration>
                  <fieldMap>
                      <fieldNames>
                          <field fieldName="message_type" returnType="string" />
                          <field fieldName="state" returnType="text" />
                      </fieldNames>
                  </fieldMap>
              </defaultSolrIndexConfiguration>
          </indexConfigurations>
      </contentSearch>
  </sitecore>
</configuration>