<?xml version="1.0" encoding="utf-8" ?>
<!--
Purpose: This include file configures Email delivery service API.
-->
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch">
        <log4net>
            <logger name="Sitecore.EDS" additivity="false">
                <level value="INFO" />
                <appender-ref ref="EdsLogFileAppender" />
            </logger>
            <appender name="EdsLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
                <file value="$(dataFolder)/logs/Eds.log.{date}.txt" />
                <appendToFile value="true" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
                </layout>
                <encoding value="utf-8" />
            </appender>
        </log4net>
        <exm>
            <eds>
                <!-- EDS LOGGER
                    Creates a Logger instance.
                -->
                <edsLogger type="Sitecore.ExM.Framework.Diagnostics.Logger, Sitecore.ExM.Framework" singleInstance="true">
                    <param desc="loggerName">Sitecore.EDS</param>
                    <param desc="debugEnabled">false</param>
                </edsLogger>

                <!-- LOGGER FACTORY
                    Provides an instance of ILogger.
                -->
                <loggerFactory type="Sitecore.EDS.Core.Diagnostics.LoggerFactory, Sitecore.EDS.Core" singleInstance="true">
                    <param ref="exm/eds/edsLogger" />
                </loggerFactory>

                <!-- ENVIRONMENT IDENTIFIER  
                    Value identifying current Sitrecore instance.
                -->
                <environmentIdentifier type="Sitecore.EDS.Core.Reporting.EnvironmentId, Sitecore.EDS.Core" singleInstance="true">
                    <param desc="environmentId">{CBB24274-F8BF-4F28-AC6D-CEABA5308CA8}</param>
                    <param desc="required">false</param>
                </environmentIdentifier>

                <!-- BOUNCED MESSAGES MANAGER  
                    Provides an instance of IBounceManager.
                -->
                <bounceManager type="Sitecore.EDS.Core.Reporting.BounceManager, Sitecore.EDS.Core" singleInstance="true" />

                <!-- SPAM COMPLAINTS MANAGER  
                    Provides an instance of IComplaintManager.
                -->
                <complaintManager type="Sitecore.EDS.Core.Reporting.ComplaintManager, Sitecore.EDS.Core" singleInstance="true" />

                <!-- DISPATCHING MANAGER  
                    Provides an instance of IDispatchManager.
                -->
                <dispatchManager type="Sitecore.EDS.Core.Dispatch.DispatchManager, Sitecore.EDS.Core" singleInstance="true" />

                <!-- SUPPRESSION MANAGER  
                    Provides an instance of ISuppressionManager.
                -->
                <suppressionManager type="Sitecore.EDS.Core.Reporting.SuppressionManager, Sitecore.EDS.Core" singleInstance="true" />

                <!-- APPROVED SENDERS MANAGER  
                    Provides an instance of ISenderManager.
                -->
                <senderManager type="Sitecore.EDS.Core.Senders.SenderManager, Sitecore.EDS.Core" singleInstance="true" />
            </eds>
        </exm>

        <services>
            <!-- Configurator used by EXM to register required services -->
            <configurator type= "Sitecore.EDS.Core.DependencyInjection.CustomServiceConfigurator, Sitecore.EDS.Core"/>
        </services>
    </sitecore>
</configuration>