<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentDelivery or ContentManagement">
        <services role:require="Standalone or ContentManagement">
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.AutomatedMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.AutomatedMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.UnsubscribeMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.UnsubscribeMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.SubscribeMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.SubscribeMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.ConfirmSubscriptionMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.ConfirmSubscriptionMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
            <register
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.EmailOpenMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.Handlers.EmailOpenedMessageHandler, Sitecore.EmailCampaign.Cm"
                lifetime="Transient" />
            <register
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.EmailAddressHistoryMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.Handlers.EmailAddressHistoryEntryHandler, Sitecore.EmailCampaign.Cm"
                lifetime="Transient" />
            <register
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.SentMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.Handlers.SentMessageHandler, Sitecore.EmailCampaign.Cm"
                lifetime="Transient" />
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.ClearSuppressionList, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.ClearSuppressionListMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
        </services>

        <initialize>
            <!-- Initializes the message bus for sending automated messages -->
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.MessageBus.InitializeMessageBus, Sitecore.EmailCampaign" resolve="true" />
        </initialize>

        <Messaging>
            <Rebus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.AutomatedMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer>
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>AutomatedMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <AutomatedMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.AutomatedMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>AutomatedMessagesQueue</DestinationQueue>
                                </AutomatedMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.AutomatedMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.UnsubscribeMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer>
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>UnsubscribeMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <UnsubscribeMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.UnsubscribeMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>UnsubscribeMessagesQueue</DestinationQueue>
                                </UnsubscribeMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>5</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.UnsubscribeMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.SubscribeMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer>
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>SubscribeMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <SubscribeMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.SubscribeMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>SubscribeMessagesQueue</DestinationQueue>
                                </SubscribeMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>5</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.SubscribeMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.ConfirmSubscriptionMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer>
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>ConfirmSubscriptionMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <ConfirmSubscriptionMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.ConfirmSubscriptionMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>ConfirmSubscriptionMessagesQueue</DestinationQueue>
                                </ConfirmSubscriptionMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>5</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.ConfirmSubscriptionMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.EmailOpenMessagesBus>
                    <Transport>
                        <SqlServer>
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>EmailOpenedMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <EmailOpenDtoMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.EmailOpenMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>EmailOpenedMessagesQueue</DestinationQueue>
                                </EmailOpenDtoMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>5</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.EmailOpenMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.ClearSuppressionListMessagesBus>
                    <Transport>
                        <SqlServer>
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>ClearSuppressionListQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <EmailOpenDtoMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.ClearSuppressionList, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>ClearSuppressionListQueue</DestinationQueue>
                                </EmailOpenDtoMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>5</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.ClearSuppressionListMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.EmailAddressHistoryBus role:require="Standalone or ContentManagement">
                    <Transport>
                        <SqlServer>
                            <OneWay>false</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>EmailAddressHistoryMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <EmailAddressHistoryMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.EmailAddressHistoryMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>EmailAddressHistoryMessagesQueue</DestinationQueue>
                                </EmailAddressHistoryMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options>
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.EmailAddressHistoryBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.SentMessagesBus role:require="Standalone or ContentManagement">
                    <Transport>
                        <SqlServer>
                            <OneWay>false</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>SentMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <SentMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.SentMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>SentMessagesQueue</DestinationQueue>
                                </SentMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options>
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.SentMessagesBus>
            </Rebus>
        </Messaging>
    </sitecore>
</configuration>