<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Email delivery service API.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch">
    <exm>
      <eds>
        <!-- BOUNCED MESSAGES PROVIDER
             Handles the reported bounced messages.    
        -->
        <bounceProvider defaultProvider="default">
          <providers>
            <clear />
            <add name="default" type="Sitecore.EDS.Core.Reporting.DeliveryReportProvider`1[[Sitecore.EDS.Core.Reporting.Bounce, Sitecore.EDS.Core]], Sitecore.EDS.Core">
              <bounceHandlers hint="list:AddHandler">
                <bounceHandler ref="exm/bouncedMessageHandler" />
              </bounceHandlers>
            </add>
          </providers>
        </bounceProvider>

        <!-- SPAM COMPLAINTS PROVIDER
             Handles the reported spam complaints.
        -->
        <complaintProvider defaultProvider="default">
          <providers>
            <clear />
            <add name="default" type="Sitecore.EDS.Core.Reporting.DeliveryReportProvider`1[[Sitecore.EDS.Core.Reporting.Complaint, Sitecore.EDS.Core]], Sitecore.EDS.Core">
              <complaintHandlers hint="list:AddHandler">
                <complaintHandler ref="exm/complaintHandler" />
              </complaintHandlers>
            </add>
          </providers>
        </complaintProvider>
      </eds>

      <!-- RECIPIENT LIST MANAGEMENT TASK POOL 
           A task pool for handling list management tasks related to bounces and spam complaints
      -->
      <recipientListManagementTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
        <param desc="id">recipient_list_management_task_pool</param>
        <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
      </recipientListManagementTaskPool>

      <recipientListManagementTaskProcessor type="Sitecore.EmailCampaign.Cm.Tasks.RecipientListManagementTaskProcessor, Sitecore.EmailCampaign.Cm" singleInstance="true" resolve="true" />

      <!-- BOUNCED MESSAGES TASK POOL
             A task pool for handling bounced messages
        -->
      <bouncedMessagesTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
        <param desc="id">bounced_messages_task_pool</param>
        <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
      </bouncedMessagesTaskPool>

      <bouncedMessageTaskProcessor type="Sitecore.EmailCampaign.Cm.Tasks.BouncedMessageTaskProcessor, Sitecore.EmailCampaign.Cm" singleInstance="true" resolve="true" />

      <!-- BOUNCED MESSAGE HANDLER
           Provides handling of bounced messages. 
           It creates a task in both the bouncedMessagesTaskPool and in the recipientListManagementTaskPool.
        -->
      <bouncedMessageHandler type="Sitecore.EmailCampaign.Cm.Handlers.BouncedMessageHandler, Sitecore.EmailCampaign.Cm" singleInstance="true">
          <param ref="exm/bouncedMessagesTaskPool"/>
          <param ref="exm/recipientListManagementTaskPool"/>
          <param ref="exm/eventDataService"/>
      </bouncedMessageHandler>

      <!-- SPAM COMPLAINTS TASK POOL
           A task pool for handling spam complaints
        -->
      <spamComplaintsTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
        <param desc="id">spam_complaints_task_pool</param>
        <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
      </spamComplaintsTaskPool>

      <spamComplaintTaskProcessor type="Sitecore.EmailCampaign.Cm.Tasks.SpamComplaintTaskProcessor, Sitecore.EmailCampaign.Cm" singleInstance="true" resolve="true" />

      <!-- SPAM COMPLAINT HANDLER
           Provides handling of spam complaints. 
           It creates a task in both the spamComplaintsTaskPool and in the recipientListManagementTaskPool.
        -->
      <complaintHandler type="Sitecore.EmailCampaign.Cm.Handlers.SpamComplaintHandler, Sitecore.EmailCampaign.Cm" singleInstance="true">
          <param ref="exm/spamComplaintsTaskPool"/>
          <param ref="exm/recipientListManagementTaskPool"/>
          <param ref="exm/eventDataService"/>
      </complaintHandler>

      <!-- DISPATCH FAILED TASK POOL
             A task pool for handling failed dispatch tasks
        -->
      <dispatchFailedTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
        <param desc="id">dispatch_failed_task_pool</param>
        <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
      </dispatchFailedTaskPool>

      <dispatchFailedTaskProcessor type="Sitecore.EmailCampaign.Cm.Tasks.DispatchFailedTaskProcessor, Sitecore.EmailCampaign.Cm" singleInstance="true" resolve="true" />

      <master>
        <session type="Sitecore.ExM.Framework.Distributed.Sessions.Session,Sitecore.ExM.Framework" singleInstance="true">
          <members hint="list:AddMember">
            <recipientListManagementTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
              <param desc="taskPool" ref="exm/recipientListManagementTaskPool" />
              <param desc="targetMinBufferAmount">10</param>
              <param desc="maxBatchSize">200</param>
              <param desc="idleIterationDuration">00:00:10.000</param>
              <param desc="activeIterationDuration">00:00:00.500</param>
              <param desc="leaseTime">00:01:00.000</param>
              <param desc="postponeTime">00:10:00.000</param>
              <param desc="maxDegreeOfParallelism">1</param>
              <param desc="maxFailedProcessingAttempts">5</param>
              <param desc="processor" ref="exm/recipientListManagementTaskProcessor" />
              <param desc="logger" ref="exmLogger" />
            </recipientListManagementTaskAgent>              
            <bouncedMessageTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
              <param desc="taskPool" ref="exm/bouncedMessagesTaskPool" />
              <param desc="targetMinBufferAmount">10</param>
              <param desc="maxBatchSize">200</param>
              <param desc="idleIterationDuration">00:00:10.000</param>
              <param desc="activeIterationDuration">00:00:00.500</param>
              <param desc="leaseTime">00:01:00.000</param>
              <param desc="postponeTime">00:05:00.000</param>
              <param desc="maxDegreeOfParallelism">1</param>
              <param desc="maxFailedProcessingAttempts">5</param>
              <param desc="processor" ref="exm/bouncedMessageTaskProcessor" />
              <param desc="logger" ref="exmLogger" />
            </bouncedMessageTaskAgent>
            <spamComplaintTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
              <param desc="taskPool" ref="exm/spamComplaintsTaskPool" />
              <param desc="targetMinBufferAmount">10</param>
              <param desc="maxBatchSize">200</param>
              <param desc="idleIterationDuration">00:00:10.000</param>
              <param desc="activeIterationDuration">00:00:00.500</param>
              <param desc="leaseTime">00:01:00.000</param>
              <param desc="postponeTime">00:05:00.000</param>
              <param desc="maxDegreeOfParallelism">1</param>
              <param desc="maxFailedProcessingAttempts">5</param>
              <param desc="processor" ref="exm/spamComplaintTaskProcessor" />
              <param desc="logger" ref="exmLogger" />
            </spamComplaintTaskAgent>
            <dispatchFailedTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
              <param desc="taskPool" ref="exm/dispatchFailedTaskPool" />
              <param desc="targetMinBufferAmount">10</param>
              <param desc="maxBatchSize">200</param>
              <param desc="idleIterationDuration">00:00:10.000</param>
              <param desc="activeIterationDuration">00:00:00.500</param>
              <param desc="leaseTime">00:01:00.000</param>
              <param desc="postponeTime">00:30:00.000</param>
              <param desc="maxDegreeOfParallelism">10</param>
              <param desc="maxFailedProcessingAttempts">5</param>
              <param desc="processor" ref="exm/dispatchFailedTaskProcessor" />
              <param desc="logger" ref="exmLogger" />
            </dispatchFailedTaskAgent>
          </members>
        </session>
      </master>
    </exm>
  </sitecore>
</configuration>
