<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="EmailCloud">
        <exm>
            <eds>
                <!-- SYNC LOG DATA PROVIDER
                     Provides access to the sync log data storage. 
                -->
                <syncLogDataProvider type="Sitecore.EDS.Providers.SparkPost.Data.SyncLogDataProvider, Sitecore.EDS.Providers.SparkPost" singleInstance="true">
                    <param ref="exm/eds/connectionStringConfiguration" />
                    <param ref="exm/eds/dataContextFactory" />
                </syncLogDataProvider>

                <!-- BOUNCES TASK POOL
                     A task pool for handling bounces
                -->
                <bouncesTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
                    <param desc="id">bounces_task_pool</param>
                    <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
                </bouncesTaskPool>

                <!-- BOUNCES TASK PROCESSOR
                     The task processor which handles bounce tasks created by PullBouncesAgent 
                -->
                <bouncesTaskProcessor type="Sitecore.EDS.Providers.SparkPost.Tasks.BouncesTaskProcessor, Sitecore.EDS.Providers.SparkPost">
                    <param ref="exm/eds/apiClient" />
                    <!-- Defines bounce classes which should set the bounce type to soft.
                    See https://support.sparkpost.com/customer/portal/articles/1929896 -->
                    <softBounceClasses hint="list:AddSoftBounceClass">
                        <softBounceClass>20</softBounceClass>
                        <softBounceClass>21</softBounceClass>
                        <softBounceClass>22</softBounceClass>
                        <softBounceClass>23</softBounceClass>
                        <softBounceClass>24</softBounceClass>
                        <softBounceClass>60</softBounceClass>
                        <softBounceClass>70</softBounceClass>
                        <softBounceClass>100</softBounceClass>
                    </softBounceClasses>                  
                </bouncesTaskProcessor>

                <!-- COMPLAINTS TASK POOL
                    A task pool for handling complaints
                -->
                <complaintsTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
                    <param desc="id">complaints_task_pool</param>
                    <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
                </complaintsTaskPool>

                <!-- COMPLAINTS TASK PROCESSOR
                     The task processor which handles complaints tasks created by PullComplaintsAgent 
                -->
                <complaintsTaskProcessor type="Sitecore.EDS.Providers.SparkPost.Tasks.ComplaintsTaskProcessor, Sitecore.EDS.Providers.SparkPost">
                    <param ref="exm/eds/apiClient" />
                </complaintsTaskProcessor>
            </eds>

            <master>
                <session type="Sitecore.ExM.Framework.Distributed.Sessions.Session,Sitecore.ExM.Framework" singleInstance="true">
                    <members hint="list:AddMember">
                        <bouncesTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
                            <param desc="taskPool" ref="exm/eds/bouncesTaskPool" />
                            <param desc="targetMinBufferAmount">10</param>
                            <param desc="maxBatchSize">200</param>
                            <param desc="idleIterationDuration">00:00:10.000</param>
                            <param desc="activeIterationDuration">00:00:00.500</param>
                            <param desc="leaseTime">00:01:00.000</param>
                            <param desc="postponeTime">00:10:00.000</param>
                            <param desc="maxDegreeOfParallelism">1</param>
                            <param desc="maxFailedProcessingAttempts">5</param>
                            <param desc="processor" ref="exm/eds/bouncesTaskProcessor" />
                            <param desc="logger" ref="exmLogger" />
                        </bouncesTaskAgent>
                        <complaintsTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
                            <param desc="taskPool" ref="exm/eds/complaintsTaskPool" />
                            <param desc="targetMinBufferAmount">10</param>
                            <param desc="maxBatchSize">200</param>
                            <param desc="idleIterationDuration">00:00:10.000</param>
                            <param desc="activeIterationDuration">00:00:00.500</param>
                            <param desc="leaseTime">00:01:00.000</param>
                            <param desc="postponeTime">00:10:00.000</param>
                            <param desc="maxDegreeOfParallelism">1</param>
                            <param desc="maxFailedProcessingAttempts">5</param>
                            <param desc="processor" ref="exm/eds/complaintsTaskProcessor" />
                            <param desc="logger" ref="exmLogger" />
                        </complaintsTaskAgent>
                    </members>
                </session>
            </master>
        </exm>

        <scheduling>
            <agent type="Sitecore.EDS.Providers.SparkPost.Tasks.SuppressionSyncAgent, Sitecore.EDS.Providers.SparkPost" method="Run" interval="01:00:00">
                <param ref="exm/eds/apiClient" />
                <param ref="exm/eds/syncLogDataProvider" />
                <param ref="exm/eds/suppressionDataProvider" />
                <runInterval>01:00:00</runInterval>
                <suppressionsCount>10000</suppressionsCount>
            </agent>
            <!-- The agent which pulls bounces from SparkPost -->
            <agent type="Sitecore.EDS.Providers.SparkPost.Tasks.PullBouncesAgent, Sitecore.EDS.Providers.SparkPost" method="Run" interval="01:00:00">
                <param ref="exm/eds/apiClient" />
                <param ref="exm/eds/syncLogDataProvider" />
                <param ref="exm/eds/bouncesTaskPool" />
                <runInterval>01:00:00</runInterval>
                <messageEventsCount>2500</messageEventsCount>
            </agent>
            <!-- The agent which pulls spam complaintsfrom  SparkPost -->
            <agent type="Sitecore.EDS.Providers.SparkPost.Tasks.PullComplaintsAgent, Sitecore.EDS.Providers.SparkPost" method="Run" interval="01:00:00">
                <param ref="exm/eds/apiClient" />
                <param ref="exm/eds/syncLogDataProvider" />
                <param ref="exm/eds/complaintsTaskPool" />
                <runInterval>01:00:00</runInterval>
                <messageEventsCount>2500</messageEventsCount>
            </agent>
            <!-- Agent which cleans up unused SMTP connections. Any connections which are not in use and have been idle for more than the configured maxConnectionIdleTime
            will be disposed -->
            <agent type="Sitecore.EDS.Providers.SparkPost.Tasks.ConnectionPoolAgent, Sitecore.EDS.Providers.SparkPost" method="Run" interval="00:10:00">
              <param desc="connectionPoolManager" ref="exm/eds/connectionPoolManager" />
              <param desc="logger" ref="exmLogger" />
            </agent>
        </scheduling>

    </sitecore>
</configuration>