<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Email delivery service API.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
    <exm>
      <eds>
        <!-- POP3 SETTINGS
             A list of pop3 settings for different pop3 clients.
        -->
        <pop3Settings>
          <pop3Setting type="Sitecore.EDS.Core.Net.Pop3.Pop3Settings, Sitecore.EDS.Core" singleInstance="true">
            <server>localhost</server>
            <port>110</port>
            <userName></userName>
            <password></password>
            <useSsl>false</useSsl>
            <startTls>false</startTls>
            <proxySettings ref="exm/eds/proxySettings"/>
          </pop3Setting>
        </pop3Settings>

        <!-- BOUNCE INSPECTOR
             Verifies the message mime is a bounce and determines the type of the bounce.
        -->
        <bounceInspector type="Sitecore.EDS.Core.Reporting.ChilkatBounceInspector, Sitecore.EDS.Core" singleInstance="true" />

        <!-- POP3 RECEIVERS COLLECTION
             Defines the POP3 bounce receivers collection
        -->
        <receiversCollection type="Sitecore.Modules.EmailCampaign.Core.MessageTransfer.ManagerRootsPop3ReceiversCollection, Sitecore.EmailCampaign">
            <param ref="exm/eds/bounceInspector"/>
            <param ref="exm/eds/environmentIdentifier" />
            <param ref="exmLogger" />
        </receiversCollection>
      </eds>
    </exm>
    
    <!-- PULL POP3 BOUNCES AGENT
         Handles the reported bounced messages.
    -->
    <scheduling>
      <agent type="Sitecore.EDS.Providers.CustomSmtp.Tasks.PullPop3BouncesAgent, Sitecore.EDS.Providers.CustomSmtp" method="Run" interval="01:00:00">
        <param ref="exm/eds/receiversCollection" />
      </agent>
    </scheduling>
  </sitecore>
</configuration>