<?xml version="1.0" encoding="utf-8" ?>
<!--
Purpose: This include file configures Email delivery service API.
-->
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
        <exm>
            <eds>
                <!-- PROXY SETTINGS
                    Proxy settings for SMTP and POP3 clients 
                -->
                <proxySettings type="Sitecore.EDS.Core.Net.ProxySettings, Sitecore.EDS.Core" singleInstance="true">
                    <enabled>false</enabled>
                </proxySettings>

                <!-- SMTP SETTINGS OBJECT
                    Creates SMTP settings class.
                -->
                <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
                    <server>localhost</server>
                    <port>25</port>
                    <userName></userName>
                    <password></password>
                    <authenticationMethod>None</authenticationMethod>
                    <startTls>false</startTls>
                    <proxySettings ref="exm/eds/proxySettings" />
                </smtpSettings>

                <!-- CONNECTION POOL SETTINGS 
                    Defines the connection pool settings.
                -->
                <connectionPoolSettings type="Sitecore.EDS.Core.Net.Smtp.ConnectionPoolSettings, Sitecore.EDS.Core" singleInstance="true">
                    <maxPoolSize ref="settings/setting[@name='NumberThreads']/@value" />
                    <delayBetweenConnectionRetries>00:00:10.000</delayBetweenConnectionRetries>
                    <maxConnectionWaitTime>00:00:30.000</maxConnectionWaitTime>
                    <maxConnectionIdleTime>00:10:00.000</maxConnectionIdleTime>
                    <maxConnectionRetries>3</maxConnectionRetries>
                </connectionPoolSettings>

                <!-- CONNECTION POOL
                    Defines the connection pool.
                -->
                <connectionPool type="Sitecore.EDS.Core.Net.Smtp.ChilkatConnectionPool, Sitecore.EDS.Core" singleInstance="true">
                    <param ref="exm/eds/connectionPoolSettings" />
                    <param ref="exm/eds/smtpSettings" />
                    <param ref="exmLogger" />
                </connectionPool>

                <!-- EMAIL DISPATCH PROVIDER
                    Provides email dispatching.
                -->
                <dispatchProvider defaultProvider="default">
                    <providers>
                        <clear />
                        <add name="default" type="Sitecore.EDS.Providers.CustomSmtp.DispatchProvider, Sitecore.EDS.Providers.CustomSmtp">
                            <param ref="exm/eds/connectionPool" />
                            <param ref="exm/eds/environmentIdentifier" />
                        </add>
                    </providers>
                </dispatchProvider>

                <!-- SENDER PROVIDER
                     The default provider is just a default implementation that does nothing.
                -->
                <senderProvider defaultProvider="default">
                    <providers>
                        <clear />
                        <add name="default" type="Sitecore.EDS.Providers.CustomSmtp.Senders.SenderProvider, Sitecore.EDS.Providers.CustomSmtp" />
                    </providers>
                </senderProvider>              

                <!-- BOUNCED MESSAGES PROVIDER
                    Handles the reported bounced messages.
                -->
                <bounceProvider defaultProvider="default">
                    <providers>
                        <clear />
                        <add name="default" type="Sitecore.EDS.Core.Reporting.DeliveryReportProvider`1[[Sitecore.EDS.Core.Reporting.Bounce, Sitecore.EDS.Core]], Sitecore.EDS.Core" />
                    </providers>
                </bounceProvider>

                <!-- SUPPRESSION PROVIDER
                    The default provider is just a default implementation that does nothing.
                -->
                <suppressionProvider defaultProvider="default">
                    <providers>
                        <clear />
                        <add name="default" type="Sitecore.EDS.Providers.CustomSmtp.Suppressions.SuppressionProvider, Sitecore.EDS.Providers.CustomSmtp" />
                    </providers>
                </suppressionProvider>
            </eds>
        </exm>
        <scheduling>
            <!-- Agent which cleans up unused SMTP connections. Any connections which are not in use and have been idle for more than the configured maxConnectionIdleTime
            will be disposed -->
            <agent type="Sitecore.EDS.Providers.CustomSmtp.Tasks.ConnectionPoolAgent, Sitecore.EDS.Providers.CustomSmtp" method="Run" interval="00:10:00">
                <param ref="exm/eds/connectionPool" />
                <param desc="logger" ref="exmLogger" />
            </agent>
        </scheduling>
    </sitecore>
</configuration>