<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file needs to be enabled in the Content Management Environment.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch">
        <experienceAnalytics>
            <client>
                <services>
                    <siteDefinitionService>
                        <filters>
                            <filter type="Sitecore.EmailCampaign.Cm.ExperienceAnalytics.ExmSiteFilter, Sitecore.EmailCampaign.Cm">
                                <param desc="siteName" ref="settings/setting[@name='EXM.DefaultEventSiteName']/@value" />
                            </filter>
                        </filters>
                    </siteDefinitionService>
                </services>
            </client>
        </experienceAnalytics>
    </sitecore>
</configuration>