<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or DedicatedDispatch">
    <appDependencies>
      <email dependencyEvaluator="Sitecore.EmailCampaign.Cm.Dependencies.DependencyEvaluator, Sitecore.EmailCampaign.Cm">
        <!--Hides EXM application button from Sitecore launchpad in case if XDB or EXM is disabled.-->
        <app id="{781A770B-A3C1-41EB-B185-D80160044E03}" name="Email Experience Manager" />
      </email>
    </appDependencies>
  </sitecore>
</configuration>