<?xml version="1.0" encoding="utf-8"?>

<!--
    
Purpose: This include file configures the SQL Server data provider for the Reference Data Service.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Processing or Standalone">
    <xdb.referenceData.sql>
      <sqlDataProvider type="Sitecore.Xdb.ReferenceData.SqlServer.SqlServerReferenceDataProvider, Sitecore.Xdb.ReferenceData.SqlServer">
        <!-- connectionStringOrName: The connection string or a name of the connection string used to connect to the SQL server. (default: xdb.referencedata) -->
        <param name="connectionStringOrName">xdb.referencedata</param>
        <param name="logger"
               type="Microsoft.Extensions.Logging.ILogger`1[[Sitecore.Xdb.ReferenceData.SqlServer.SqlServerReferenceDataProvider, Sitecore.Xdb.ReferenceData.SqlServer]], Microsoft.Extensions.Logging.Abstractions"
               resolve="true"/>
        <param name="retryManager"
               type="Sitecore.Xdb.Sql.Common.IRetryManager, Sitecore.Xdb.Sql.Common"
               resolve="true"/>
      </sqlDataProvider>
    </xdb.referenceData.sql>
    <services>
      <configurator
        type="Sitecore.Xdb.ReferenceData.SqlServer.Xmgmt.Configuration.SqlServerReferenceDataProviderConfigurator, Sitecore.Xdb.ReferenceData.SqlServer.Xmgmt" />
    </services>
  </sitecore>
</configuration>