<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="MarketingAutomationContactListsController">Sitecore.Marketing.Automation.ActivityDescriptors.Client.Controllers.ContactListsController, Sitecore.Marketing.Automation.ActivityDescriptors.Client</allowedController>
            <allowedController desc="MarketingAutomationProfilesController">Sitecore.Marketing.Automation.ActivityDescriptors.Client.Controllers.ProfilesController, Sitecore.Marketing.Automation.ActivityDescriptors.Client</allowedController>
            <allowedController desc="MarketingAutomationEventsController">Sitecore.Marketing.Automation.ActivityDescriptors.Client.Controllers.EventsController, Sitecore.Marketing.Automation.ActivityDescriptors.Client</allowedController>
            <allowedController desc="MarketingAutomationGoalsController">Sitecore.Marketing.Automation.ActivityDescriptors.Client.Controllers.GoalsController, Sitecore.Marketing.Automation.ActivityDescriptors.Client</allowedController>
            <allowedController desc="MarketingAutomationOutcomesController">Sitecore.Marketing.Automation.ActivityDescriptors.Client.Controllers.OutcomesController, Sitecore.Marketing.Automation.ActivityDescriptors.Client</allowedController>
            <allowedController desc="MarketingAutomationCampaignsController">Sitecore.Marketing.Automation.ActivityDescriptors.Client.Controllers.CampaignsController, Sitecore.Marketing.Automation.ActivityDescriptors.Client</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <services>
      <!-- Configurator used by Marketing Automation to register required services -->
      <configurator type="Sitecore.Marketing.Automation.ActivityDescriptors.Client.MarketingAutomationActivityDescriptorsClientServiceConfigurator, Sitecore.Marketing.Automation.ActivityDescriptors.Client" />
    </services>
  </sitecore>
</configuration>